//.ng-enter, .ng-leave { }
//.ng-enter { }        // starting animations for enter
//.ng-enter-active { } // terminal animations for enter
//.ng-leave { }        // starting animations for leave
//.ng-leave-active { } // terminal animations for leave

.animate-repeat {
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;

    &.ng-move,
    &.ng-enter,
    &.ng-leave {
        transition: all linear 1s;
    }
    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
        max-height: 0;
    }
    .ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        max-height: 40px;
        color: #049cdb;
    }
}
