//.ng-enter, .ng-leave { }
//.ng-enter { }        // starting animations for enter
//.ng-enter-active { } // terminal animations for enter
//.ng-leave { }        // starting animations for leave
//.ng-leave-active { } // terminal animations for leave

.animate-repeat {
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;

    &.ng-move,
    &.ng-enter,
    &.ng-leave {
        transition: all linear 1s;
    }
    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
        max-height: 0;
    }
    .ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        max-height: 40px;
        color: #049cdb;
    }
}

@mixin defineFadeIn($name, $maxOpacity){
    @keyframes #{$name} {
        from { opacity: 0; }
        to   { opacity: $maxOpacity; }
    }

    /* Firefox < 16 */
    @-moz-keyframes #{$name} {
        from { opacity: 0; }
        to   { opacity: $maxOpacity; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes #{$name} {
        from { opacity: 0; }
        to   { opacity: $maxOpacity; }
    }

    /* Internet Explorer */
    @-ms-keyframes #{$name} {
        from { opacity: 0; }
        to   { opacity: $maxOpacity; }
    }

    /* Opera < 12.1 */
    @-o-keyframes #{$name} {
        from { opacity: 0; }
        to   { opacity: $maxOpacity; }
    }
}
@include defineFadeIn(fadeIn, 1);
@include defineFadeIn(halfFadeIn, 0.5);

@mixin animate($name, $duration){
    -webkit-animation: $name $duration; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: $name $duration; /* Firefox < 16 */
    -ms-animation: $name $duration; /* Internet Explorer */
    -o-animation: $name $duration; /* Opera < 12.1 */
    animation: $name $duration;
}
