.ng-enter, .ng-leave { }
.ng-enter { }        /* starting animations for enter */
.ng-enter-active { } /* terminal animations for enter */
.ng-leave { }        /* starting animations for leave */
.ng-leave-active { } /* terminal animations for leave */


.animate-repeat {
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    max-height: 40px;
    color: #049cdb;
}