#blueprints-index{

    table.table {
        .blueprintDeployed {
            color: $COSMOUI_BLUEPRINTS_DEPLOY_COLOR;
        }
        tr {
          color: $text-color;

            td, th {
              border: none;


                &.icon {
                    width: 40px;
                    padding-top: 20px;
                }
                &.name, &.version, &.description, &.actions {
                    width: 25%;
                }
                &.description {
                    padding-right: 30px;
                }
                .deploy-button {
                    color: white;
                    font-weight: bold;
                    padding: 5px 10px 5px 10px;
                    background-color: $COSMOUI_BUTTON_BACKGROUND;
                    border-radius: 3px;
                    border-bottom: 1px solid $COSMOUI_BUTTON_BOTTOM_BORDER_COLOR;
                    border-right: 1px solid $COSMOUI_BUTTON_RIGHT_BORDER_COLOR;
                    border-top: none;
                    border-left: none;
                    float: left;
                }
                .deployments-number {
                    background: #CADBEC center;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    float: left;
                    text-align: center;
                    margin-left: 10px;
                    margin-top: 5px;
                }
            }
          &:nth-child(even) {
            background-color: #ededed;
          }
        }
    }

  .connect-error-message {
    color: #f00;
    margin-left: 20px;
    margin-top: 20px;
  }

  .no-blueprints-message {
    color: #000;
    margin-left: 20px;
    margin-top: 20px;
  }

  .loading {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 100px;
    height: 100px;
    background: url("/images/loading-anim.gif") no-repeat center center;;
  }
}