#blueprints-index{

    #main-content-panel {
      padding-right: 40px;
    }

    table.table {
        .blueprintDeployed {
            color: $COSMOUI_BLUEPRINTS_DEPLOY_COLOR;
        }
        tr {
          color: $text-color;

            th {
              height: $COSMOUI_LIST_HEADER_HEIGHT;
            }

            td {
              height: $COSMOUI_LIST_LINE_HEIGHT;
            }

            td, th {
              border: none;

                &.icon {
                    width: 40px;
                    padding-top: 20px;
                }
                &.name, &.created, &.updated {
                    width: 33%;
                }
                &.deployments {
                  min-width: 125px;
                }
                &.actions {
                    min-width: 220px;
                }
                &.description {
                    padding-right: 30px;
                }
                .deploy-button {
                    color: $clr-base-20;
                    background-color: $clr-base-01;
                    font-weight: bold;
                    padding: 5px 10px 5px 10px;
                    border-radius: 5px;
                    border: 2px solid $clr-base-04;
                    float: left;

                    &.disabled {
                      background: $COSMOUI_BUTTON_DISABLED_BACKGROUND;
                    }

                    &.enabled {
                      background: $COSMOUI_BUTTON_BACKGROUND;
                    }
                }
                .deployments-number {
                    margin: auto;
                    border: 2px solid #CADBEC;
                    background-color: $clr-base-01;
                    width: 32px;
                    height: 32px;
                    border-radius: 5px;
                    text-align: center;
                    color: $clr-base-20;
                    padding-top: 4px;
                }
            }
        }
    }

  .connect-error-message {
    color: #f00;
    margin-left: 20px;
    margin-top: 20px;
  }

  .no-blueprints-message {
    color: #000;
    margin-left: 20px;
    margin-top: 20px;
  }

  .loading {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 100px;
    height: 100px;
    background: url("/images/loading-anim.gif") no-repeat center center;;
  }
}