.bp-action-selector {

    display: inline-block;

    .btn-group {

        display: flex;
        border-radius: 5px;
        border: 2px solid #cadbec;
        background-color: #fff;

        [dropdown-toggle] {
            border-left: 1px solid #ccc;
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
            span {
                color: #ccc;
            }
        }

        .btn + .btn {
            margin-left: 0;
        }
    }

    .btn {
        border: 0 solid transparent;
        border-radius: 3px;
        background-color: #fff;
        text-align: center;
        float: none;

        &:hover {
            background-color: #cce4f6;
        }
    }

    #split-button {
        min-width: 160px;
        padding: 6px 0;
        margin: 0;
    }

    ul {
        padding: 0;
        li {
            button {
                min-width: 160px;
                padding: 6px 0;
            }
        }
    }
}

