cancel-execution{
    .cancel-execution-button {
        font-size: 30px;
        color: #3aaeda;
        text-align: center;
        margin-left: 3px;
        width: auto;

        &:hover {
            color: #136e9d;
        }
    }
}
