
/*
A color palette for the application. These are unique colors and should be reused across the stylesheets.
When adding new colors, please add them here and assign their variable to another variable inside _variables.scss,
e.g. "$LINK_COLOR: $clr-base-01", or simply inject their variable directly where needed, e.g. "color: $clr-base-01".
----------------------------------------------------------------------------------------------------------------------*/

/* opaque colors */
$clr-base-00: #2c4a67 !default;
$clr-base-01: #ffffff !default;
$clr-base-02: #4885c0 !default;
$clr-base-03: #d0d0d0 !default;
$clr-base-04: #cadbec !default;
$clr-base-05: #cce4f6 !default;
$clr-base-06: #234e71 !default;
$clr-base-07: #cecece !default;
$clr-base-08: #496685 !default;
$clr-base-09: #e8edf2 !default;
$clr-base-10: #22619d !default;
$clr-base-11: #4b6c8b !default;
$clr-base-12: #d3dfe2 !default;
$clr-base-13: #3475b4 !default;
$clr-base-14: #2d6faf !default;
$clr-base-15: #008000 !default;
$clr-base-16: #bcbcbc !default;
$clr-base-17: #5a82a2 !default;
$clr-base-18: #8eaf26 !default;
$clr-base-19: #d54931 !default;
$clr-base-20: #29aaee !default;
$clr-base-21: #333333 !default;

/* translucent colors */
$clr-base-alpha-01: rgba(208, 208, 208, 0.8) !default;
$clr-base-alpha-02: rgba(144, 144, 144, 0.5) !default;
$clr-base-alpha-03: rgba(255, 255, 255, 0.95) !default;
