table.table {
    width: $COSMOUI_LIST_WIDTH;
    margin: $COSMOUI_LIST_MARGIN;
    margin-left: 20px;

    thead {
      tr {
        th {
          border: 0px !important;
          background: $COSMOUI_LIST_COLUMN_HEADER_BACKGROUND;
          color: $COSMOUI_LIST_COLUMN_HEADER_TEXT_COLOR;
          vertical-align: middle !important;
          height: 32px;
          border: none;
          font-weight: normal;
          padding: 5px 0px 5px 10px;

          &.sorting {
            padding-left: 20px;
            cursor: pointer;
            &.asc {
              background-image: url('../images/sort-asc.gif');
              background-repeat: no-repeat;
              background-position: left 5px center;
            }
            &.desc {
              background-image: url('../images/sort-desc.gif');
              background-repeat: no-repeat;
              background-position: left 5px center;
            }
            &:hover {
              background-color: #D9EDFC;
            }
          }
        }
      }
    }
    tbody {
        border: 0px !important;
        tr {
            td {
                vertical-align: middle;
                height: 53px;
                border: none;
                background-color: transparent;
                padding: 5px 0px 5px 10px;
            }
            //&:nth-child(odd) {
            //    background-color: $COSMOUI_LIST_LINE_ODD_BACKGROUND;
            //}
            &:hover {
                background-color: $COSMOUI_LIST_HOVER_BACKGROUND;
                cursor: $COSMOUI_DIALOG_CURSOR;
            }
        }
    }
    tbody:nth-child(odd) {
      tr {
        background-color: $COSMOUI_LIST_LINE_ODD_BACKGROUND;
        &:hover {
          background-color: $COSMOUI_LIST_HOVER_BACKGROUND;
          cursor: $COSMOUI_DIALOG_CURSOR;
        }
      }
    }
    i {
        color: $COSMOUI_EVENTS_LIST_ITEM_COLOR;
    }
}

.gs-btn {
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    background-color: $COSMOUI_BUTTON_BACKGROUND;
    border-radius: 3px;
    border-bottom: 1px solid $COSMOUI_BUTTON_BOTTOM_BORDER_COLOR;
    border-right: 1px solid $COSMOUI_BUTTON_RIGHT_BORDER_COLOR;
    border-top: none;
    border-left: none;
    vertical-align: middle;
}

//.select-list-button {
//  width: 160px;
//  height: 35px;
//  float: left;
//
//  .gs-select {
//    color: $clr-base-20;
//    background-color: $clr-base-01;
//    font-weight: bold;
//    padding: 5px 10px 5px 10px;
//    border-radius: 5px;
//    border: 2px solid $clr-base-04;
//
//    height: 35px;
//    width: 160px;
//    float: left;
//    font-size: 14px;
//    box-shadow: none;
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    appearance: none;
//    cursor: pointer;
//
//    &.disable {
//      background: transparent;
//      color: $clr-base-27;
//    }
//  }
//
//  .select-list-arrow {
//    background-color: $clr-base-01;
//    width: 24px;
//    height: 31px;
//    position: relative;
//    left: 132px;
//    top: 2px;
//    border-left: 2px solid $clr-base-09;
//
//    &:after {
//      content: "";
//      position: relative;
//      left: 7px;
//      bottom: 17px;
//      border-left: 5px solid transparent;
//      border-right: 5px solid transparent;
//      border-top: 5px solid $clr-base-20;
//    }
//  }
//}

.gs-selection-button {
  width: 150px;
  height: 35px;
  float: left;

  .gs-select {
    min-width: 0px;
    height: 35px;
    width: 150px;
    color: $clr-base-20;
    background-color: $clr-base-01;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid $clr-base-04;
    float: left;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &.disable {
      background: transparent;
      color: $clr-base-27;
    }

    div.button {
      background-color: $clr-base-01;
      border: none;

      label {
        padding: 0px;
      }
    }
    &.open {
      height: 35px;
    }
  }

  .select-list-arrow {
    background-color: $clr-base-01;
    width: 24px;
    height: 31px;
    position: relative;
    left: 122px;
    top: 2px;
    border-left: 2px solid $clr-base-09;

    &:after {
      content: "";
      position: relative;
      left: 7px;
      bottom: 17px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $clr-base-20;
    }
  }
}
