#deployment {

    #plans-index-events-widget {
        position: absolute;
        right: $COSMOUI_DEPLOYMENT_EVENT_WIDGET_RIGHT;
        top: $COSMOUI_DEPLOYMENT_EVENT_WIDGET_TOP;
        z-index: 9998;
    }

    #deployment-header {
        width: $COSMOUI_DEPLOYMENT_HEADER_WIDTH;

        .content-header {
          border-bottom: 3px solid $COSMOUI_MAIN_CONTENT_TITLE_SEPERATOR_COLOR;
          height: 62px;
          margin-bottom: 10px;
          overflow: hidden;
          width: 90%;
        }

        .header-left {
            #settings-button {
                display: inline-block;
                margin-left: 10px;
                margin-top: 2px;
                cursor: pointer;
            }

            .actions {
              display: inline-block;
              margin-left: 30px;
              margin-top: 2px;
              width: 230px;

              i {
                position: relative;
                top: 2px;
                left: 3px;
                cursor: pointer;
                width: 32px;
                height: 32px;
                display: inline-block;

                &.deployment-play {
                  &.play {
                    background-image: url($img-deployment-play);
                  }

                  &.disabled {
                    background-image: url($img-deployment-play-disabled);
                  }

                  &:hover {
                    background-image: url($img-deployment-play-selected);
                  }
                }

                &.deployment-pause {
                  &.pause {
                    background-image: url($img-deployment-pause);
                  }

                  &:hover {
                    background-image: url($img-deployment-pause-selected);
                  }
                }
              }

              .deploymentExecute {
                cursor: default;
                position: relative;
                left: 50px;
                display: inline-block;
              }

              .executingWorkflow {
                min-width: 0px;
                height: 32px;
                width: 150px;
                color: $clr-base-11;
                background-color: $clr-base-05;
                font-weight: bold;
                padding: 5px 10px 5px 10px;
                margin-right: 5px;
                margin-top: 2px;
                border-radius: 5px;
                border: 2px solid #cadbec;
                float: left;
                font-size: 14px;
                box-shadow: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: default;
              }
            }
        }

        .header-right {
            position: relative;
            width: $COSMOUI_DEPLOYMENT_RIGHT_HEADER_WIDTH;
            float: right;
            left: 40px;

            #appStatus {
                float: right;
                width: $COSMOUI_DEPLOYMENT_APP_STATUS_WIDTH;
                height: $COSMOUI_DEPLOYMENT_APP_STATUS_HEIGHT;
                background: $COSMOUI_DEPLOYMENT_APP_STATUS_BACKGROUND;
                border-bottom-left-radius: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER_BOTTOM_LEFT_RADIUS;
                border-left: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER;
                border-bottom: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER;
            }
        }
    }

    #right-side-menu {

      .close-properties-button {
        cursor: pointer;
      }

      .content {

        .buttons-group {
          float: left;
          margin-left: 0px;
        }

        select {
          background: #FFFFFF;
          height: 28px;
          width: 230px;
          float: left;
          font-size: 14px;
          box-shadow: none;
          border-radius: 0px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: 0px 5px 0px 5px;
          border: 1px solid #d3dfe2;
          cursor: pointer;
          margin: 6px 4px 0px 0px;
          padding-right: 17px;
        }

        .selectbox-arrow {
          float: left;
          top: 10px;
          position: relative;
          right: 20px;
          margin-top: 7px;
          margin-right: 5px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #333;
        }

          .content-section {
              position: relative;
              padding-left: 0px;

              .overview-node-name {
                  font-size: 16px;
                  font-weight: bold;
                  color: #333;
                  margin-bottom: 5px;
              }

          table.overview-data {
            margin-bottom: 30px;
          }

          table.relationships-table {
              width: 100%;

              tr {
                border-bottom: none;
                cursor: pointer;

                //&:first-child {
                //  background-color: transparent;
                //}

                &:first-child td {
                  background-color: #d3dfe2;
                  height: 30px;
                  color: #333333;
                  font-size: 13px;
                  padding-left: 5px;
                }

                td {
                  min-width: 120px;
                  vertical-align: middle;
                  padding-left: 0px;

                  table {
                    width: 100%;
                    //margin-left: 10px;

                    tr {

                      &:first-child {
                        background-color: $clr-base-09;
                        td {
                          background-color: #fff;
                        }
                      }

                      .relationship-arrow {
                        float: left;

                        &.right {
                          margin-top: 5px;
                          margin-right: 10px;
                          border-top: 5px solid transparent;
                          border-bottom: 5px solid transparent;
                          border-left: 5px solid #333;
                        }

                        &.down {
                          margin-top: 7px;
                          margin-right: 5px;
                          border-left: 5px solid transparent;
                          border-right: 5px solid transparent;
                          border-top: 5px solid #333;
                        }
                      }

                      //&:first-child td {
                      //  background-color: #d3dfe2;
                      //  height: 30px;
                      //  color: #333333;
                      //  font-size: 13px;
                      //  padding-left: 5px;
                      //}

                      &:hover:not(:first-child) td{
                        background: none;
                        color: #333333;
                      }

                      td {
                        height: 30px;
                        border-bottom: 1px solid #cadbec;

                        table {

                          margin-left: 10px;
                          width: 98%;

                          tr {
                            &:first-child td {
                              background: none;
                              border-bottom: 1px solid #cadbec;
                            }

                            td {
                              padding-left: 5px;
                              ul {
                                li {
                                  list-style: none;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
          }
        }
      }
    }

    .content-section {
        width: 100%;
        height: 100%;

        .filters {
            position: relative;
            margin: 0 0 10px 0;
            .multiSelectMenu {
                margin: 0 15px 0 5px;
                vertical-align: middle;
            }
            .search {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                input {
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px 1px 1px 1px;
                    padding: 5px 25px 5px 10px;
                    border-radius: 3px 0 0 3px;
                    outline: none;
                    &:focus {
                        border-color: #29A9EE;
                    }
                }
                button {
                    background-color: #f5f5f5;
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px 1px 1px 0;
                    padding: 5px 10px;
                    border-radius: 0 3px 3px 0;
                    outline: none;
                    &:hover {
                        border-color: #29A9EE;
                        background-color: #29A9EE;
                        color: #fff;
                    }
                }
                .close {
                    position: absolute;
                    right: 51px;
                    top: 1px;
                    padding: 5px;
                    font-size: 17px;
                }
            }
            .loading {
                position: absolute;
                top: 0;
                right: 0;
                width: 120px;
                height: 30px;
                background-image: url('../images/loading-dots.gif');
                background-repeat: no-repeat;
                background-position: center center;
            }
            > span {
                margin: 0 0 10px 0;
                display: inline-block;
            }
        }

        [ng-switch-when='events'] {
            padding: 0 10px;
        }

        .emptyTable {
            display: block;
            text-align: center;
            padding: 20px;
        }

        table.table {
            width: 100%;
            margin: 0px;
            tr.details {
                background-color: #f5f5f5;
                border-bottom: 1px solid #ccc;
                padding: 10px;
                .group {
                    display: inline-block;
                    border-right: 1px dotted #ccc;
                    min-width: 250px;
                    height: 100%;
                    font-size: 13px;
                    vertical-align: top;
                    > span {
                        display: block;
                        padding: 5px 0;
                        margin: 0 10px;
                    }
                    &:last-child {
                        border: 0px;
                    }
                }
            }
            tr {
                td {
                    &.type {
                        width: 150px;
                    }
                    &.icon {
                        width: 60px;
                    }
                    &.node, &.task, &.workflow {
                        width: 110px;
                    }
                    &.task {
                        width: auto;
                    }
                    &.action {
                        width: 75px;
                    }
                    &.date {
                        width: 200px;
                    }
                    &.cliclable {
                        cursor: pointer;
                    }
                    &.event-text-green {
                        color: $COSMOUI_EVENTS_LIST_TEXT_SUCCESS;
                    }
                    &.event-text-red {
                        color: $COSMOUI_EVENTS_LIST_TEXT_FAILED;
                    }
                    &.event-icon-workflow-stage {
                        background: url("#{$img-workflow-stage}") no-repeat center center;
                    }
                    &.event-icon-workflow-started {
                        background: url("#{$img-workflow-started}") no-repeat center center;
                    }
                    &.event-icon-workflow-end-successfully {
                        background: url("#{$img-workflow-end-successfully}") no-repeat center center;
                    }
                    &.event-icon-workflow-failed {
                        background: url("#{$img-workflow-failed}") no-repeat center center;
                    }
                    &.event-icon-task-started {
                        background: url("#{$img-task-started}") no-repeat center center;
                    }
                    &.event-icon-task-failed {
                        background: url("#{$img-task-failed}") no-repeat center center;
                    }
                    &.event-icon-task-sent {
                        background: url("#{$img-task-sent}") no-repeat center center;
                    }
                    &.event-icon-task-success {
                        background: url("#{$img-task-success}") no-repeat center center;
                    }
                    &.event-icon-policy-success {
                        background: url("#{$img-policy-success}") no-repeat center center;
                    }
                    &.event-icon-policy-failed {
                        background: url("#{$img-policy-failed}") no-repeat center center;
                    }
                }
            }
        }
    }

    .newEvents {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        font-size: 15px;
        text-align: center;
        > p {
            display: inline-block;
            background-color: #049cdb;
            color: #fff;
            margin: 0 auto;
            padding: 2px 10px;
            border-radius: 13px;
            box-shadow: 1px 1px 0px #0482c7;
            cursor: pointer;
        }
    }

    .piProgress {
        .percents {
            display: none;
            text-align: center;
            position: relative;
            top: 10px;
            font-size: 11px;
            &::after {
                content: "%";
            }
        }
        .pieInProgress {
            -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
            i {
                display: none;
            }
            .percents {
                display: block;
            }
        }
        &[status='0'] {
            .circle[state='0'] {
                @extend .pieInProgress;
                background-color: #dddddd !important;
            }
            .circle[state='1'] {
                @extend .pieInProgress;
                background-color: #bebebe !important;
            }
            .circle[state='2'] {
                @extend .pieInProgress;
                background-color: #3aaaed !important;
            }
            .circle[state='3'] {
                @extend .pieInProgress;
                background-color: #66a2c5 !important;
            }
            .circle[state='4'] {
                @extend .pieInProgress;
                background-color: #136e9d !important;
            }
            .circle[state='5'] {
                @extend .pieInProgress;
                background-color: #136e9d !important;
            }
            .circle[state='6'] {
                @extend .pieInProgress;
                background-color: #136e9d !important;
            }
        }
    }

    .monitor {
        margin: 0 20px;
        .navigate {
            position: relative;
            display: block;
            background-color: #f5f5f5;
            text-align: center;
            padding: 10px;
            border-top: 3px solid #136e9d;
            margin: 0 0 2%;
            .arrowBtn {
                position: absolute;
                top: 0px;
                width: 39px;
                height: 39px;
                cursor: pointer;
                &.left {
                    left: 0px;
                }
                &.right {
                    right: 0px;
                }
                &:hover {
                    background-color: #0099FF;
                    i {
                        color: #fff;
                    }
                }
                i {
                    position: absolute;
                    top: 10px;
                    left: 13px;
                    font-size: 20px;
                }
            }
        }

        .pagesFrame {
            position: relative;
            display: block;
            overflow-x: hidden;
            .pages {
                display: block;
                position: relative;
                left: 0px;
                -webkit-transition: left linear 0.5s;
                transition: left linear 0.5s;
                .page {
                    display: inline-block;
                    vertical-align: top;
                    .chart {
                        display: inline-block;
                        width: 49%;
                        height: 430px;
                        margin: 0 2% 2% 0;
                        padding: 10px;
                        background-color: #f5f5f5;
                        border: 1px solid #ccc;
                        vertical-align: top;
                        &:nth-child(even) {
                            margin-right: 0px;
                        }
                        &.newChart {
                            background-color: #fff;
                            border: 1px dotted #ccc;
                            padding: 25px;
                            margin-right: 0px;
                            h3 {
                                margin-top: 0px;
                            }
                            label {
                                display: block;
                                font-weight: normal;
                                margin: 0 0 10px 0;
                                &.checkbox {
                                    display: inline-block;
                                }
                            }
                            input[type='text'], select {
                                border-radius: 3px;
                                padding: 5px;
                                background-clip: padding-box;
                                background-color: #f4fbff;
                                border: 1px solid #ccc;
                                margin: 5px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }

}