#deployments{

  .deploymentExecute {
    margin-top: 10px;
    margin-left: 4px;
    width: 25px;
    height: 25px;
    background: url("/images/progress.gif") no-repeat center center;
    background-color: #fff;
    border-radius: 25px;
  }

  .disable {
    color: $COSMOUI_BUTTON_DISABLED_BACKGROUND;
  }

  table {
    width: $COSMOUI_LIST_WIDTH;
    margin: $COSMOUI_LIST_MARGIN;

    tr {
      td {
        cursor: $COSMOUI_DIALOG_CURSOR;

        &.actions {
          width: $COSMOUI_LIST_HOVER_ACTION_WIDTH;
          font-size:$COSMOUI_LIST_HOVER_ACTION_FONT_SIZE;

          select {
            background: #cce4f6;
            height: 35px;
            width: 160px;
            float: left;
            font-size: 14px;
            box-shadow: none;
            border: none;
            border-radius: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 7px;
            cursor: pointer;

            &.disable {
              background: transparent;
              color: #000;
            }
          }

          i {
            color: $COSMOUI_LIST_HOVER_ACTION_TEXT_COLOR;
            font-weight: $COSMOUI_LIST_HOVER_ACTION_FONT_WEIGHT;
          }
        }
      }
    }

    i {
      color: $COSMOUI_EVENTS_LIST_ITEM_COLOR;
      padding-left: 7px;
      padding-top: 2px;
      float: left;
    }

    .cancel-execution {
      padding-top: 8px;
      font-size: 30px;
    }

    .executingWorkflow {
      font-size: 14px;
      float: left;
      margin-top: 10px;
      width: 155px;
      padding-left: 10px;
    }
  }

  .connect-error-message {
    color: #f00;
    margin-left: 20px;
    margin-top: 20px;
  }

  .no-blueprints-message {
    color: #000;
    margin-left: 20px;
    margin-top: 20px;
  }

  .loading {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 100px;
    height: 100px;
    background: url("/images/loading-anim.gif") no-repeat center center;;
  }
}
