#deployment-progress-panel {
  width: 100%;

//  position: absolute;
//  bottom: 0px;

  font-size: 12px;
  color: $clr-base-00;

  .data {
    display: inline-block;
    position: relative;
    bottom: 3px;
    width: 20%;

    &.name, &.status {
      text-align: left;
    }

    &.ready, &.failed, &.in-progress {
      text-align: center;
    }
  }

  &.closed {
    background-color: $clr-base-09;
    height: 35px;
    border-top: 1px solid $clr-base-28;
    padding-left: 10px;
    position: relative;

    .panel-progress-bar {
      width: 60px;
      height: 25px;
      border-radius: 5px;
      background-color: $clr-base-29;
      border: 2px solid $clr-base-04;
      display: inline-block;
      top: 5px;
      position: relative;
      padding-top: 5px;
      padding-left: 10px;
    }

    .expand-button {
      background: url("#{$img-panel-expand}") no-repeat center center;
      width: 20px;
      height: 20px;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      top: 7px;
      right: 10px;
    }
  }

  &.opened {
    background-color: $clr-base-01;
//    height: 200px;
    border-top: 20px solid $clr-base-00;
    position: relative;

    .collapse-button {
      background: url("#{$img-panel-collapse}") no-repeat center center;
      width: 20px;
      height: 20px;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 2px;
    }

    table {
      position: relative;
      top: 10px;
      width: 100%;

      thead {
        tr {
          background-color: $clr-base-01;

          th {
            font-weight: normal;
            padding-left: 5px;
          }
        }
      }

      tr {
        background-color: $clr-base-09;
        border-bottom: 1px solid $clr-base-01;

        td {
          height: 35px;
          padding-top: 12px;
          padding-left: 5px;

          .panel-progress-dots {
            position: relative;
            top: 5px;
          }

          .panel-button {
            width: 22px;
            height: 22px;
            position: relative;
            left: 40px;
            cursor: pointer;

            &.play {
              background: url("#{$img-panel-play-idle}") no-repeat center center;

              &:hover {
                background: url("#{$img-panel-play-selected}") no-repeat center center;
              }
            }

            &.pause {
              background: url("#{$img-panel-pause-idle}") no-repeat center center;

              &:hover {
                background: url("#{$img-panel-pause-selected}") no-repeat center center;
              }
            }
          }
        }

        &.failed {
          color: $clr-base-26;
        }

        &.success {
          color: $clr-base-15;
        }

        &.inProgress {
          color: $clr-base-00;
        }
      }
    }
  }
}