#deployment {

    #plans-index-events-widget {
        position: absolute;
        right: $COSMOUI_DEPLOYMENT_EVENT_WIDGET_RIGHT;
        top: $COSMOUI_DEPLOYMENT_EVENT_WIDGET_TOP;
        z-index: 9998;
    }

    #deployment-header {
        width: $COSMOUI_DEPLOYMENT_HEADER_WIDTH;

        .header-left {
            #settings-button {
                display: inline-block;
                margin-top: 10px;
                margin-left: 10px;
                cursor: pointer;
            }
        }

        .header-right {
            position: relative;
            width: $COSMOUI_DEPLOYMENT_RIGHT_HEADER_WIDTH;
            float: right;

            #appStatus {
                float: right;
                width: $COSMOUI_DEPLOYMENT_APP_STATUS_WIDTH;
                height: $COSMOUI_DEPLOYMENT_APP_STATUS_HEIGHT;
                background: $COSMOUI_DEPLOYMENT_APP_STATUS_BACKGROUND;
                border-bottom-left-radius: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER_BOTTOM_LEFT_RADIUS;
                border-left: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER;
                border-bottom: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER;
            }
        }
    }

    #right-side-menu {

      .close-properties-button {
        cursor: pointer;
      }

      .content {

        .buttons-group {
          float: left;
        }

        select {
          background: #FFFFFF;
          height: 28px;
          width: 170px;
          float: left;
          font-size: 14px;
          box-shadow: none;
          border-radius: 0px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: 0px 5px 0px 5px;
          border: 1px solid #d3dfe2;
          cursor: pointer;
          margin: 6px 4px 0px 4px;
          padding-right: 17px;
        }

        .selectbox-arrow {
          float: left;
          top: 10px;
          position: relative;
          right: 20px;
          margin-top: 7px;
          margin-right: 5px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #333;
        }

        .content-section {
          padding-left: 0px;

          .overview-node-name {
            font-size: 16px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
          }

          table.overview-data {
            margin-bottom: 30px;
          }

          table.relationships-table {
              width: 100%;

              tr {
                border-bottom: none;
                cursor: pointer;

                //&:first-child {
                //  background-color: transparent;
                //}

                &:first-child td {
                  background-color: #d3dfe2;
                  height: 30px;
                  color: #333333;
                  font-size: 13px;
                  padding-left: 5px;
                }

                td {
                  min-width: 120px;
                  vertical-align: middle;
                  padding-left: 0px;

                  table {
                    width: 100%;
                    //margin-left: 10px;

                    tr {

                      &:first-child {
                        background-color: $clr-base-09;
                        td {
                          background-color: #fff;
                        }
                      }

                      .relationship-arrow {
                        float: left;

                        &.right {
                          margin-top: 5px;
                          margin-right: 10px;
                          border-top: 5px solid transparent;
                          border-bottom: 5px solid transparent;
                          border-left: 5px solid #333;
                        }

                        &.down {
                          margin-top: 7px;
                          margin-right: 5px;
                          border-left: 5px solid transparent;
                          border-right: 5px solid transparent;
                          border-top: 5px solid #333;
                        }
                      }

                      //&:first-child td {
                      //  background-color: #d3dfe2;
                      //  height: 30px;
                      //  color: #333333;
                      //  font-size: 13px;
                      //  padding-left: 5px;
                      //}

                      &:hover:not(:first-child) td{
                        background: none;
                        color: #333333;
                      }

                      td {
                        height: 30px;
                        border-bottom: 1px solid #cadbec;

                        table {

                          margin-left: 10px;
                          width: 98%;

                          tr {
                            &:first-child td {
                              background: none;
                              border-bottom: 1px solid #cadbec;
                            }

                            td {
                              padding-left: 5px;
                              ul {
                                li {
                                  list-style: none;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
          }
        }
      }
    }

    .content-section {
        width: 100%;
        height: 100%;
        padding: 30px 10px 10px;

        .filters {
            position: relative;
            margin: 0 0 10px 0;
            .multiSelectMenu {
                margin: 0 15px 0 5px;
                vertical-align: middle;
            }
            .search {
                display: inline-block;
                vertical-align: middle;
                input {
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px 1px 1px 1px;
                    padding: 5px 10px;
                    border-radius: 3px 0 0 3px;
                    outline: none;
                    &:focus {
                        border-color: #29A9EE;
                    }
                }
                button {
                    background-color: #f5f5f5;
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px 1px 1px 0;
                    padding: 5px 10px;
                    border-radius: 0 3px 3px 0;
                    outline: none;
                    &:hover {
                        border-color: #29A9EE;
                        background-color: #29A9EE;
                        color: #fff;
                    }
                }
            }
            .loading {
                position: absolute;
                top: 0;
                right: 0;
                width: 120px;
                height: 30px;
                background-image: url('../images/loading-dots.gif');
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        .emptyTable {
            display: block;
            text-align: center;
            padding: 20px;
        }

        table.table {
            width: 100%;
            margin: 0px;
            tr.details {
                background-color: #f5f5f5;
                border-bottom: 1px solid #ccc;
                padding: 10px;
                .group {
                    display: inline-block;
                    border-right: 1px dotted #ccc;
                    min-width: 250px;
                    height: 100%;
                    font-size: 13px;
                    vertical-align: top;
                    > span {
                        display: block;
                        padding: 5px 0;
                        margin: 0 10px;
                    }
                    &:last-child {
                        border: 0px;
                    }
                }
            }
            tr {
                td {
                    &.type {
                        width: 150px;
                    }
                    &.icon {
                        width: 60px;
                    }
                    &.node, &.task, &.workflow {
                        width: 110px;
                    }
                    &.task {
                        width: auto;
                    }
                    &.date {
                        width: 200px;
                    }
                    &.event-text-green {
                        color: $COSMOUI_EVENTS_LIST_TEXT_SUCCESS;
                    }
                    &.event-text-red {
                        color: $COSMOUI_EVENTS_LIST_TEXT_FAILED;
                    }
                    &.event-icon-workflow-started {
                        background: url("#{$img-workflow-started}") no-repeat center center;
                    }
                    &.event-icon-workflow-end-successfully {
                        background: url("#{$img-workflow-end-successfully}") no-repeat center center;
                    }
                    &.event-icon-workflow-failed {
                        background: url("#{$img-workflow-failed}") no-repeat center center;
                    }
                    &.event-icon-task-started {
                        background: url("#{$img-task-started}") no-repeat center center;
                    }
                    &.event-icon-task-failed {
                        background: url("#{$img-task-failed}") no-repeat center center;
                    }
                    &.event-icon-task-sent {
                        background: url("#{$img-task-sent}") no-repeat center center;
                    }
                    &.event-icon-task-success {
                        background: url("#{$img-task-success}") no-repeat center center;
                    }
                    &.event-icon-policy-success {
                        background: url("#{$img-policy-success}") no-repeat center center;
                    }
                    &.event-icon-policy-failed {
                        background: url("#{$img-policy-failed}") no-repeat center center;
                    }
                }
            }
        }
    }

    .newEvents {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        font-size: 15px;
        text-align: center;
        > p {
            display: inline-block;
            background-color: #049cdb;
            color: #fff;
            margin: 0 auto;
            padding: 2px 10px;
            border-radius: 13px;
            box-shadow: 1px 1px 0px #0482c7;
            cursor: pointer;
        }
    }
}