  .dialogBoxBg {
  width: 100%;
  height: 100%;
  background: $COSMOUI_DIALOG_BACKGROUND;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 9995;
}

.dialogBox {
  z-index: 9996;
  border: 2px solid $COSMOUI_DIALOG_BORDER_COLOR;
  border-radius: 4px;
  box-shadow: 0px 0px 5px $COSMOUI_DIALOG_SHADOW_COLOR;
  background: $COSMOUI_DIALOG_BACKGROUND;

  .dialogButton {
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 0px 10px;
    background-color: $COSMOUI_BUTTON_BACKGROUND;
    border-radius: 3px;
    border-bottom: 1px solid $COSMOUI_BUTTON_BOTTOM_BORDER_COLOR;
    border-right: 1px solid $COSMOUI_BUTTON_RIGHT_BORDER_COLOR;
    border-top: none;
    border-left: none;

    &.disabled {
      background: $COSMOUI_BUTTON_DISABLED_BACKGROUND;
      border-bottom: 1px solid $COSMOUI_BUTTON_DISABLED_BORDER_COLOR;
      border-right: 1px solid $COSMOUI_BUTTON_DISABLED_BORDER_COLOR;
      color: $COSMOUI_BUTTON_DISABLED_BORDER_COLOR;
      cursor: default;
    }

    &.enabled {
      background: $COSMOUI_BUTTON_BACKGROUND;
      cursor: pointer;
    }

    &.dialogClose {
      float: right;
      position: absolute;
      right: 0px;
      top: 5px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding-right: 0px;
    }
  }

  .dialogTitle {
    width: 100%;
    height: 51px;
    color: $COSMOUI_DIALOG_TITLE_COLOR;
    line-height: 28px;
    font-size: 32px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    background-color: $clr-base-00;
  }

  .dialogDeploymentName {
    position: relative;
    top: 30px;
    width: 100%;
    height: 100px;
    text-align: center;

    input {
      position: relative;
      top: 30px;
      width: 310px;
      height: 32px;
      border-radius: 3px;
      padding-left: 10px;
      background-clip: padding-box;
      background-color: $clr-base-10;
      border: 0;
    }
  }

  .dialogDescription {
    position: relative;
    top: 20px;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-family: 'OpenSansRegular';
  }

  .buttonsContainer {
    float: right;

    &.confirmationButtons {
      margin-top: 130px;
    }

    &.deployButtons {
      margin-top: 40px;
    }
  }
}

#uploadDialogContainer {
  width: 430px;
  height: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 100px;

  #uploadForm {
    position: relative;
    float: left;
    height: 160px;
    width: 100%;
    top: 40px;

    #browse {
      position: relative;
      top: 30px;

      #fileInput {
        top: 5px;
        position: relative;
        opacity: 0;
        left: 20px;
        z-index: 9998;
        width: 390px;
      }

      #browseBtn {
        top: 0px;
        width: 32px;
        height: 32px;
        float: right;
        cursor: pointer;
        margin-right: 20px;
        font-size: 30px;
        padding: 0px 8px 0px 7px;
        line-height: 33px;
      }

      #browseTxt {
        width: 340px;
        height: 32px;
        float: left;
        position: absolute;
        top: 0px;
        border-radius: 3px;
        left: 20px;
        padding-left: 10px;
        background-clip: padding-box;
        background-color: $clr-base-10;
        border: 0;
      }
    }

    #name {
      position: relative;
      top: 15px;
      margin-bottom: 10px;

      input {
        left: 20px;
        position: relative;
        top: 30px;
        width: 385px;
        height: 32px;
        border-radius: 3px;
        padding-left: 10px;
        background-clip: padding-box;
        background-color: $clr-base-10;
        border: 0;
      }
    }

    #mainFile {
      position: relative;
      float: left;
      left: 120px;
      top: 63px;

      #mainYamlName {
        width: 272px;
        height: 30px;
        border-radius: 5px;
        margin-left: 10px;
      }
    }

    .upload-process-anim {
      width: 25px;
      height: 25px;
      background: url("/images/progress.gif") no-repeat center center;
      background-color: #fff;
      border-radius: 25px;
      position: absolute;
      float: right;
      right: 110px;
      bottom: 2px;
    }

    #uploadBtn {
      position: relative;
      float: right;
      right: 10px;
      top: 60px;
    }

    #upload-error-message {
      float: right;
      bottom: 5px;
      right: 120px;
      position: absolute;
      color: #f00;
    }
  }
}

#confirmationDialogContainer {
  width: 350px;
  height: 220px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 100px;

  #deploy-error-message {
    float: left;
    left: 38px;
    position: absolute;
    color: #f00;
    width: 300px;
    top: 135px;
    text-align: center;
  }
}