.events-widget {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    border-top: 2px solid #4b6b8b;
    z-index: 10000;
    -webkit-box-shadow: 0 -1px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -1px 24px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -1px 24px 0px rgba(0, 0, 0, 0.2);

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .head {
        position: relative;
        z-index: 10;
        background-color: #e8edf2;
        height: 40px;
        padding: 5px 20px;

        .title {
            display: inline-block;
            font-size: 24px;
            color: #29AAEE;
            line-height: 28px;
        }

        .lastEvent {
            display: inline-block;
            border-left: 1px dotted #4b6b8b;
            margin: 2px 0 0 10px;
            padding: 2px 0 2px 10px;
            vertical-align: top;

            .icon {
                display: inline-block;
                vertical-align: middle;
                width: 24px;
                height: 24px;
            }

            .type {
                display: inline-block;
                vertical-align: middle;
                margin-left: 4px;
            }
        }

        .dragBtn {
            position: absolute;
            top: 15px;
            right: 12px;
            width: 24px;
            height: 13px;
            background: url("#{$img-events-widget-drag}") center center no-repeat;
            cursor: row-resize;
        }
    }

    .containList {
        position: relative;
        z-index: 10;
        overflow-y: hidden;
        height: 500px;

        .ps-scrollbar-y-rail {
            width: 10px;
            height: calc(100% - 20px) !important;
            margin-top: 10px;
            margin-right: 5px;
            background: #E2E2E2;
            border-left: 2px solid #bbb;
            border-radius: 5px;

            .ps-scrollbar-y {
                width: 8px !important;
                min-height: 20px !important;
                background-color: #3aaeda !important;
                box-shadow: inset -1px -1px 1px #1E6D8B;
                cursor: pointer;
            }
        }
    }

    .icon-events {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    &.closed {
        overflow: hidden;
        min-height: 42px;
        bottom: 0px;

        .containList {
            display: none;
        }
    }

    table.eventsList {
        width: 100%;
        margin: 0 auto;
        table-layout: fixed;

        tr {
            height: 50px;
            border-bottom: 1px solid #ffffff;
            cursor: pointer;

            td {
                height: 52px;
                border-bottom: 2px solid #e8edf2;
                vertical-align: middle;
                font-size: 14px;
                padding-right: 10px;
                vertical-align: top;

                &.icon {
                    width: 55px;
                    text-align: center;
                    padding-left: 20px;
                    white-space: nowrap;
                    padding-top: 13px;
                }

                &.type {
                    width: 200px;
                    white-space: nowrap;
                    padding-top: 16px;
                }

                &.time {
                    width: 160px;
                    white-space: nowrap;
                    padding-top: 16px;
                }

                &.message {
                    width: auto;
                    padding: 16px 0;

                    .brief {
                        display: block;
                        height: 19px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-right: 20px;
                    }
                }

                .gs-icon-logs {
                    top: 6px;
                    left: -6px;
                }

            }

            &.openRow {
                td {
                    height: auto;
                    &.message {
                        overflow: visible;
                        .brief {
                            height: auto;
                            overflow: visible;
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }

}