#events-index {
    .gs-table {
        width: $COSMOUI_LIST_WIDTH;
        margin: $COSMOUI_LIST_MARGIN;

        i {
            color: $COSMOUI_EVENTS_LIST_ITEM_COLOR;
        }
        tr {
            cursor: $COSMOUI_DIALOG_CURSOR;

            &:first-child {
                td {
                    background: $COSMOUI_LIST_COLUMN_HEADER_BACKGROUND;
                    color: $COSMOUI_LIST_COLUMN_HEADER_TEXT_COLOR;
                }
            }
            &:hover:not(:first-child) {
                td {
                    background-color: $COSMOUI_LIST_HOVER_BACKGROUND;

                    &, i {
                        color: $COSMOUI_LIST_HOVER_ACTION_TEXT_COLOR;
                    }
                    i {
                        font-weight: $COSMOUI_LIST_HOVER_ACTION_FONT_WEIGHT;
                    }
                }
            }

            td {
                vertical-align: middle;
                height: 60px;
                color: #333;

                &.type {
                    width: 150px;
                }
                &.icon {
                    width: 60px;
                }
                &.node, &.task, &.workflow {
                    width: 110px;
                }
                &.date {
                    padding-right: 30px;
                }
                &.event-text-green {
                    color: $COSMOUI_EVENTS_LIST_TEXT_SUCCESS;
                }

                &.event-text-red {
                    color: $COSMOUI_EVENTS_LIST_TEXT_FAILED;
                }
            }
        }
    }
}
