.deployInputs {
    position: relative;
    margin: 0 auto;
    text-align: left;

    &.deployInputs {
        width: 330px;
    }

    &.executeInputs {
        width: 405px;
    }

    .type-toggle {
        text-align: center;

        button {
            width: 120px;
            outline: none;
        }
        .section-nav-menu-class {
            margin-left: -6px;
        }
    }
    .inputsParameters, .inputsRaw {
        margin-top: 20px;
    }
    .form-raw-item-name {
        display: inline-block;
        max-width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 37px;
        line-height: 37px;
    }
    ul {
        list-style-type: none;
        //restricting to 5 inputs,the rest is scrollable
        max-height: 200px;
        overflow-y: auto;
        line-height: normal;

        li {
            clear: both;
        }
        .input-wrapper {
            float: right;
            width: 55%;
            padding-top: 5px;
            padding-right: 5px;
            position: relative;
        }
        .param-input {
            width: 100%;
        }
        .restore-default {
            opacity: .5;
            top: 14px;
            position: absolute;
            right: 8px;
        }
        .restore-default:hover {
            opacity: 1;
        }
        .rightPaddingText {
            padding-right: 20px;
        }
    }
    textarea {
        width: 100%;
        height: 150px;
        line-height: normal;

        &.resize-vertical {
            resize: vertical;
        }
    }
}
