#hosts {

    #main-content-panel {
        padding-right: 0;
    }
    .content-section {
        display: block;
        height: 100%;

        .filters {
            position: relative;
            margin: 0 0 10px;

            .search {
                position: absolute;
                right: 0;
                top: 25px;
                display: inline-block;
                vertical-align: middle;

                input {
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px;
                    padding: 5px 10px;
                    border-radius: 3px 0 0 3px;
                    outline: none;

                    &:focus {
                        border-color: #29a9ee;
                    }
                }
                button {
                    background-color: #f5f5f5;
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px 1px 1px 0;
                    padding: 5px 10px;
                    border-radius: 0 3px 3px 0;
                    outline: none;
                    &:hover {
                        border-color: #29a9ee;
                        background-color: #29a9ee;
                        color: #fff;
                    }
                }
            }
            .loading {
                position: absolute;
                top: 22px;
                right: 200px;
                width: 120px;
                height: 30px;
                background-image: url('../images/loading-dots.gif');
                background-repeat: no-repeat;
                background-position: center center;
            }
            .filter {
                display: inline-block;
                margin: 0 0 10px;
                vertical-align: middle;

                > div {
                    margin: 5px 10px 0 0;
                    vertical-align: middle;
                }
            }
            .actions {
                float: right;
                margin-top: 8px;
            }
        }
        .emptyTable {
            display: block;
            text-align: center;
            padding: 20px;

            > div {
                padding: 20px;
            }
        }
        .gs-table {
            width: 100%;
            margin: 0;

            td {

                &.type {
                    width: 150px;
                }
                &.icon {
                    width: 60px;
                    min-width: 45px;
                }
                &.node, &.task, &.workflow {
                    width: 110px;
                }
                &.task {
                    width: auto;
                    min-width: 330px;
                    word-break: break-word;
                }
                &.date {
                    width: 200px;
                }
                &.event-text-green {
                    color: $COSMOUI_EVENTS_LIST_TEXT_SUCCESS;
                }
                &.event-text-red {
                    color: $COSMOUI_EVENTS_LIST_TEXT_FAILED;
                }
            }
        }
    }
    .newHosts {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        font-size: 15px;
        text-align: center;

        > p {
            display: inline-block;
            background-color: #049cdb;
            color: #fff;
            margin: 0 auto;
            padding: 2px 10px;
            border-radius: 13px;
            box-shadow: 1px 1px 0 #0482c7;
            cursor: pointer;
        }
    }
    .gs-btn {
        margin-top: 19px;
    }
}
