#interface {
    .content-section {
        width: 100%;
        height: 100%;
        padding: 0px 20px 10px;
    }

    i.gs-node-icon {
        &.topology-glyph {
            position: relative;
            width: 36px;
            height: 36px;
            background: #136e9d;
            color: #fff;
            border-radius: 19px;
            &:after {
                position: absolute;
                top: 6px;
                left: 7px;
            }
            &.small {
              width: 25px;
              height: 25px;
              border-radius: 15px;

              &:after {
                  top: 5px;
                  left: 5px;
                  font-size: 15px;
              }
            }
        }
    }

    .gs-table {
        margin-left: 0px;

        tr {
            cursor: default;
            td:nth-child(2) {
                width: 15px;
                padding-right: 10px;
                border-width: 0px 1px;
                border-color: #ccc;
                border-style: dotted;
            }
        }
    }
}

