* {
    padding: 0;
    margin: 0;
}

html, body, .layout {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #2c4a67;
}

body {
    overflow-x: hidden;
}

.layout {
    $FOOTER_HEIGHT: 30px;

    margin: 0 auto;
    min-width: 600px;
    //min-height: 100%;
    height: 100%;
    background: $COSMOUI_BACKGROUND;
    font-family: 'OpenSansLight', sans-serif;

    #left-side-menu {
        position: absolute;
        left: 0;
        width: 100px;
        top: 45px;
        bottom: $FOOTER_HEIGHT;
        background: #fff;
        overflow: visible;
        &.fix-to-top {
            position: fixed;
            top: 0;
        }
        //ul{
        //    position:fixed;
        //}
    }
    .main-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: $FOOTER_HEIGHT;
        top: 35px;
        background: #fff;

        .main-content-display {
            $MAIN_PADDING: 20px;
            padding: $MAIN_PADDING;
            background: #fff;
            min-height: 100%;
            overflow-x: auto;

            .try-beta {
                // temporary fix to issue (see on html)
                position: absolute;
                right: $MAIN_PADDING;
                bottom: $MAIN_PADDING;
            }
        }
        .layout-fix-push {
            height: $FOOTER_HEIGHT;
            background: transparent;

        }
    }

    .layout-fix-push {
        height: $FOOTER_HEIGHT;
        background: transparent;

    }
    #footer {
        //position: absolute;
        position: fixed;
        background: $COSMOUI_BACKGROUND;
        left: 0;
        right: 0;
        bottom: 0;
        height: $FOOTER_HEIGHT;
        z-index: 10;
    }
    .navigation-and-actions {
        margin-bottom: 10px;

        .actions {
            float: right;
        }
    }

}

@media screen and (max-height: 700px) {
    .layout {

        #left-side-menu {

            li {
                &, a {
                    height: 35px;
                    text-align: left;

                    .side-menu-icon {
                        margin-left: 5px;
                        font-size: 25px;
                        line-height: 35px;
                        top: 0;
                        width: 25px;
                        vertical-align: middle;
                    }
                    .side-menu-title {
                        line-height: 35px;
                        top: 0;
                        text-align: left;
                        padding-left: 10px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                &.selected:after {
                    top: -28px;
                    left: 163px;
                }
            }
        }
    }
}

#header {
    .navbar{
        background: $COSMOUI_BACKGROUND;
        min-height:35px;
    }
    .navbar-fixed-top{
        border:0;
    }

    .navbar-item{
        height: 35px;
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-nav li{
        a{
            padding-top:0;
            padding-bottom:0;
            padding-right: 7px;
            padding-left: 7px;
            color: white;
            background-color: $COSMOUI_BACKGROUND;
            &:hover {
                color: #4b6c8b;
                background-color: white !important;
            }
        }
        &.active a{
            background-color: #4b6c8b;
        }
    }

    .logout-panel {
        position: absolute;
        top: 6px;
        right: 21px;
        overflow: hidden;
        padding-top: 1px;

        * {
            color: #cadbec;
            font-family: 'OpenSansCondLight', Helvetica, Arial, sans-serif;

        }
        .user-icon {
            background: url('/images/user_icon.jpg');
            width: 23px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
        }
        .logout_icon {
            background: url('/images/logout_icon.jpg');
            width: 19px;
            height: 23px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            margin-top: -3px;
        }
        .username {
            padding-right: 6px;
            margin-right: 15px;
            font-family: 'OpenSansRegular', sans-serif;
            position: relative;
            display: inline-block;
            top: 2px;

            &:after {
                display: inline-block;
                height: 20px;
                width: 1px;
                background: #cadbec;
                content: '';
                position: absolute;
                top: -2px;
                right: 0;
            }
        }
    }
}

//#footer {
//    height: $FOOTER_HEIGHT;
//    margin-top: -$FOOTER_HEIGHT;
//    background: $FOOTER_BACKGROUND
//}

//#footer[id] {
//    z-index: 100;
//    position: relative;
//}

#smallFooter {
    margin: 8px 23px 0 10px;
    color: #ccc;
    font-size: 11px;

    .links {
        float: right;
        list-style-type: none;

        li {
            display: inline-block;
            border-right: 1px dotted #838383;
            padding: 0 10px;

            &:last-child {
                border: 0;
                padding-right: 0;
            }

            a {
                color: #fff;
            }
        }
    }
}

#left-side-menu {
    width: $LEFT_MENU_WIDTH;
    min-width: $LEFT_MENU_WIDTH;
    background: #fff;
    display: table-cell;
}

#right-side-menu {
    width: $RIGHT_MENU_WIDTH;
    background: $RIGHT_MENU_BACKGROUND;
}

.logo {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    .logo-img{
        height: 35px;
        background: url('#{$img-cloudify-logo}') no-repeat center center;
        background-size: cover;
        width: 110px;
    }
    p{
        margin: 0;
    }
}

.version-check {
    color: #ccc;
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 20px;

    a {
        color: $clr-base-19;

        &:hover {
            color: #fff;
        }
    }
}

.search-box {
    width: 184px;
    height: 32px;
    position: relative;
    top: 27px;
    right: 30px;
    float: right;

    #search-field {
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        border-radius: 5px;
        padding-left: 30px;
        border: 0;
    }

    #search-submit {
        width: 20px;
        height: 20px;
        background: url('#{$img-search}') no-repeat center center;
        position: absolute;
        top: 5px;
        left: 5px;
        border: 0;
    }
}

.current-user {
    width: 142px;
    height: 32px;
    position: relative;
    top: 35px;
    float: right;
    right: 20px;

    #user-icon {
        width: 18px;
        height: 18px;
        background: url('#{$img-user}') no-repeat center center;
        position: relative;
        top: 0;
        left: 0;
        float: left;
    }

    #user-name {
        height: 18px;
        position: relative;
        top: 0;
        left: 10px;
        color: $COSMOUI_USERNAME_TEXT_COLOR;
        float: left;
    }

    #logout-button {
        width: 18px;
        height: 18px;
        position: relative;
        top: 0;
        right: 5px;
        background: url('#{$img-logout}') no-repeat center center;
        float: right;
        cursor: pointer;
    }
}

#main-content {
    height: 100%;
    background-color: $COSMOUI_BACKGROUND;
    position: relative;

    display: table-cell;
    vertical-align: top;
}

#main-content-panel {
    background: $COSMOUI_MAIN_CONTENT_BACKGROUND;
    max-width: 100%;
    min-height: 800px;
    margin: 0 23px;
}

.line-row {
    display: table-row;
    vertical-align: top;
}

.content-header {
    width: 100%;
    vertical-align: middle;
    border-bottom: 3px solid $COSMOUI_MAIN_CONTENT_TITLE_SEPERATOR_COLOR;
    padding-bottom: 5px;
    margin-bottom: 10px;

    &.no-border {
        border: 0;
    }

    .breadcrumbs {
        color: $COSMOUI_BREADCRUMB_ITEM_COLOR;
        font-size: 20px;
        display: inline-block;
        margin-top: 1px;

        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }
        li {
            display: inline-block;
            padding-right: 5px;

            &.active {
                color: #333;
            }

            a, a:link, a:visited, a:hover, a:active {
                text-decoration: none;
                color: $COSMOUI_BREADCRUMB_ITEM_COLOR;
                cursor: pointer;
            }
            a:hover {
                color: $COSMOUI_BREADCRUMB_ITEM_COLOR_HOVER;
            }
            span {
                color: $COSMOUI_BREADCRUMB_LAST_ITEM_COLOR;
                cursor: default;
            }
        }
        li:not(:last-child):after {
            display: inline-block;
            content: '>';
            padding-left: 5px;
            color: $COSMOUI_BREADCRUMB_LAST_ITEM_COLOR;
        }
    }
    .right {
        float: right;

        .gs-btn {
            color: #fff;
            font-weight: bold;
            padding: 5px 10px;
            background-color: $COSMOUI_BUTTON_BACKGROUND;
            border-radius: 3px;
            border-bottom: 1px solid $COSMOUI_BUTTON_BOTTOM_BORDER_COLOR;
            border-right: 1px solid $COSMOUI_BUTTON_RIGHT_BORDER_COLOR;
            border-top: 0;
            border-left: 0;
        }
    }
}

.right-panel {
    width: 400px;
}

.floating-panel {
    width: 400px;
    display: none;
}

button, input[type='button'], input[type='submit'], .btn.active:focus, .btn:active:focus {
    outline: none;
}

.gs-font{
    display: inline-block;
    font-family: 'Varela', sans-serif;
    color: #fff !important;
    font-size: 24px;
    padding-left:5px;
    margin-top: 2px;
}

