* {
  padding: 0;
  margin: 0;
}

html, body, .layout {
  height: 100%;
  width: 100%;
  position: relative;
}

.layout {
  margin: 0 auto;
  min-width: 600px;
  min-height: 100%;
  height: 100%;
  background: $COSMOUI_BACKGROUND;
  font-family: "OpenSansLight";
}

.layout[class] {
  height: auto;
  overflow: hidden;
}

#header {
  height: $HEADER_HEIGHT;
  background: $COSMOUI_BACKGROUND
}

#footer {
  height: $FOOTER_HEIGHT;
  margin-top: -$FOOTER_HEIGHT;
  background: $FOOTER_BACKGROUND
}

#footer[id] {
  z-index: 100;
  position: relative;
}

#fix {
  height: $FOOTER_HEIGHT;
  clear: both;
  background-color: yellow;
}

#left-side-menu {
  width: $LEFT_MENU_WIDTH;
  float: left;
  background: white;
  padding-bottom: 32000px;
  margin-bottom: -32000px;
  margin-right: 10px;
}

#right-side-menu {
  width: $RIGHT_MENU_WIDTH;
  background: $RIGHT_MENU_BACKGROUND;
  padding-bottom: 32000px;
  margin-bottom: -32000px;
  float: right;
}

.logo {
  position: relative;
  top: 5px;
  left: 20px;
  width: 122px;
  height: 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("#{$img-cloudify-logo}");
  background-size: contain;
}

.search-box {
  width: 184px;
  height: 32px;
  position: relative;
  top: 27px;
  right: 30px;
  float: right;

  #search-field {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    padding-left: 30px;
    border: none;
  }

  #search-submit {
    width: 20px;
    height: 20px;
    background: url("#{$img-search}") no-repeat center center;
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
  }
}

.current-user {
  width: 142px;
  height: 32px;
  position: relative;
  top: 35px;
  float: right;
  right: 20px;

  #user-icon {
    width: 18px;
    height: 18px;
    background: url("#{$img-user}") no-repeat center center;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
  }

  #user-name {
    height: 18px;
    position: relative;
    top: 0px;
    left: 10px;
    color: $COSMOUI_USERNAME_TEXT_COLOR;
    float: left;
  }

  #logout-button {
    width: 18px;
    height: 18px;
    position: relative;
    top: 0px;
    right: 5px;
    background: url("#{$img-logout}") no-repeat center center;
    float: right;
    cursor: pointer;
  }
}

#main-content {
  overflow: hidden;
  padding: 0px 20px 20px 10px;
  height: 100%;
  background-color: $COSMOUI_BACKGROUND;
  position: relative;
}

#main-content-panel {
  background: $COSMOUI_MAIN_CONTENT_BACKGROUND;
  width: 100%;
  min-height: 800px;
}

.content-header {
  height: 48px;
  padding: 10px 0px 20px 0px;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  .breadcrumbs{
    color:$COSMOUI_BREADCRUMB_ITEM_COLOR;
    font-size:32px;
    float: left;
    ul,li{ list-style:none; margin:0; padding:0; white-space: nowrap;}
    li {
      display:inline-block;
      padding-right:5px;

      a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: $COSMOUI_BREADCRUMB_ITEM_COLOR;
      }
      a:hover {
        color: $COSMOUI_BREADCRUMB_ITEM_COLOR_HOVER;
      }

      &.active {
        color: #333;
      }
    }
    li:not(:last-child):after{
      display:inline-block;
      content:">";
      padding-left:5px;
      color: $COSMOUI_BREADCRUMB_LAST_ITEM_COLOR;
    }
    li:last-child a {
      color: $COSMOUI_BREADCRUMB_LAST_ITEM_COLOR;
      cursor: default;
    }
    //li:last-child:not(:first-child):after{
    //  content: "\f057";
    //  display: inline-block;
    //  font-family: FontAwesome;
    //  font-style: normal;
    //  font-weight: normal;
    //  line-height: 1;
    //  -webkit-font-smoothing: antialiased;
    //  -moz-osx-font-smoothing: grayscale;
    //  cursor: pointer;
    //  color: $COSMOUI_BREADCRUMB_LAST_ITEM_COLOR;
    //  top: 2px;
    //  position: relative;
    //}
  }
  .right {
    float: right;

    .gs-btn {
      color: white;
      font-weight: bold;
      padding: 5px 10px 5px 10px;
      background-color: $COSMOUI_BUTTON_BACKGROUND;
      border-radius: 3px;
      border-bottom: 1px solid $COSMOUI_BUTTON_BOTTOM_BORDER_COLOR;
      border-right: 1px solid $COSMOUI_BUTTON_RIGHT_BORDER_COLOR;
      border-top: none;
      border-left: none;
      margin-top: 9px;
    }
  }
}

.right-panel{
  width:400px;
}

.buttons-group {
    $RADIUS: 30px;
    display: inline-block;
    margin: 2px 4px 0px 10px;
    float: left;

    button {
        display: inline-block;
        height: $COSMOUI_BLUEPRINT_DETAILS_BUTTON_HEIGHT;
        font-size: $COSMOUI_BLUEPRINT_DETAILS_BUTTON_FONT_SIZE;
        padding: $COSMOUI_BLUEPRINT_DETAILS_BUTTON_PADDING;
        color: $COSMOUI_BLUEPRINT_BUTTON_GROUP_BACKGROUND;
        border: $COSMOUI_BLUEPRINT_BUTTON_GROUP_BORDER_COLOR;
        border-radius: 0px;
        margin: 0 -5px 0 0;
        &:first-child {
            border-radius: $RADIUS 0 0 $RADIUS;
        }
        &:last-child {
            border-radius: 0 $RADIUS $RADIUS 0;
        }
        &.active {
            background: $COSMOUI_BLUEPRINT_BUTTON_ACTIVE_COLOR;
            color: white;
        }
    }
}