.piProgress {
    position: relative;
    display: inline-block;

    .circle {
        position: absolute;
        display: flex;
        background-color: #46b8da;
        color: #fff;
        font-size: 100%;
        z-index: 3;

        p {
            margin: 0;
        }
        p::after {
            content: '%';
        }
    }
    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;
    }
    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    svg {
        position: relative;
        z-index: 2;
    }
    path.progress {
        fill: #cce80b;
    }
    path.succeed {
        fill: #cce80b;
    }
    path.error {
        fill: #d54931;
    }
    path.warning {
        fill: #feb300;
    }
}
