[section-nav-menu] {
    display:inline-block;
    .buttons-group {
        margin-left: 0px;
        vertical-align: top;
        $RADIUS: 30px;
        display: inline-block;

        a, button {
            display: inline-block;
            border: 2px solid $COSOMUI_SECTION_MENU_BORDER_COLOR;

            border-radius: 0;
            margin: 0 -6px 0 0;
            background-color: $clr-base-01;

            &:first-child {
                border-radius: $RADIUS 0 0 $RADIUS;
            }
            &:last-child {
                border-radius: 0 $RADIUS $RADIUS 0;
            }
            &.active {
                background: $COSOMUI_SECTION_MENU_ACTIVE_BACKGROUND;
                color: white;
            }
            &:hover:not(.active) {
                background-color: $COSOMUI_SECTION_MENU_HOVER_BACKGROUND;
            }
        }
    }
}
