[section-nav-menu], .section-nav-menu-class {
    display: inline-block;

    .buttons-group {
        margin-left: 0;
        vertical-align: top;
        $RADIUS: 3px;
        display: inline-block;

        a, button {
            display: inline-block;

            $BORDER_WIDTH: 2px;

            border: $BORDER_WIDTH solid $COSOMUI_SECTION_MENU_BORDER_COLOR;
            border-left-width: 0;

            border-radius: 0;
            margin: 0;
            background-color: $clr-base-01;

            &:first-child {
                border-radius: $RADIUS 0 0 $RADIUS;
                border-left-width: $BORDER_WIDTH;
            }
            &:last-child {
                border-radius: 0 $RADIUS $RADIUS 0;
            }
            &.active {
                background: $COSOMUI_SECTION_MENU_ACTIVE_BACKGROUND;
                color: #fff;
            }
            &:hover:not(.active) {
                background-color: $COSOMUI_SECTION_MENU_HOVER_BACKGROUND;
            }
        }
    }
}
