#maintenance-page {
    #maintenance-settings-container {
        display: flex;
        margin-bottom: 30px;
        #maintenance-settings {
            margin: auto;
            z-index: 1032;
            background: white;
            padding: 0 40px 20px;
            #maintenance-actions {
                margin-top: 40px;
                text-align: center;
                button {
                    margin-top: 10px;
                }
                #maintenance-popover{
                    cursor: help;
                }
                [uib-popover-template-popup]{
                    max-width: 950px !important;
                    font-size: 14px;
                }
                #maintenance-status {
                    font-weight: bold;
                }
            }
        }
    }

    #maintenance-highlighter {
        position: fixed;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        z-index: 1031; //1030 is header and footer
        top: 0;
        left: 0;

        @include animate(halfFadeIn, 1s);
    }

    .remaining-executions {
        .loading-executions{
            text-align: center;
        }
        .no-executions{
            text-align: center;
        }
        .executions-error{
            text-align: center;
            color: red;
        }
        .executions-data {
            .description{
                text-align: center;
                margin-bottom: 10px;
            }
            table {
                tbody {
                    .cancel-execution {
                        text-align: center;
                    }
                }
            }
        }
    }
}
