.start-execution-dialog { // better use id here

    .select-workflow {
        display: block;
        padding: 10px;
        text-align: center;

        .gs-select {
            float: none;
            text-align: left;
        }
    }
    .multiSelectMenu {
        vertical-align: top;
    }
}
