/****

This is a temporary file. if by November 2015 no one deleted it, please delete it.
It is used to troubleshoot


******/

.bpContainer {
    position: relative;
    display: block;
    height: 100%;
    padding: 40px;
    .coordinates {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        > svg {
            position: relative;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
    i.gs-node-icon {
        width: 36px;
        height: 36px;
        border-radius: 19px;
        color: white;
        line-height: 0px;
        &:after {
            position: absolute;
            top: 21px;
            left: 7px;
            font-size: 26px;
        }
        &.small {
            width: 25px;
            height: 25px;
            border-radius: 15px;

            &:after {
                top: -2px;
                left: 5px;
                font-size: 30px;
            }
        }
        &.fa {
            display: inline-block;
            color: inherit;
            width: 30px;
            height: 30px;
            font-size: 30px;
            &:before {
                font-size: 20px;
                position: absolute;
                top: 8px;
                left: 9px;
            }
        }
    }
    .boxHover {
        background-color: $clr-base-30 !important;
    }
    .box {
        position: relative;
        display: inline-block;
        min-width: 260px;
        min-height: 170px;
        border-width: 2px;
        border-color: #136e9d;
        border-style: solid;
        background-color: white;
        vertical-align: top;
        padding: 2px;
        border-radius: 6px;
        margin: 0 60px 40px 0px;
        .box {
            border-color: #3aaeda;
            min-width: 170px;
            margin: 15px;
            .head {
                background-color: #3aaeda;
            }
            .piProgress {
                .circle {
                    background-color: #3aaeda;
                }
            }
            .holder {
                text-align: center;
                margin-top: 8px;
            }
            .hoverup {
                z-index: 101;

                &.appHoverup {
                    left: 37px;
                }
            }
        }
        .piProgress {
            position: absolute;
            top: -12px;
            left: -27px;
            z-index: 1;

            .circle {
                background: #136e9d;
                border: 2px solid $clr-base-12;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
                > .badge {
                    left: 20px;
                    top: -8px;

                   /* min-width: 20px;
                    border-radius: 10px;
                    padding: 3px 7px;
                    vertical-align: baseline;
                    white-space: nowrap;
                    text-align: center;
                    background-color: $install;
                    text-decoration: none;
                    font-family: "OpenSansBold";
                    font-size: 14px;
                    color: #fff;
                    line-height: 15px;
                    font-style: normal;
                    font-weight: normal;
                    opacity: 1;*/


                    &.install {
                        background-color: $install;
                    }
                    &.done {
                        background-color: $done;
                    }
                    &.alerts {
                        background-color: $alerts;
                    }
                    &.failed {
                        background-color: $failed;
                    }
                }
            }
            .shadow {
                position: absolute;
                top: -6px;
                left: -6px;
            }
            path.install {
                fill: $install;
            }
            path.done {
                fill: $done;
            }
            path.alerts {
                fill: $alerts;
            }
            path.failed {
                fill: $failed;
            }
        }
        .piProgress:not([status='0']) {
            > svg {
                display: none;
            }
            > .background {
                display: none;
            }
            > .circle {
                box-shadow: none;
                > .shadow {
                    display: none;
                }
            }
        }
        .head {
            display: block;
            background-color: #136e9d;
            color: white;
            padding: 2px 10px 3px 25px;
            border-radius: 3px;
            font-size: 20px;
            height: 35px;
            &:hover {
                cursor: pointer;
            }
        }

        .connections {
            position: absolute;
            top: 6px;
            right: 5px;
            z-index: 100;

            .connection {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                background-color: #fff;
                box-shadow: 0 4px 3px 2px rgba(0, 0, 1, .06);
                float: right;
                margin-left: 3px;
                background-clip: padding-box;

                i {
                    color: #496585;
                    width: 10px;
                    height: 10px;
                    cursor: pointer;

                    &.gs-node-icon {
                        &:after {
                            position: relative;
                            top: 4px;
                            left: 5px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .holder {
            display: block;
            background-color: white;
            padding: 5px 25px;
        }
        .hoverup {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
        }
        .buttons {
            display: none;
            position: absolute;
            top: -10px;
            right: 0px;
            z-index: 100;
            line-height: 0px;
            > ul {
                display: inline-block;
                list-style-type: none;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    width: 36px;
                    height: 28px;
                    border-width: 2px 0 2px 2px;
                    border-style: solid;
                    border-color: #ddd;
                    background-color: #fff;
                    cursor: pointer;
                    position: relative;
                    &:after {
                        position: absolute;
                        top: 13px;
                        left: 9px;
                        font-size: 30px;
                    }
                }
                li:first-child {
                    border-top-left-radius: 14px;
                    border-bottom-left-radius: 14px;
                }
                li:last-child {
                    border-width: 2px;
                    border-top-right-radius: 14px;
                    border-bottom-right-radius: 14px;
                }
            }
        }
        :hover > .buttons {
            display: inline;
        }
    }
    .app {
        position: relative;
        display: inline-block;
        width: 47px;
        height: 47px;
        text-align: center;
        border-radius: 3px;
        margin: 10px 0;
        .piProgress {
            top: 0px;
            left: -6px;
        }
        p {
            position: relative;
            top: 50px;
            margin: 0px;
            color: #555869;
            text-align: center;
            font-size: 15px;
        }
    }
}
