$MAIN_PADDING: 20px;
.layout .main-content .main-content-display [ui-topology] {
    position: absolute;
    top: 100px+$MAIN_PADDING;
    bottom: $MAIN_PADDING;
    left: $MAIN_PADDING;
    right: $MAIN_PADDING;

    .gs-topology {
        height: 100%;
    }

    #gridContainer {
        #grid {
            cursor: -webkit-grab;
            cursor: grab;
            &.grabbed {
                cursor: -webkit-grabbing;
                cursor: grabbing;
            }
        }
    }
}
