/** General **/
$COSMOUI_BACKGROUND: #2c4a67 !default;
$HEADER_HEIGHT:83px;
$FOOTER_HEIGHT:0;
$FOOTER_BACKGROUND:0;

/** Layout **/
$COSMOUI_CONTENT_TITLE_COLOR: #22619D;

/* Menu */
$LEFT_MENU_WIDTH:163px;
$RIGHT_MENU_WIDTH:0;
$RIGHT_MENU_BACKGROUND: #fff;
$COSMOUI_MENU_BACKGROUND: #fff;
$COSMOUI_MENU_FONT_FAMILY: "OpenSansCondLight", Helvetica, Arial, sans-serif;
$COSMOUI_MENU_FONT_SIZE: 17px;
$COSMOUI_MENU_PADDING: 0px;
$COSMOUI_MENU_MARGIN_LEFT: 23px;
$COSMOUI_MENU_TITLE_HEIGHT: 25px;
$COSMOUI_MENU_TITLE_TOP: 20px;
$COSMOUI_MENU_TITLE_FONT_SIZE: 17px;
$COSMOUI_MENU_ITEM_WIDTH: 115px;
$COSMOUI_MENU_ITEM_HEIGHT: 78px;
$COSMOUI_MENU_ITEM_COLOR: #4b6c8b;
$COSMOUI_MENU_ITEM_COLOR_HOVER: #29aaee;
$COSMOUI_MENU_ITEM_COLOR_SELECTED: #29aaee;
$COSMOUI_MENU_ITEM_SEPERATOR: #cadbec;
$COSMOUI_MENU_ICON_WIDTH: 115px;
$COSMOUI_MENU_ICON_HEIGHT: 30px;
$COSMOUI_MENU_ICON_FONT_SIZE: 65px;
$COSMOUI_MENU_ICON_TOP: 25px;
$COSMOUI_MAIN_CONTENT_BACKGROUND: #fff;
$COSMOUI_MAIN_CONTENT_TITLE_SEPERATOR_COLOR: #D3DFE2;

/** Buttons **/
$COSMOUI_BUTTON_BACKGROUND:#4885C0 !default;
$COSMOUI_BUTTON_RIGHT_BORDER_COLOR:#3475B4 !default;
$COSMOUI_BUTTON_BOTTOM_BORDER_COLOR:#2D6FAF !default;
$COSMOUI_BUTTON_DISABLED_BACKGROUND:#D0D0D0 !default;

/** Username **/
$COSMOUI_USERNAME_TEXT_COLOR: #cadbec !default;

/** List **/
$COSMOUI_LIST_COLUMN_HEADER_BACKGROUND: #CCE4F6 !default;
$COSMOUI_LIST_COLUMN_HEADER_TEXT_COLOR: #234E71 !default;
$COSMOUI_LIST_HOVER_BACKGROUND: #CECECE !default;
$COSMOUI_LIST_HOVER_ACTION_TEXT_COLOR: #fff !default;
$COSMOUI_LIST_HOVER_ACTION_FONT_WEIGHT: normal !default;
$COSMOUI_LIST_HOVER_ACTION_LETTER_SPACING: 10px !default;
$COSMOUI_LIST_HOVER_ACTION_FONT_SIZE: 35px;
$COSMOUI_LIST_WIDTH: 97% !default;
$COSMOUI_LIST_MARGIN: 0 auto !default;

/** Popup **/
$COSMOUI_POPUP_BACKGROUND: #fff;
$COSMOUI_POPUP_BORDER_COLOR: #496685;
$COSMOUI_POPUP_SHADOW_COLOR: rgba(208, 208, 208, 0.8);
$COSMOUI_POPUP_TITLE_COLOR: #22619D;
$COSMOUI_POPUP_CURSOR: pointer;

/** Blueprints list page **/
$COSMOUI_BLUEPRINTS_PLAY_COLOR: #008000 !default;
$COSMOUI_BLUEPRINTS_ICON_COLOR: #BCBCBC !default;

/** Blueprint page **/
$COSMOUI_BLUEPRINT_BACKGROUND: rgba(255,255,255,0.9) !default;
$COSMOUI_BLUEPRINT_LEFT_BORDER_COLOR: #2c4a67 !default;
$COSMOUI_BLUEPRINT_TITLE_COLOR: #5A82A2 !default;
$COSMOUI_BLUEPRINT_TITLE_BOTTOM_BORDER_COLOR: #CADBEC !default;
$COSMOUI_BLUEPRINT_BUTTON_GROUP_BACKGROUND: #496685 !default;
$COSMOUI_BLUEPRINT_BUTTON_GROUP_BORDER_COLOR: #D3DFE2 !default;
$COSMOUI_BLUEPRINT_BUTTON_ACTIVE_COLOR: #496685 !default;

/** Events page **/
$COSMOUI_EVENTS_LIST_ITEM_COLOR: #BCBCBC;
$COSMOUI_EVENTS_LIST_TEXT_SUCCESS: #8EAF26;
$COSMOUI_EVENTS_LIST_TEXT_FAILED: #d54931;