/** Common **/
$base_00: #2c4a67 !default;
$base_01: #ffffff !default;
$base_02: #4885c0 !default;
$base_03: #d0d0d0 !default;
$base_04: #cadbec !default;
$base_05: #cadbec !default;
$base_06: #234e71 !default;
$base_07: #cecece !default;
$base_08: #496685 !default;
$base_09: #e8edf2 !default;
$base_10: #22619d !default;
$base_11: #4b6c8b !default;
$base_12: #d3dfe2 !default;
$base_13: #3475b4 !default;
$base_14: #2d6faf !default;
$base_15: #008000 !default;
$base_16: #bcbcbc !default;
$base_17: #5a82a2 !default;
$base_18: #8eaf26 !default;
$base_19: #d54931 !default;
$base_20: #29aaee !default;
$base_21: #333333 !default;
$base_alpha_01: rgba(208, 208, 208, 0.8) !default;
$base_alpha_02: rgba(144, 144, 144, 0.5) !default;
$base_alpha_03: rgba(255, 255, 255, 0.9) !default;

/** Overrides */
$text-color: $base_21;

/** General **/
$COSMOUI_BACKGROUND: $base_00;
$HEADER_HEIGHT:83px !default;
$FOOTER_HEIGHT:0 !default;
$FOOTER_BACKGROUND:0 !default;

/** Layout **/
$COSMOUI_CONTENT_TITLE_COLOR: $base_10;

/* Menu */
$LEFT_MENU_WIDTH:163px !default;
$RIGHT_MENU_WIDTH:0 !default;
$RIGHT_MENU_BACKGROUND: $base_01;
$COSMOUI_MENU_BACKGROUND: $base_01;
$COSMOUI_MENU_FONT_FAMILY: "OpenSansCondLight", Helvetica, Arial, sans-serif;
$COSMOUI_MENU_FONT_SIZE: 17px !default;
$COSMOUI_MENU_PADDING: 0px !default;
$COSMOUI_MENU_MARGIN_LEFT: 23px !default;
$COSMOUI_MENU_TITLE_HEIGHT: 25px !default;
$COSMOUI_MENU_TITLE_TOP: 20px !default;
$COSMOUI_MENU_TITLE_FONT_SIZE: 17px !default;
$COSMOUI_MENU_ITEM_WIDTH: 115px !default;
$COSMOUI_MENU_ITEM_HEIGHT: 78px !default;
$COSMOUI_MENU_ITEM_COLOR: $base_11;
$COSMOUI_MENU_ITEM_COLOR_HOVER: $base_20;
$COSMOUI_MENU_ITEM_COLOR_SELECTED: $base_20;
$COSMOUI_MENU_ITEM_COLOR_DISABLED: $base_07;
$COSMOUI_MENU_ITEM_SEPERATOR: $base_04;
$COSMOUI_MENU_ICON_WIDTH: 115px !default;
$COSMOUI_MENU_ICON_HEIGHT: 30px !default;
$COSMOUI_MENU_ICON_FONT_SIZE: 65px !default;
$COSMOUI_MENU_ICON_TOP: 25px !default;
$COSMOUI_MAIN_CONTENT_BACKGROUND: $base_01;
$COSMOUI_MAIN_CONTENT_TITLE_SEPERATOR_COLOR: $base_12;

/** Buttons **/
$COSMOUI_BUTTON_BACKGROUND: $base_02;
$COSMOUI_BUTTON_RIGHT_BORDER_COLOR: $base_13;
$COSMOUI_BUTTON_BOTTOM_BORDER_COLOR: $base_14;
$COSMOUI_BUTTON_DISABLED_BACKGROUND: $base_03;

/** Username **/
$COSMOUI_USERNAME_TEXT_COLOR: $base_04;

/** List **/
$COSMOUI_LIST_COLUMN_HEADER_BACKGROUND: $base_05;
$COSMOUI_LIST_COLUMN_HEADER_TEXT_COLOR: $base_06;
$COSMOUI_LIST_HOVER_BACKGROUND: $base_07;
$COSMOUI_LIST_HOVER_ACTION_TEXT_COLOR: $base_01;
$COSMOUI_LIST_HOVER_ACTION_FONT_WEIGHT: normal !default;
$COSMOUI_LIST_HOVER_ACTION_FONT_SIZE: 35px !default;
$COSMOUI_LIST_HOVER_ACTION_WIDTH: 245px !default;
$COSMOUI_LIST_WIDTH: 97% !default;
$COSMOUI_LIST_MARGIN: 10px auto !default;

/** Popup **/
$COSMOUI_DIALOG_BACKGROUND: $base_01;
$COSMOUI_DIALOG_BORDER_COLOR: $base_08;
$COSMOUI_DIALOG_SHADOW_COLOR: $base_alpha_01;
$COSMOUI_DIALOG_TITLE_COLOR: $base_10;
$COSMOUI_DIALOG_CURSOR: pointer;

/** Events widget **/
$COSMOUI_EVENTS_WIDGET_CLOSED_HEIGHT: 30px;
$COSMOUI_EVENTS_WIDGET_CLOSED_WIDTH: 100px;
$COSMOUI_EVENTS_WIDGET_CLOSED_BACKGROUND: $base_09;
$COSMOUI_EVENTS_WIDGET_CLOSED_BORDER_RADIUS: 3px;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_WIDTH: 100%;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_PADDING: 5px;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_COLOR: $base_08;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_SIZE: 14px;
$COSMOUI_EVENTS_WIDGET_OPENED_WIDTH: 270px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEIGHT: 330px;
$COSMOUI_EVENTS_WIDGET_OPENED_BACKGROUND: $base_09;
$COSMOUI_EVENTS_WIDGET_OPENED_BORDER_RADIUS: 3px;
$COSMOUI_EVENTS_WIDGET_OPENED_SHADOW: -2px 2px 3px $base_alpha_02;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_WIDTH: 100%;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_HEIGHT: 40px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_PADDING: 4px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_COLOR: $base_08;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_FONT_SIZE: 16px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_BORDER_BOTTOM: 2px solid $base_08;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_TEXT_MARGIN_TOP: 4px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_TEXT_MARGIN_LEFT: 3px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_WIDTH: 20px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_HEIGHT: 20px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_BACKGROUND: url("#{$img-widget-close}") no-repeat center center;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_RIGHT: 5px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_TOP: 5px;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_CONTAINER_OVERFLOW_X: hidden;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_CONTAINER_HEIGHT: 285px;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_WIDTH: 100%;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_MARGIN: 0 auto;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_TABLE_TR_HEIGHT: 50px;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_TABLE_TR_BORDER_BOTTOM: 1px solid $base_01;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_TABLE_TD_PADDING: 10px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_ICON_WIDTH: 30px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_ICON_HEIGHT: 30px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_TYPE_WIDTH: 195px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_TYPE_MARGIN_LEFT: 10px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_TIME_MARGIN_LEFT: 10px;

/** Event icons **/
$COSMOUI_EVENT_ICON_BACKGROUND_WORKFLOW_STARTED: url("#{$img-workflow-started}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_WORKFLOW_END_SUCCESSFULLY: url("#{$img-workflow-end-successfully}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_WORKFLOW_FAILED: url("#{$img-workflow-failed}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_STARTED: url("#{$img-task-started}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_FAILED: url("#{$img-task-failed}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_SENT: url("#{$img-task-sent}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_SUCCESS: url("#{$img-task-success}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_POLICY_SUCCESS: url("#{$img-policy-success}") no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_POLICY_FAILED: url("#{$img-policy-failed}") no-repeat center center;


/** Blueprints list page **/
$COSMOUI_BLUEPRINTS_DEPLOY_COLOR: $base_15;
$COSMOUI_BLUEPRINTS_ICON_COLOR: $base_16;

/** Blueprint page **/
$COSMOUI_BLUEPRINT_DETAILS_BACKGROUND: $base_alpha_03;
$COSMOUI_BLUEPRINT_DETAILS_LEFT_BORDER_COLOR: $base_00;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_COLOR: $base_17;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_PADDING_BOTTOM: 10px !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_LINE_HEIGHT: 40px !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_FONT_SIZE: 32px !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_BOTTOM_BORDER_COLOR: $base_04;
$COSMOUI_BLUEPRINT_DETAILS_CONTENT_MARGIN_TOP: 10px !default;
$COSMOUI_BLUEPRINT_BUTTON_GROUP_BACKGROUND: $base_08;
$COSMOUI_BLUEPRINT_BUTTON_GROUP_BORDER_COLOR: 1px solid $base_12;
$COSMOUI_BLUEPRINT_DETAILS_BUTTON_HEIGHT: 24px !default;
$COSMOUI_BLUEPRINT_DETAILS_BUTTON_FONT_SIZE: 14px !default;
$COSMOUI_BLUEPRINT_DETAILS_BUTTON_PADDING: 0px 10px 0px 10px !default;
$COSMOUI_BLUEPRINT_BUTTON_ACTIVE_COLOR: $base_08;

/** Deployment list page **/
$COSMOUI_DEPLOYMENT_EXECUTE_COLOR: $base_15;

/** Deployment page **/
$COSMOUI_DEPLOYMENT_EVENT_WIDGET_RIGHT: 20px;
$COSMOUI_DEPLOYMENT_EVENT_WIDGET_TOP: 102px;
$COSMOUI_DEPLOYMENT_HEADER_WIDTH: 100%;
$COSMOUI_DEPLOYMENT_RIGHT_HEADER_WIDTH: 100px;
$COSMOUI_DEPLOYMENT_APP_STATUS_WIDTH: 100px;
$COSMOUI_DEPLOYMENT_APP_STATUS_HEIGHT: 100px;
$COSMOUI_DEPLOYMENT_APP_STATUS_BACKGROUND: $base_00;
$COSMOUI_DEPLOYMENT_APP_STATUS_BORDER_BOTTOM_LEFT_RADIUS: 10px;
$COSMOUI_DEPLOYMENT_APP_STATUS_BORDER: 3px solid $base_01;

/** Events page **/
$COSMOUI_EVENTS_LIST_ITEM_COLOR: $base_16;
$COSMOUI_EVENTS_LIST_TEXT_SUCCESS: $base_18;
$COSMOUI_EVENTS_LIST_TEXT_FAILED: $base_19;

/** Config page **/
$COSMOUI_CONFIG_MARGIN_LEFT: auto !default;
$COSMOUI_CONFIG_MARGIN_RIGHT: auto !default;
$COSMOUI_CONFIG_H3_COLOR: $base_04;
$COSMOUI_CONFIG_H3_TOP: 30px !default;
$COSMOUI_CONFIG_H3_WIDTH: 480px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_TOP: 70px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_WIDTH: 520px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_HEIGHT: 360px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_BACKGROUND: $base_04;
$COSMOUI_CONFIG_FORM_CONTAINER_PADDING: 20px !default;
$COSMOUI_CONFIG_FORM_TEXT_SIZE: 20px !default;
$COSMOUI_CONFIG_FORM_TEXT_WEIGHT: bold !default;
$COSMOUI_CONFIG_FORM_TEXT_MARGIN_BOTTOM: 20px !default;
$COSMOUI_CONFIG_FORM_TEXT_WIDTH: 390px !default;
$COSMOUI_CONFIG_FORM_WIDTH: 190px !default;
$COSMOUI_CONFIG_FORM_HEIGHT: 220px !default;
$COSMOUI_CONFIG_FORM_LABEL_MARGIN_RIGHT: 10px !default;
$COSMOUI_CONFIG_FORM_INPUT_MARGIN_BOTTOM: 20px !default;
$COSMOUI_CONFIG_FORM_BUTTON_BOTTOM: 0px !default;
$COSMOUI_CONFIG_FORM_BUTTON_LEFT: 0px !default;