/** General **/
$COSMOUI_BACKGROUND: #2c4a67 !default;
$HEADER_HEIGHT:83px !default;
$FOOTER_HEIGHT:0 !default;
$FOOTER_BACKGROUND:0 !default;

/** Layout **/
$COSMOUI_CONTENT_TITLE_COLOR: #22619D !default;

/* Menu */
$LEFT_MENU_WIDTH:163px !default;
$RIGHT_MENU_WIDTH:0 !default;
$RIGHT_MENU_BACKGROUND: #fff !default;
$COSMOUI_MENU_BACKGROUND: #fff !default;
$COSMOUI_MENU_FONT_FAMILY: "OpenSansCondLight", Helvetica, Arial, sans-serif;
$COSMOUI_MENU_FONT_SIZE: 17px !default;
$COSMOUI_MENU_PADDING: 0px !default;
$COSMOUI_MENU_MARGIN_LEFT: 23px !default;
$COSMOUI_MENU_TITLE_HEIGHT: 25px !default;
$COSMOUI_MENU_TITLE_TOP: 20px !default;
$COSMOUI_MENU_TITLE_FONT_SIZE: 17px !default;
$COSMOUI_MENU_ITEM_WIDTH: 115px !default;
$COSMOUI_MENU_ITEM_HEIGHT: 78px !default;
$COSMOUI_MENU_ITEM_COLOR: #4b6c8b !default;
$COSMOUI_MENU_ITEM_COLOR_HOVER: #29aaee !default;
$COSMOUI_MENU_ITEM_COLOR_SELECTED: #29aaee !default;
$COSMOUI_MENU_ITEM_SEPERATOR: #cadbec;
$COSMOUI_MENU_ICON_WIDTH: 115px !default;
$COSMOUI_MENU_ICON_HEIGHT: 30px !default;
$COSMOUI_MENU_ICON_FONT_SIZE: 65px !default;
$COSMOUI_MENU_ICON_TOP: 25px !default;
$COSMOUI_MAIN_CONTENT_BACKGROUND: #fff !default;
$COSMOUI_MAIN_CONTENT_TITLE_SEPERATOR_COLOR: #D3DFE2 !default;

/** Buttons **/
$COSMOUI_BUTTON_BACKGROUND:#4885C0 !default;
$COSMOUI_BUTTON_RIGHT_BORDER_COLOR:#3475B4 !default;
$COSMOUI_BUTTON_BOTTOM_BORDER_COLOR:#2D6FAF !default;
$COSMOUI_BUTTON_DISABLED_BACKGROUND:#D0D0D0 !default;

/** Username **/
$COSMOUI_USERNAME_TEXT_COLOR: #cadbec !default;

/** List **/
  $COSMOUI_LIST_COLUMN_HEADER_BACKGROUND: #CCE4F6 !default;
$COSMOUI_LIST_COLUMN_HEADER_TEXT_COLOR: #234E71 !default;
$COSMOUI_LIST_HOVER_BACKGROUND: #CECECE !default;
$COSMOUI_LIST_HOVER_ACTION_TEXT_COLOR: #fff !default;
$COSMOUI_LIST_HOVER_ACTION_FONT_WEIGHT: normal !default;
$COSMOUI_LIST_HOVER_ACTION_LETTER_SPACING: 10px !default;
$COSMOUI_LIST_HOVER_ACTION_FONT_SIZE: 35px !default;
$COSMOUI_LIST_WIDTH: 97% !default;
$COSMOUI_LIST_MARGIN: 10px auto !default;

/** Popup **/
$COSMOUI_POPUP_BACKGROUND: #fff !default;
$COSMOUI_POPUP_BORDER_COLOR: #496685 !default;
$COSMOUI_POPUP_SHADOW_COLOR: rgba(208, 208, 208, 0.8) !default;
$COSMOUI_POPUP_TITLE_COLOR: #22619D !default;
$COSMOUI_POPUP_CURSOR: pointer;

/** Events widget **/
$COSMOUI_EVENTS_WIDGET_CLOSED_HEIGHT: 30px;
$COSMOUI_EVENTS_WIDGET_CLOSED_WIDTH: 100px;
$COSMOUI_EVENTS_WIDGET_CLOSED_BACKGROUND: #e8edf2;
$COSMOUI_EVENTS_WIDGET_CLOSED_BORDER_RADIUS: 3px;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_WIDTH: 100%;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_PADDING: 5px;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_COLOR: #496685;
$COSMOUI_EVENTS_WIDGET_CLOSED_TEXT_SIZE: 14px;
$COSMOUI_EVENTS_WIDGET_OPENED_WIDTH: 270px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEIGHT: 330px;
$COSMOUI_EVENTS_WIDGET_OPENED_BACKGROUND: #e8edf2;
$COSMOUI_EVENTS_WIDGET_OPENED_BORDER_RADIUS: 3px;
$COSMOUI_EVENTS_WIDGET_OPENED_SHADOW: -2px 2px 3px rgba(144, 144, 144, 0.5);
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_WIDTH: 100%;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_HEIGHT: 40px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_PADDING: 4px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_COLOR: #496685;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_FONT_SIZE: 16px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_BORDER_BOTTOM: 2px solid #496685;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_TEXT_MARGIN_TOP: 4px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_TEXT_MARGIN_LEFT: 3px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_WIDTH: 20px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_HEIGHT: 20px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_BACKGROUND: url(/images/eventsWidgetClose.png) no-repeat center center;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_RIGHT: 5px;
$COSMOUI_EVENTS_WIDGET_OPENED_HEADER_CLOSE_TOP: 5px;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_CONTAINER_OVERFLOW_X: hidden;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_CONTAINER_HEIGHT: 285px;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_WIDTH: 100%;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_MARGIN: 0 auto;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_TABLE_TR_HEIGHT: 50px;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_TABLE_TR_BORDER_BOTTOM: 1px solid #fff;
$COSMOUI_EVENTS_WIDGET_OPENED_LIST_TABLE_TD_PADDING: 10px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_ICON_WIDTH: 30px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_ICON_HEIGHT: 30px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_TYPE_WIDTH: 195px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_TYPE_MARGIN_LEFT: 10px;
$COSMOUI_EVENTS_WIDGET_OPENED_EVENT_TIME_MARGIN_LEFT: 10px;

/** Event icons **/
$COSMOUI_EVENT_ICON_BACKGROUND_WORKFLOW_STARTED: url(/images/events/WorkflowStarted.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_WORKFLOW_END_SUCCESSFULLY: url(/images/events/WorkflowSuccessfully.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_WORKFLOW_FAILED: url(/images/events/WorkflowFailed.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_STARTED: url(/images/events/TaskStarted.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_FAILED: url(/images/events/TaskFailed.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_SENT: url(/images/events/TaskSent.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_TASK_SUCCESS: url(/images/events/TaskSuccessfully.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_POLICY_SUCCESS: url(/images/events/PolicySuccessfully.png) no-repeat center center;
$COSMOUI_EVENT_ICON_BACKGROUND_POLICY_FAILED: url(/images/events/PolicyFailed.png) no-repeat center center;


/** Blueprints list page **/
$COSMOUI_BLUEPRINTS_DEPLOY_COLOR: #008000 !default;
$COSMOUI_BLUEPRINTS_ICON_COLOR: #BCBCBC !default;

/** Blueprint page **/
$COSMOUI_BLUEPRINT_DETAILS_BACKGROUND: rgba(255,255,255,0.9) !default;
$COSMOUI_BLUEPRINT_DETAILS_LEFT_BORDER_COLOR: #2c4a67 !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_COLOR: #5A82A2 !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_PADDING_BOTTOM: 10px !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_LINE_HEIGHT: 40px !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_FONT_SIZE: 32px !default;
$COSMOUI_BLUEPRINT_DETAILS_TITLE_BOTTOM_BORDER_COLOR: #CADBEC !default;
$COSMOUI_BLUEPRINT_DETAILS_CONTENT_MARGIN_TOP: 10px !default;
$COSMOUI_BLUEPRINT_BUTTON_GROUP_BACKGROUND: #496685 !default;
$COSMOUI_BLUEPRINT_BUTTON_GROUP_BORDER_COLOR: 1px solid #D3DFE2 !default;
$COSMOUI_BLUEPRINT_DETAILS_BUTTON_HEIGHT: 24px !default;
$COSMOUI_BLUEPRINT_DETAILS_BUTTON_FONT_SIZE: 14px !default;
$COSMOUI_BLUEPRINT_DETAILS_BUTTON_PADDING: 0px 10px 0px 10px !default;
$COSMOUI_BLUEPRINT_BUTTON_ACTIVE_COLOR: #496685 !default;

/** Deployment list page **/
$COSMOUI_DEPLOYMENT_EXECUTE_COLOR: #008000 !default;

/** Deployment page **/
$COSMOUI_DEPLOYMENT_EVENT_WIDGET_RIGHT: 20px;
$COSMOUI_DEPLOYMENT_EVENT_WIDGET_TOP: 102px;
$COSMOUI_DEPLOYMENT_HEADER_WIDTH: 100%;
$COSMOUI_DEPLOYMENT_RIGHT_HEADER_WIDTH: 100px;
$COSMOUI_DEPLOYMENT_TOGGLES_BAR_WIDTH: 100%;
$COSMOUI_DEPLOYMENT_TOGGLES_BAR_HEIGHT: 50px;
$COSMOUI_DEPLOYMENT_TOGGLES_BAR_MARGIN_TOP: 5px;
$COSMOUI_DEPLOYMENT_APP_STATUS_WIDTH: 100px;
$COSMOUI_DEPLOYMENT_APP_STATUS_HEIGHT: 100px;
$COSMOUI_DEPLOYMENT_APP_STATUS_BACKGROUND: #2c4a67;
$COSMOUI_DEPLOYMENT_APP_STATUS_BORDER_BOTTOM_LEFT_RADIUS: 10px;
$COSMOUI_DEPLOYMENT_APP_STATUS_BORDER: 3px solid #fff;

/** Events page **/
$COSMOUI_EVENTS_LIST_ITEM_COLOR: #BCBCBC !default;
$COSMOUI_EVENTS_LIST_TEXT_SUCCESS: #8EAF26 !default;
$COSMOUI_EVENTS_LIST_TEXT_FAILED: #d54931 !default;

/** Config page **/
$COSMOUI_CONFIG_MARGIN_LEFT: auto !default;
$COSMOUI_CONFIG_MARGIN_RIGHT: auto !default;
$COSMOUI_CONFIG_H3_COLOR: #CADBEC;
$COSMOUI_CONFIG_H3_TOP: 30px !default;
$COSMOUI_CONFIG_H3_WIDTH: 480px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_TOP: 70px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_WIDTH: 520px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_HEIGHT: 360px !default;
$COSMOUI_CONFIG_FORM_CONTAINER_BACKGROUND: #CADBEC !default;
$COSMOUI_CONFIG_FORM_CONTAINER_PADDING: 20px !default;
$COSMOUI_CONFIG_FORM_TEXT_SIZE: 20px !default;
$COSMOUI_CONFIG_FORM_TEXT_WEIGHT: bold !default;
$COSMOUI_CONFIG_FORM_TEXT_MARGIN_BOTTOM: 20px !default;
$COSMOUI_CONFIG_FORM_TEXT_WIDTH: 390px !default;
$COSMOUI_CONFIG_FORM_WIDTH: 190px !default;
$COSMOUI_CONFIG_FORM_HEIGHT: 220px !default;
$COSMOUI_CONFIG_FORM_LABEL_MARGIN_RIGHT: 10px !default;
$COSMOUI_CONFIG_FORM_INPUT_MARGIN_BOTTOM: 20px !default;
$COSMOUI_CONFIG_FORM_BUTTON_BOTTOM: 0px !default;
$COSMOUI_CONFIG_FORM_BUTTON_LEFT: 0px !default;