.whitelabel-cloudify-logo-redlabel { background-image: url('png/cloudify-logo-redlabel.png'); background-repeat: no-repeat; }

.whitelabel-cloudify-logo { background-image: url('png/cloudify-logo.png'); background-repeat: no-repeat; }

.whitelabel-logout-redlabel { background-image: url('png/logout-redlabel.png'); background-repeat: no-repeat; }

.whitelabel-logout { background-image: url('png/logout.png'); background-repeat: no-repeat; }

.whitelabel-search-redlabel { background-image: url('png/search-redlabel.png'); background-repeat: no-repeat; }

.whitelabel-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.whitelabel-user-redlabel { background-image: url('png/user-redlabel.png'); background-repeat: no-repeat; }

.whitelabel-user { background-image: url('png/user.png'); background-repeat: no-repeat; }

