.whitelabel-cloudify-logo-0 { background-image: url('png/cloudify-logo-0.png'); background-repeat: no-repeat; }

.whitelabel-cloudify-logo.colors-ff5555 { background-image: url('png/cloudify-logo.colors-ff5555.png'); background-repeat: no-repeat; }

.whitelabel-cloudify-logo { background-image: url('png/cloudify-logo.png'); background-repeat: no-repeat; }

