

/** White Labeling **/
@import './whitelabel';

/** Common **/
@import './colors';
@import './images';
@import './variables';
@import './fonts';
@import './layout';
@import './sideMenu';
@import 'dialogs';
@import './toggleSwitch';
@import './eventsWidget';
@import './appStatusWidget';
@import './pieProgress';
@import './dotsLoader';
@import './settingsToggles';
@import './common';
@import './animate';

$gs-infra-root:'../bower_components/gs-ui-infra';
@import '../bower_components/gs-ui-infra/app/styles/main.scss';

/** Fonts **/
$fa-font-path:'../bower_components/font-awesome/fonts';
@import '../bower_components/font-awesome/scss/font-awesome';

/** Pages **/
@import './blueprintsIndex';
@import './eventsIndex';
@import './plans';
@import './deployments';
@import './deployment';
@import './config';
@import './logs';

/** Bootstap **/
@import '../bower_components/bootstrap-sass/lib/bootstrap';

.embeded {
    #header, #left-side-menu, #footer, .no-embed {
        display: none !important;
    }
    .layout, #main-content {
        background-color: transparent;
    }
}
