#deployment {

    #main-content-panel {
        position: relative;
    }

    #plans-index-events-widget {
        position: absolute;
        right: $COSMOUI_DEPLOYMENT_EVENT_WIDGET_RIGHT;
        top: $COSMOUI_DEPLOYMENT_EVENT_WIDGET_TOP;
        z-index: 9998;
    }

    #appStatus {
        float: right;
        width: $COSMOUI_DEPLOYMENT_APP_STATUS_WIDTH;
        height: $COSMOUI_DEPLOYMENT_APP_STATUS_HEIGHT;
        background: $COSMOUI_DEPLOYMENT_APP_STATUS_BACKGROUND;
        border-bottom-left-radius: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER_BOTTOM_LEFT_RADIUS;
        border-left: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER;
        border-bottom: $COSMOUI_DEPLOYMENT_APP_STATUS_BORDER;
        position: absolute;
        right: 0px;
        top:0;
    }

    #right-side-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 600px;
        height: 100%;
        border-left: 4px solid $COSMOUI_BLUEPRINT_DETAILS_LEFT_BORDER_COLOR;
        background-color: $COSMOUI_BLUEPRINT_DETAILS_BACKGROUND;
        padding-left: 19px;
        padding-right: 13px;
        padding-top: 5px;
        z-index: 10001;

        .title {
            padding-bottom: $COSMOUI_BLUEPRINT_DETAILS_TITLE_PADDING_BOTTOM;
            line-height: $COSMOUI_BLUEPRINT_DETAILS_TITLE_LINE_HEIGHT;
            color: $COSMOUI_BLUEPRINT_DETAILS_TITLE_COLOR;
            font-size: $COSMOUI_BLUEPRINT_DETAILS_TITLE_FONT_SIZE;
            border-bottom: 1px solid $COSMOUI_BLUEPRINT_DETAILS_TITLE_BOTTOM_BORDER_COLOR;
            i {
                float: right;
                margin-top: 8px;
            }
        }

        .content {
            margin-top: $COSMOUI_BLUEPRINT_DETAILS_CONTENT_MARGIN_TOP;



            .content-section {
                table {
                    padding: 9.5px;
                    font-size: 13px;
                    color: #333333;
                    width: 100%;
                    table-layout: fixed;
                    float: left;

                    tr {
                        height: 30px;
                        border-bottom: 1px solid #cadbec;

                        &:first-child {
                            background-color: $clr-base-12;
                        }

                        td {
                            min-width: 120px;
                            vertical-align: middle;
                            padding: 5px;
//                            word-break: break-all;
                            vertical-align: top;

                            table {
                                tr:first-child td {
                                    background: #E5EFF7;
                                    color: $COSMOUI_LIST_COLUMN_HEADER_TEXT_COLOR;
                                    border-bottom: 2px solid #fff;
                                }

                                tr {
                                    &:hover:not(:first-child) td {
                                        background-color: $COSMOUI_LIST_HOVER_BACKGROUND;

                                        &, i {
                                            color: $COSMOUI_LIST_HOVER_ACTION_TEXT_COLOR;
                                        }
                                        i {
                                            font-weight: $COSMOUI_LIST_HOVER_ACTION_FONT_WEIGHT;
                                        }
                                    }

                                    td {
                                        vertical-align: middle;
                                        height: 60px;
                                        color: #333;
                                    }
                                    &:not(:first-child) td.actions {
                                        width: $COSMOUI_LIST_HOVER_ACTION_WIDTH;
                                        font-size: $COSMOUI_LIST_HOVER_ACTION_FONT_SIZE;

                                        select {
                                            background: $COSMOUI_INPUT_BACKGROUND;
                                            height: 35px;
                                            width: 160px;
                                            float: left;
                                            font-size: 14px;
                                            box-shadow: none;
                                            border: none;
                                            border-radius: 0px;
                                            -webkit-appearance: none;
                                            -moz-appearance: none;
                                            appearance: none;
                                            padding: 7px;
                                            cursor: pointer;

                                            &.disable {
                                                background: transparent;
                                                color: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    .events {
        padding: 0px 20px;
        margin: 10px 0 0;
    }

    .content-section, .events {
        width: 100%;
        height: 100%;

        .filters {
            position: relative;
            margin: 0 0 10px 0;
            .multiSelectMenu {
                margin: 0 15px 0 5px;
                vertical-align: middle;
            }
            .search {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                input {
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px 1px 1px 1px;
                    padding: 5px 25px 5px 10px;
                    border-radius: 3px 0 0 3px;
                    outline: none;
                    &:focus {
                        border-color: #29A9EE;
                    }
                }
                button {
                    background-color: #f5f5f5;
                    border-style: solid;
                    border-color: #ccc;
                    border-width: 1px 1px 1px 0;
                    padding: 5px 10px;
                    border-radius: 0 3px 3px 0;
                    outline: none;
                    &:hover {
                        border-color: #29A9EE;
                        background-color: #29A9EE;
                        color: #fff;
                    }
                }
                .close {
                    position: absolute;
                    right: 51px;
                    top: 1px;
                    padding: 5px;
                    font-size: 17px;
                }
            }

            > span {
                margin: 0 0 10px 0;
                display: inline-block;
            }
            > span.autopull {
                border: 1px solid #ccc;
                border-radius: 3px;
                vertical-align: bottom;
                float: right;
                label {
                    padding: 5px 10px;
                    border-right: 1px dotted #ccc;
                    margin: 0px;
                    font-weight: normal;
                    background-color: #f5f5f5;
                }
                > span {
                    padding: 5px 10px;
                    &.off {
                        color: #ccc;
                    }
                    &.on {
                        color: #29aaee;
                        font-weight: bold;
                    }
                }
            }
        }

        [ng-switch-when='events'] {
            padding: 10px 20px;
        }

        .emptyTable {
            display: block;
            text-align: center;
            padding: 20px;
        }

        .gs-table {
            width: 100%;
            margin: 0px;
            tr {
                td {
                    &.type {
                        width: 150px;
                    }
                    &.icon-events {
                        width: 60px;
                    }
                    &.node, &.task, &.workflow {
                        width: 110px;
                    }
                    &.task {
                        width: auto;
                    }
                    &.action {
                        width: 75px;
                    }
                    &.date {
                        width: 200px;
                    }
                    &.cliclable {
                        cursor: pointer;
                    }
                    &.event-text-green {
                        color: $COSMOUI_EVENTS_LIST_TEXT_SUCCESS;
                    }
                    &.event-text-red {
                        color: $COSMOUI_EVENTS_LIST_TEXT_FAILED;
                    }
                }
            }

            &.eventsTable {
                tr {
                    td {
                        vertical-align: top;

                        .icon {
                          background-position: top center;
                        }
                    }
                }
            }
        }
    }

    .newEvents {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        font-size: 15px;
        text-align: center;
        > p {
            display: inline-block;
            background-color: #049cdb;
            color: #fff;
            margin: 0 auto;
            padding: 2px 10px;
            border-radius: 13px;
            box-shadow: 1px 1px 0px #0482c7;
            cursor: pointer;
        }
    }

    .piProgress {
        .percents {
            display: none;
            text-align: center;
            position: relative;
            top: 10px;
            font-size: 11px;
            &::after {
                content: "%";
            }
        }
        .pieInProgress {
            -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
            i {
                display: none;
            }
            .percents {
                display: block;
            }
        }
        &[status='0'] {
            .circle[state='0'] {
                @extend .pieInProgress;
                background-color: #dddddd !important;
            }
            .circle[state='1'] {
                @extend .pieInProgress;
                background-color: #bebebe !important;
            }
            .circle[state='2'] {
                @extend .pieInProgress;
                background-color: #3aaaed !important;
            }
            .circle[state='3'] {
                @extend .pieInProgress;
                background-color: #66a2c5 !important;
            }
            .circle[state='4'] {
                @extend .pieInProgress;
                background-color: #136e9d !important;
            }
            .circle[state='5'] {
                @extend .pieInProgress;
                background-color: #136e9d !important;
            }
            .circle[state='6'] {
                @extend .pieInProgress;
                background-color: #136e9d !important;
            }
        }
    }



    .networksContainer {
        position: relative;
        white-space: nowrap;
        margin: 40px 0 0 20px;
        height: 600px;
        .relations {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .network {
            display: inline-block;
            text-align: center;
            min-width: 150px;
            .line {
                position: relative;
                display: inline-block;
                vertical-align: top;
                .name {
                    display: block;
                    width: 150px;
                    background-color: #797B86;
                    color: #fff;
                    padding: 2px 6px;
                    border-radius: 5px;
                    text-align: center;
                    margin: 0 0 10px 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .name-space {
                    display: block;
                    width: 50px;
                    height: 40px;
                }
                .subnet {
                    position: relative;
                    display: inline-block;
                    width: 20px;
                    height: 500px;
                    background-color: #149bdf;
                    color: #fff;
                    border-radius: 5px;
                    vertical-align: top;
                    margin: 0px 10px 0 0;
                    > p {
                        position: absolute;
                        display: block;
                        transform: rotate(90deg);
                        -ms-transform: rotate(90deg); /* IE 9 */
                        -webkit-transform: rotate(90deg); /* Safari and Chrome */
                        white-space: nowrap;
                        top: 5px;
                        right: 0;
                        left: 1px;
                    }
                    > p.cidr {
                        width: 200px;
                        top: auto;
                        left: -90px;
                        bottom: 85px;
                        text-align: right;
                    }
                    .network-badge {
                        position: absolute;
                        top: -5px;
                        left: 15px;
                        z-index: 900;
                    }
                    &.red {
                        background-color: #d54931;
                    }
                    &.orange {
                        background-color: #f89406;
                    }
                    &.external {
                      height: 533px;
                    }
                }
                .subnet:last-child {
                    margin: 0;
                }
            }
            .devices {
                display: inline-block;
                width: 160px;
                height: 500px;
                vertical-align: top;
                > .device, > .router {
//                    position: relative;
                    display: block;
                    color: #797B86;
                    border-radius: 20px;
                    vertical-align: top;
                    margin: 47px auto;
                    .inner {
                        display: inline-block;
                        position: relative;
                    }
                    label {
                        display: block;
                        background-color: #000;
                        color: #fff;
                        margin: 0px;
                        font-weight: normal;
                    }
                    > p {
                        margin: 5px;
                    }
                    i.gs-node-icon:after {
                      position: relative;
                      top: 6px;
                    }
                    i.topology-glyph {
                        display: inline-block;
                        color: inherit;
                        width: 30px;
                        height: 30px;
                        font-size: 60px;
                        line-height: 5px;

                      &:before {
                        font-size: 60px;
                        position: absolute;
                        top: -26px;
                        left: 0px;
                      }
                    }
                    .portarea {
                        display: inline-block;
                        width: auto;
                        height: auto;
                        padding: 5px;
                        border-radius: 5px;
                        background-color: #f5f5f5;
                        border: 1px solid #ccc;
                    }
                    .ports {
                        position: relative;
                    }
                    .badge {
                        position: absolute;
                        top: -8px;
                        left: 20px;
                    }
                }
                > .router:last-child {
                    margin-bottom: 0px;
                }
                .buttons {
                    display: none;
                    position: absolute;
                    top: 2px;
                    left: -30px;
                    z-index: 100;
                    > ul {
                        display: inline-block;
                        list-style-type: none;
                        white-space: nowrap;
                        margin: 0;
                        padding: 0;
                        li {
                            display: inline-block;
                            width: 36px;
                            height: 28px;
                            border-width: 2px 0 2px 2px;
                            border-style: solid;
                            border-color: #ddd;
                            background-color: #fff;
                            cursor: pointer;
                            position: relative;
                            &:after {
                                position: absolute;
                                top: -2px;
                                left: 6px;
                                font-size: 20px;
                            }
                        }
                        li:first-child {
                            border-top-left-radius: 14px;
                            border-bottom-left-radius: 14px;
                        }
                        li:last-child {
                            border-width: 2px;
                            border-top-right-radius: 14px;
                            border-bottom-right-radius: 14px;
                        }
                    }
                }
                :hover > .buttons {
                    display: inline;
                }
            }
        }
        .network {
          .devices {
              > .router {
                margin: 92px auto 47px;
              }
              > .device {
                margin: 52px auto 47px;
              }
          }
        }
    }

    .deployment-progress {
        width: 100%;
    }

    .inputsOutputs{
        margin: 30px 0 0;
        padding: 0 20px 20px;

        div{
            width: 50%;
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }

        .error{
            color:red;
        }

        #inputs{
            float:left;
            padding-right: 20px;
        }

        #outputs{
            float:right;
            padding-left: 20px;
        }

        .gs-table{
            margin:0;
        }
    }

    .monitor {
        margin: 20px 20px 0;
        .navigate {
            position: relative;
            display: block;
            background-color: #f5f5f5;
            text-align: center;
            padding: 10px;
            border-top: 3px solid #136e9d;
            margin: 0 0 2%;
            .arrowBtn {
                position: absolute;
                top: 0px;
                width: 39px;
                height: 39px;
                cursor: pointer;
                &.left {
                    left: 0px;
                }
                &.right {
                    right: 0px;
                }
                &:hover {
                    background-color: #0099FF;
                    i {
                        color: #fff;
                    }
                }
                i {
                    position: absolute;
                    top: 10px;
                    left: 13px;
                    font-size: 20px;
                }
            }
        }

        .pagesFrame {
            position: relative;
            display: block;
            overflow-x: hidden;
            height: 905px;
            .pages {
                display: block;
                position: relative;
                left: 0px;
                -webkit-transition: left linear 0.5s;
                transition: left linear 0.5s;
                .page {
                    display: inline-block;
                    vertical-align: top;
                    .chart {
                        position: relative;
                        display: inline-block;
                        width: 49%;
                        height: 430px;
                        margin: 0 2% 2% 0;
                        padding: 10px;
                        background-color: #f5f5f5;
                        border: 1px solid #ccc;
                        vertical-align: top;
                        &:nth-child(even) {
                            margin-right: 0px;
                        }
                        &.newChart {
                            background-color: #fff;
                            border: 1px dotted #ccc;
                            padding: 25px;
                            margin-right: 0px;
                            h3 {
                                margin-top: 0px;
                            }
                            label {
                                display: block;
                                font-weight: normal;
                                margin: 0 0 10px 0;
                                &.checkbox {
                                    display: inline-block;
                                }
                            }
                            input[type='text'], select, textarea {
                                border-radius: 3px;
                                padding: 5px;
                                background-clip: padding-box;
                                background-color: #f4fbff;
                                border: 1px solid #ccc;
                                margin: 5px 0 0 0 !important;
                            }
                            textarea {
                                height: 50px;
                                resize: none;
                            }
                        }
                        .close {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            width: 18px;
                            height: 23px;
                        }
                    }
                }
            }
        }
    }

    .executions, .nodesTable {
        display: block;
        max-width: 100%;
        padding: 0 20px;
        margin: 10px 0 0;
        overflow: hidden;

        .gs-table {
            margin: 0px;
            tr {
                cursor: default;

                .workflow {}
                .id {
                  min-width: 290px !important;
                }
                .created {
                  min-width: 150px !important;
                }
                .status {
                  min-width: 80px !important;
                }
                .error {
                  min-width: 210px !important;
                  max-width: 210px !important;
                  overflow: hidden;
                }
            }
        }
    }

    div[ng-switch-when="nodes"], div[ng-switch-when="executions"], .executions, .nodesTable {
        margin: 30px 0 0;
        padding: 0 20px 20px;

        .gs-table {
            tr {
                cursor: default;
                td i {
                  margin-top: 9px;
                }
            }
            .node-details {
                cursor: pointer;
            }
            .topology-glyph {
                display: inline-block;
                line-height: 0.7;
                color: #53bbf1;
                &.fa {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    font-size: 30px;
                    &:before {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .grafanaLoader {
        position: absolute;
        width: 100%;
        height: 710px;
        background-color: #ffffff;
        text-align: center;

        p {
            font-size: 24px;
            margin: 10px 0 0 0;
        }
    }

    .deploymentLoader {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        text-align: center;
        top: 0px;
        z-index: 1000;

        .gs-loader {
            height: 128px;

            margin-top: 133px;
        }

        p {
            font-size: 24px;
            margin: 10px 0 0 0;
        }
    }

    .monitoringIframe {
        width: 100%;
        height: 700px;
        border: 0px;
        margin-top: 5px;
    }

}
