node_modules
dist
dev
.tmp
.sass-cache
*.iml
.idea
app/bower_components
libpeerconnection.log
upgrade_script.sh
setup.sh
.DS_Store
app/dev
conf/dev
*.log
**/*.log*
settings.json
*.tgz
backend/tmp
test-results.xml

# QuickBuild
.qbcache/
backend/appConf.js
coverage
backend-coverage
backend-instrument
