<div class="btn-group" ng-if="!isRunning() && !currentUpdate" dropdown>
    <button id="split-button" class="btn" type="button" ng-click="selectAction(defaultAction)">{{ defaultAction.name | translate }}</button>
    <button type="button" class="btn" dropdown-toggle>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
        <li ng-repeat="action in actions" role="menuitem" ng-click="selectAction(action)">
            <button class="btn" type="button">{{ action.name | translate }}</button>
        </li>
    </ul>
</div>
<div class="executingWorkflow" ng-show="isRunning() || currentUpdate" ng-class="{'no-cancel': currentUpdate}">
    <span class="gs-spinner inline"></span>
    <span ng-if="!currentUpdate" title="{{getExecutionName(currentExecution)}}">{{ getExecutionName(currentExecution) }}</span>
    <span ng-if="currentUpdate" title="{{'deploymentActionSelector.updating' | translate }}">{{'deploymentActionSelector.updating' | translate }}</span>
</div>
<i class="deployment-pause fa fa-times-circle" ng-show="canCancel() && !currentUpdate" ng-click="cancel()"></i>
