<div class="dialogInputs deployInputs"><!-- This comment is important!!!  - http://stackoverflow.com/questions/8824395/still-space-between-elements-buttons-with-margin-0
    --><div class="type-toggle"><!-- This comment is important!!!
        --><div class="section-nav-menu-class"><!-- This comment is important!!!
            --><div class="buttons-group"><!-- This comment is important!!!
                --><button data-ng-class="{'active': inputsState == 'params'}" class="btn btn-default" data-ng-click="toggleInputsState('PARAMS')">Parameters</button><!-- This comment is important!!!
                --><button data-ng-class="{'active': inputsState == 'raw'}" class="btn btn-default" data-ng-click="toggleInputsState('RAW')">Raw</button>
            </div>
        </div>
    </div>
    <div class="inputsParameters" ng-show="inputsState == 'params'">
        <ul>
            <li ng-repeat="(name, value) in params">
                <div title="{{name}}{{': '+(value.description ||'formRawParams.noDescriptionTooltip'|translate)}}" class="form-raw-item-name">{{name}}:</div>
                <span class="input-wrapper">
                    <input name="{{name}}" type="text" class="param-input" spellcheck="false" ng-trim="false" ng-model="inputs[name]" ng-class="{'rightPaddingText': value.default}"
                           placeholder="{{ inputs[name]==null? 'null' : ('dialogs.deploy.value' | translate) }}">
                    <i class="restore-default fa fa-history" ng-if="value.default !== undefined" ng-click="restoreDefault(name,value.default)" title="{{parseDefVal(value.default)}}"></i>
                </span>
            </li>
        </ul>
    </div>
    <div class="inputsRaw" ng-show="inputsState == 'raw'">
        <textarea ng-model="rawString" spellcheck="false"></textarea>
    </div>
</div>
