<div class="dialogInputs deployInputs"><!-- This comment is important!!!  - http://stackoverflow.com/questions/8824395/still-space-between-elements-buttons-with-margin-0
    --><div class="type-toggle"><!-- This comment is important!!!
        --><div class="section-nav-menu-class"><!-- This comment is important!!!
            --><div class="buttons-group"><!-- This comment is important!!!
                --><button data-ng-class="{'active': inputsState == 'params'}" class="btn btn-default" data-ng-click="toggleInputsState('PARAMS')">Parameters</button><!-- This comment is important!!!
                --><button data-ng-class="{'active': inputsState == 'raw'}" class="btn btn-default" data-ng-click="toggleInputsState('RAW')">Raw</button>
            </div>
        </div>
    </div>
    <div class="inputsParameters" ng-show="inputsState == 'params'">
        <ul>
            <li ng-repeat="(name, value) in params"><div title="{{name}}" class="form-raw-item-name">{{name}}:</div> <input type="text" spellcheck="false" ng-trim="false" ng-model="inputs[name]" placeholder="{{ 'dialogs.deploy.value' | translate }}"></li>
        </ul>
    </div>
    <div class="inputsRaw" ng-show="inputsState == 'raw'">
        <textarea ng-model="rawString" spellcheck="false"></textarea>
    </div>
</div>
