
<div class="bpContainer gs-topology">

    <topology-directive
        topology="topologyData"
        loading="topologyLoading"
        auto-scale="true"
        enable-node-click="true"
        enable-zoom="true"
        on-node-selected="onNodeSelected"
        on-scale-change="onScaleChange"
        on-network-bar-change="onNetworkBarChange"
        enable-drag="true"
        enable-drop="true"
        enable-drag-edit="false"
        enable-network-bar-drag="true"
        auto-layout="true"
        />
</div>

