<div id="deleteDialog" class="dialogBox">
    <div class="dialogTitle"> {{ 'deployments.dialogs.delete.title' | translate }}</div>
    <div class="dialogDescription"> {{ 'deployments.dialogs.delete.description' | translate: {deployment: deployment.id} }}</div>
    <div class="error-message" data-ng-show="errorMessage">{{ errorMessage }}</div>
    <div class="buttonsContainer confirmationButtons">

        <button id="cancelBtnDelDep" class="gs-btn" ng-click="closeThisDialog()" ng-disabled="inProcess">{{ 'deployments.dialogs.delete.no' | translate }}</button>
        <button class="gs-btn" gs-spinner="{{inProcess && !inForceProcess}}" ng-click="confirmDelete()" ng-disabled="inProcess">{{ 'deployments.dialogs.delete.confirm' | translate }}</button>
        <button class="gs-btn" gs-spinner="{{inForceProcess}}" ng-click="confirmDelete(true)" ng-disabled="inProcess">{{ 'deployments.dialogs.delete.force' | translate }}</button>
    </div>
</div>
