<div class="events-widget" data-ng-class="{'closed': minimizeMode}" ng-show="showDeploymentEvents">
    <div class="bg"></div>
    <div class="head" data-ng-mousedown="dragIt($event)">
        <div class="title">Events</div>
        <a id="logs-page-link" href="#/logs?deployment_idLogs={{logsSearchParams.deployment_Id | encodeUri}}&sortByLogs={{logsSearchParams.sortBy}}&reverseLogs={{logsSearchParams.reverseOrder}}">{{'deployment.eventsWidget.linkToLogs' | translate}}</a>
        <div class="lastEvent" data-ng-show="!!lastEvent && minimizeMode">
            <div class="icon">
                <div class="icon-events" ng-class="getEventIcon(lastEvent)"></div>
            </div>
            <div class="type">{{ getEventText(lastEvent.event_type) }} {{ lastEvent.context.node_name ? ' - ' + lastEvent.context.node_name : '' }}</div>
        </div>
        <div class="dragBtn" data-ng-mousedown="dragIt($event)"></div>
    </div>
    <div class="containList" wheel-propagation="true">
        <table class="eventsList">
            <tr class="animate-repeat" ng-repeat="event in events track by $index">
                <td class="icon">
                    <div class="icon-events" ng-class="getEventIcon(event)"></div>
                </td>
                <td class="type">{{ getEventText(event.event_type) }} {{ event.context.node_name ? ' - ' + event.context.node_name : '' }}</td>
                <td class="time">{{ event['@timestamp'] | dateFormat:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td class="message">
                    <div class="brief">{{ event.message.text }}</div>
                </td>
            </tr>
        </table>
    </div>
</div>
