<div class="deployments-layout-display cosmo-layout">

    <span ng-show="!deploymentNotFound">


    <div id="deployment-header">

        <div class="deploymentLoader" data-ng-show="isInitializing()">
            <div>
                <div class="gs-spinner large"></div>
                <p>Initializing <b>{{ deploymentId }}</b><br> Please wait...</p>
            </div>
        </div>

        <div class="header-left">
            <div data-ng-hide="isInitializing()">

                <div class="content-header">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a ng-href="#/deployments">{{ 'breadcrumb.deployments' | translate }}</a></li>
                            <li class="active"><span>{{ deploymentId }} <a ng-href="#/blueprint/{{ blueprintId }}/topology">({{ blueprintId }})</a> </span></li>
                        </ul>
                    </div>
                </div>

                <div section-nav-menu="navMenu"></div>




                <div class="actions">
                    <div class="deployment-action-selector" deployment="deployment" on-delete="goToDeployments()" current-execution="currentExecution"></div>
                </div>

                <div app-status-widget deployment-id="deploymentId" id="appStatus"></div>

            </div>
        </div>

    </div>

    <div id="deployment-content" ng-hide="isInitializing()" ng-transclude></div>
    </span>
    <div ng-show="!!deploymentNotFound" class="not-found-message">

        <div class="message">
        Deployment not found.
        </div>
        <div>
            <a class="gs-btn" href="#/deployments">Go back to deployments</a>
            <a class="gs-btn" href="#/blueprints">Lets deploy a blueprint</a>
        </div>

    </div>
</div>
