<div class="cosmo-layout" id="deployments">

    <div class="content-header no-border">
        <div class="breadcrumbs"><ul>
            <li><span>{{'breadcrumb.deployments'|translate}}</span></li>
        </ul></div>

        <div class="right-side-actions">

            <button class="gs-btn" title="{{ 'executions.changeFilter.title' | translate }}" ng-click="changeExecutionDisplay()">{{ getExecutionsDisplayButtonLabel() }}</button>

        </div>
    </div>

    <table ng-show="!managerError" id="deploymentTable" class="gs-table">
        <thead>
            <tr>
                <th class="id">{{ 'deployments.table.heading.id' | translate }}</th>
                <th class="blueprint">{{ 'deployments.table.heading.blueprint' | translate }}</th>
                <th class="create">{{ 'deployments.table.heading.createDate' | translate }}</th>
                <th class="update">{{ 'deployments.table.heading.updated' | translate }}</th>
                <th class="actions">{{ 'deployments.table.heading.action' | translate }}</th>
                <th class="delete">{{ 'deployments.table.heading.delete' | translate }}</th>
            </tr>
        </thead>
        <tbody ng-repeat="deployment in deployments">
            <tr>
                <td class="id" ng-click="redirectTo(deployment)">{{deployment.id}}</td>
                <td class="blueprint" ng-click="redirectTo(deployment)">{{deployment.blueprint_id}}</td>
                <td class="create" ng-click="redirectTo(deployment)">{{deployment.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="description" ng-click="redirectTo(deployment)">{{deployment.updated_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="actions" ng-click="layerRedirectTo(deployment, $event, 'td.actions')">

                    <div class="workflow-selector"
                         deployment="deployment"
                         current-execution="getExecution(deployment)"></div>

                </td>
                <td class="delete" ng-click="layerRedirectTo(deployment, $event, 'td.delete')">
                    <button class="gs-btn btn-sm" data-ng-click="deleteDeployment(deployment)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="no-blueprints-message" ng-show="deployments.length == 0">{{ 'deployments.emptyMessage' | translate }}</div>
    <div class="gs-spinner large" ng-show="deployments == null && !managerError"></div>

    <div class="connect-error-message" ng-show="managerError">{{ 'connectError' | translate }}</div>
</div>
