<div class="events-widget" data-ng-class="{'closed': minimizeMode}" ng-show="showDeploymentEvents">
    <div class="bg"></div>
    <div class="head" data-ng-mousedown="dragIt($event)">
        <div class="title">Events</div>
        <a id="logs-page-link" href="#/logs?deployment_idLogs={{logsSearchParams.deployment_Id | encodeURI}}&sortByLogs={{logsSearchParams.sortBy}}&reverseLogs={{logsSearchParams.reverseOrder}}">View on logs & events</a>
        <div class="lastEvent" data-ng-show="!!lastEvent && minimizeMode">
            <div class="icon">
                <div class="icon-events" ng-class="getEventIcon(lastEvent)"></div>
            </div>
            <div class="type">{{ getEventText(lastEvent._source.event_type) }} {{ lastEvent._source.context.node_name ? ' - ' + lastEvent._source.context.node_name : '' }}</div>
        </div>
        <div class="dragBtn" data-ng-mousedown="dragIt($event)"></div>
    </div>
    <div class="containList" wheel-propagation="true">
        <table class="eventsList">
            <tr class="animate-repeat" data-ng-class="{'openRow' : isOpen }" ng-repeat="event in events track by event._id" data-ng-click="isOpen=!isOpen" ng-init="isOpen=false">
                <td class="icon">
                    <div class="icon-events" ng-class="getEventIcon(event)"></div>
                </td>
                <td class="type">{{ getEventText(event._source.event_type) }} {{ event._source.context.node_name ? ' - ' + event._source.context.node_name : '' }}</td>
                <td class="time">{{ event.formattedTimestamp }}</td>
                <td class="message">
                    <div class="brief">{{ event._source.message.text }}</div>
                </td>
            </tr>
        </table>
    </div>
</div>
