<div class="cosmo-layout" id="deployments">

    <div class="content-header no-border">
        <div class="breadcrumbs"><ul>
            <li><span>{{'breadcrumb.deployments'|translate}}</span></li>
        </ul></div>
    </div>

    <table ng-show="!managerError" id="deploymentTable" class="gs-table">
        <thead>
            <tr>
                <th class="id">{{ 'deployments.table.heading.id' | translate }}</th>
                <th class="blueprint">{{ 'deployments.table.heading.blueprint' | translate }}</th>
                <th class="create">{{ 'deployments.table.heading.createDate' | translate }}</th>
                <th class="update">{{ 'deployments.table.heading.updated' | translate }}</th>
                <th class="actions">{{ 'deployments.table.heading.action' | translate }}</th>
                <th class="delete">{{ 'deployments.table.heading.delete' | translate }}</th>
            </tr>
        </thead>
        <tbody ng-repeat="deployment in deployments">
            <tr>
                <td class="id"><a href="#/deployment/{{deployment.id}}/topology">{{deployment.id}}</a></td>
                <td class="blueprint"><a href="#/blueprint/{{deployment.blueprint_id}}/topology">{{deployment.blueprint_id}}</a></td>
                <td class="create">{{deployment.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="description">{{deployment.updated_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="actions" ng-click="layerRedirectTo(deployment, $event, 'td.actions')">
                    <div class="deployment-action-selector"
                         deployment="deployment"
                         on-begin="onExecutionStart()"
                         on-cancel="onExecutionCancel()"
                         on-delete="loadDeployments()"
                         current-execution="getExecution(deployment)">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="no-blueprints-message" ng-show="deployments.length == 0">{{ 'deployments.emptyMessage' | translate }}</div>
    <div class="gs-spinner large" ng-show="deployments == null && !managerError"></div>

    <div class="connect-error-message" ng-show="managerError">{{ 'connectError' | translate }}</div>
</div>
