<div id="deployment">
    <div class="executions">

        <div class="error" ng-show="errorMessage">{{ errorMessage | translate }}</div>

        <table class="gs-table gs-table-align-top" ng-hide="errorMessage">
            <thead>
            <tr>
                <th class="workflow">Workflow</th>
                <th class="id">ID</th>
                <th class="created">Created</th>
                <th class="status">Status</th>
                <th class="error">Error</th>
            </tr>
            </thead>
            <tbody data-ng-repeat="row in executionsList">
            <tr>
                <td class="workflow">{{ row.workflow_id }}</td>
                <td class="id">{{ row.id }}</td>
                <td class="created">{{ row.created_at | dateFormat: 'short' }}</td>
                <td class="status">{{ 'deployment.executions.' + row.status | translate }}</td>
                <td class="error">{{ row.error }}</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
