<div id="deployment">

    <div class="events">

        <div class="filters">
            <span>
                Workflow: <div multi:select:menu
                   data-options="workflowsList"
                   data-ng-model="eventsFilter.workflow"
                   data-init="[null]"
                   data-text="Choose Workflow"
                   data-onchange="filterEventsByWorkflow(filter)"></div>
            </span>
            <span>
                Event Type: <div multi:select:menu
                    data-options="eventTypeList"
                    data-ng-model="eventsFilter.type"
                    data-init="[null]"
                    data-text="Choose Type"
                    data-onchange="filterEventsByType(filter)"></div>
            </span>
            <span>
                <div class="search">
                    <input type="text" spellcheck="false" name="findNode" ng-enter="eventFindNodes()" data-ng-model="eventsFilter.nodes" placeholder="Search Node"><button data-ng-click="eventFindNodes()">Find</button>
                    <span class="close" data-ng-click="clearFindNode()" data-ng-show="eventsFilter.nodes.length">x</span>
                </div>
            </span>
            <span>
                <button class="gs-btn" data-ng-click="viewAllLogs()">All logs</button>
            </span>
            <span class="autopull">
                <label>Autopull</label><span ng-class="{'false': 'off', 'true':'on'}[isSortActive()]">{{ {'false': 'off', 'true':'on'}[isSortActive()] }}</span>
            </span>
            <div class="loading" data-ng-show="filterLoading"></div>
        </div>

        <div class="newEvents" data-ng-show="newEvents>0">
            <p data-ng-click="scrollToTop()">{{ newEvents }} new events</p>
        </div>

        <table class="gs-table eventsTable">
            <thead>
            <tr>
                <th class="icon"><!-- icon --></th>
                <th class="date sorting" data-ng-click="sortEvents('timestamp')" data-ng-class="isSorted('timestamp')">Timestamp</th>
                <th class="type sorting" data-ng-click="sortEvents('event_type')" data-ng-class="isSorted('event_type')">{{ 'deployment.table.heading.eventType' | translate }}</th>
                <th class="node sorting" data-ng-click="sortEvents('node')" data-ng-class="isSorted('node')">{{ 'deployment.table.heading.node' | translate }}</th>
                <th class="task sorting" data-ng-click="sortEvents('message.text')" data-ng-class="isSorted('message.text')">{{ 'deployment.table.heading.message' | translate }}</th>
                <th class="action"><!-- Actions --></th>
            </tr>
            </thead>
            <tbody class="animate-repeat" ng-repeat="event in eventHits" ng-init="isOpen=false">
            <tr>
                <td data-ng-click="isOpen=!isOpen" class="icon-events cliclable" ng-class="getEventIcon(event)"></td>
                <td data-ng-click="isOpen=!isOpen" class="date cliclable">{{event._source.timestamp == undefined && 'N/A' || event._source.timestamp}}</td>
                <td data-ng-click="isOpen=!isOpen" class="type cliclable">{{getEventText(event._source.event_type) == undefined && 'N/A' || getEventText(event._source.event_type)}}</td>
                <td data-ng-click="isOpen=!isOpen" class="node cliclable">{{event._source.context.node_name == undefined && 'N/A' || event._source.context.node_name}}</td>
                <td data-ng-click="isOpen=!isOpen" class="task cliclable">{{event._source.message.text == undefined && 'N/A' || event._source.message.text}}</td>
                <td class="action"><button class="gs-btn" data-ng-click="viewLogsByEvent(event)">Logs</button></td>
            </tr>
            <tr class="details" data-ng-show="isOpen">
                <td colspan="6">
                    <div class="group">
                        <span><b>Execution ID:</b> {{ event._source.context.execution_id == undefined && 'N/A' || event._source.context.execution_id }}</span>
                        <span><b>Node ID:</b> {{ event._source.context.node_id == undefined && 'N/A' || event._source.context.node_id }}</span>
                    </div>
                    <div class="group">
                        <span><b>Task Name:</b> {{ event._source.context.task_name == undefined && 'N/A' || event._source.context.task_name }}</span>
                        <span><b>Plugin:</b> {{ event._source.context.plugin == undefined && 'N/A' || event._source.context.plugin }}</span>
                        <span><b>Operation:</b> {{ event._source.context.operation == undefined && 'N/A' || event._source.context.operation }}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="emptyTable" data-ng-hide="eventHits.length">There are no events at this moment...</div>

    </div>

</div>
