<div class="cosmo-layout" id="deployment">

    <div deployment-layout
         depid="deploymentId"
         section="Executions"
         selectview="false"></div>

    <div class="executions">

        <table class="table">
            <thead>
            <tr>
                <th>Workflow</th>
                <th>ID</th>
                <th>Created</th>
                <th>Status</th>
                <th>Error</th>
            </tr>
            </thead>
            <tbody data-ng-repeat="row in executionsList">
            <tr>
                <td>{{ row.workflow_id }}</td>
                <td>{{ row.id }}</td>
                <td>{{ row.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ row.status }}</td>
                <td>{{ row.error }}</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>