<div class="properties-panel">
    <div class="title">
        {{showProperties.general.name}} Details
        <i ng-click="hideProperties()" class="fa fa-times-circle right close-properties-button"></i>
    </div>

    <div class="content">
        <div class="gs-selection-button" ng-show="selectNodesArr.length > 0">
            <div multi-select-menu
                 class="gs-select"
                 options="selectNodesArr"
                 ng-model="selectedNode"
                 onchange="nodeSelected(selectedNode)"></div>
        </div>

        <div class="buttons-group no-embed" checkbox-toggle value="propSection" ng-show="selectedNode != null">
            <button ng-repeat="(key, value) in showProperties" type="button" class="btn btn-default" ng-class="{active: key == propSection}" value="{{key}}">{{ 'plans.' + key | translate }}</button>
        </div>

        <div ng-switch="section" class="content-section">

            <div ng-switch="propSection" class="content-section prop-section">
                <div ng-switch-default="general">
                    <table>
                        <tr>
                            <td>{{ 'plans.details.key' | translate }}</td>
                            <td>{{ 'plans.details.value' | translate }}</td>
                        </tr>
                        <tr ng-repeat="(key, value) in showProperties.general">
                            <td>{{getPropertyKeyName(key)}}</td><td>{{ value.length > 0 ? value : 'N/A' }}</td>
                        </tr>
                    </table>
                </div>
                <div ng-switch-when="properties">
                    <table>
                        <tr>
                            <td>{{ 'plans.details.key' | translate }}</td>
                            <td>{{ 'plans.details.value' | translate }}</td>
                        </tr>
                        <tr ng-repeat="(key, value) in showProperties.properties">
                            <td>{{key}}</td><td>{{value}}</td>
                        </tr>
                    </table>
                </div>
                <div ng-switch-when="relationships">
                    <div class="no-properties" ng-show="showProperties.relationships.length == undefined">{{ 'plans.details.noRelationships' | translate }}</div>

                    <table class="relationships-table" ng-show="showProperties.relationships.length != undefined">
                        <tr>
                            <td class="relationships-target">{{ 'plans.details.target' | translate }}</td>
                            <td class="relationships-type">{{ 'plans.details.type' | translate }}</td>
                            <td class="relationships-source">{{ 'plans.details.source' | translate }}</td>
                        </tr>
                        <tr ng-repeat="relationship in showProperties.relationships">
                            <td colspan="3">
                                <table class="interfaces-table">
                                    <tr ng-click="showRelationship(relationship)">
                                        <td class="relationships-target">
                                            {{relationship.target_id}}
                                        </td>
                                        <td class="relationships-type">{{relationship.type}}</td>
                                        <td class="relationships-source">{{showProperties.general.name}}</td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </div>

                <pre ng-switch-when="interfaces">{{showProperties.interfaces}} </pre>

                <div ng-switch-when="overview">
                    <div ng-repeat="node in selectNodesArr">
                        <div class="overview-node-name">{{node.id}}</div>
                        <table class="overview-data">
                            <tr>
                                <td>{{ 'plans.details.key' | translate }}</td>
                                <td>{{ 'plans.details.value' | translate }}</td>
                            </tr>
                            <tr ng-repeat="(key, value) in getNodeStateData(node.id)">
                                <td>{{key}}</td><td>{{value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
