<div id="deployment-header">
    <div class="header-left">

        <div app-status-widget id="appStatus" ng-model="deployments['*'].process" status="{{ deployments['*'].state }}"></div>

        <div class="content-header">
            <div class="breadcrumbs"><ul id="deployments" breadcrumbs></ul></div>
        </div>

        <div class="buttons-group sections">
            <button data-ng-repeat="section in navMenu"
                    data-ng-click="goToSection(section)"
                    data-ng-class="isSectionActive(section)"
                    class="btn btn-default">{{ section.name }}</button>
        </div>

        <div settings-toggles id="settings-button" toggles="toggleBar" data-ng-show="selectview"></div>

        <div class="actions">
            <div class="gs-selection-button" ng-show="!deploymentInProgress">
                <div multi:select:menu
                     class="gs-select"
                     data-options="workflowsList"
                     data-ng-model="selectedWorkflow.data"
                     data-text="Select workflow"></div>
            </div>
            <div class="executingWorkflow" ng-show="deploymentInProgress">
                {{ 'deployment.process.' + executedData.workflow_id | i18n }}
                <div class="deploymentExecute" dots-loader speed="50" ng-show="deploymentInProgress"></div>
            </div>
            <i class="deployment-play" ng-class="{play: isExecuteEnabled(), disabled: !isExecuteEnabled()}" ng-click="toggleConfirmationDialog('execute')" ng-show="!deploymentInProgress"></i>

            <i class="deployment-pause fa fa-times-circle" ng-show="deploymentInProgress" ng-click="toggleConfirmationDialog('cancel')"></i>
        </div>

        <div ng-show="isConfirmationDialogVisible">
            <div class="dialogBoxBg"></div>
            <div id="confirmationDialogContainer" class="dialogBox">
                <div class="dialogDescription" ng-show="confirmationType == 'execute'">{{ 'deployments.confirmationPopup.descriptionExecute' | i18n }} {{selectedWorkflow.data.value}}?</div>
                <div class="dialogDescription" ng-show="confirmationType == 'cancel'">{{ 'deployments.confirmationPopup.descriptionCancel' | i18n }} {{executedData.workflow_id}}?</div>
                <div class="dialogInputs" ng-show="selectedWorkflow.data.parameters !== undefined">
                    <div class="inputsParameters">
                        <ul>
                            <li ng-repeat="(name, value) in selectedWorkflow.data.parameters">{{name}}: <input type="text" ng-model="selectedWorkflow.data.parameters[name]" placeholder="{{ name }}"></li>
                        </ul>
                    </div>
                </div>
                <div class="error-message" data-ng-show="executedErr">{{ executedErr }}</div>
                <div class="buttonsContainer confirmationButtons">
                    <button id="cancelBtn" class="dialogButton" ng-click="toggleConfirmationDialog()">{{ 'deployments.confirmationPopup.cancelBtn' | i18n }}</button>
                    <button id="confirmBtn" class="dialogButton" ng-click="confirmConfirmationDialog()">{{ 'deployments.confirmationPopup.confirmBtn' | i18n }}</button>
                </div>
            </div>
        </div>

    </div>
</div>