<div class="cosmo-layout" id="deployment">

    <div deployment-layout
         depid="deploymentId"
         section="Network"
         selectview="false"></div>

    <div floating-deployment-node-panel node="page.viewNode" depid="deploymentId" class="floating-panel" id="right-side-menu"></div>

    <!--<div deployment-events="deploymentId"></div>-->

    <div class="networksContainer">

        <div bp:networks class="relations"></div>

        <!-- External networks -->

        <div class="network">
            <div class="line">
                <!--<div class="name" tooltip>{{ networks.external.name }}</div>-->
                <div class="subnet external" bp:network:coordinate ng-model="networks.external" tooltip>
                    <p>{{ networks.external.name }}</p>
                    <p class="cidr">{{ networks.external.type }}</p>
                </div>
                <div class="devices">
                    <div data-ng-repeat="device in networks.external.routers" class="router">
                        <div data-ng-class="{'true': 'portarea'}[device.ports.length > 0]">
                            <div class="inner">
                                <div class="buttons no-embed">
                                    <ul>
                                        <li data-ng-click="viewNodeDetails(device)" class="topology-glyph node-details"></li>
                                    </ul>
                                </div>
                                <i class="topology-glyph {{ device.icon }}" bp:network:coordinate ng-model="device"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-repeat="network in networks.external.subnets" class="network">
                <div class="line">
                    <div class="name" tooltip>{{ network.name }}</div>
                    <div class="subnet" bp:network:coordinate ng-model="network" tooltip>
                        <p>{{ network.name }}</p>
                        <p class="cidr">{{ network.type }}</p>
                    </div>
                </div>
                <div class="devices">
                    <div data-ng-repeat="device in network.routers" class="router">
                        <div data-ng-class="{'true': 'portarea'}[device.ports.length > 0]">
                            <div class="inner">
                                <div class="buttons no-embed">
                                    <ul>
                                        <li data-ng-click="viewNodeDetails(device)" class="topology-glyph node-details"></li>
                                    </ul>
                                </div>
                                <i class="topology-glyph {{ device.icon }}" bp:network:coordinate ng-model="device"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-repeat="network in networks.networks" class="network">
            <div class="line">
                <div class="name">{{ network.name }}</div>
                <div data-ng-repeat="subnet in network.subnets" class="subnet" bp:network:coordinate ng-model="subnet" tooltip>
                    <p>{{ subnet.name }}</p>
                    <div class="badge network-badge" data-ng-class="getBadgeStatus(subnet.state.status)">
                        {{ subnet.state.completed }}/{{ subnet.state.total }}
                    </div>
                    <p class="cidr">{{ subnet.cidr }}</p>
                </div>
            </div>
            <div class="devices">
                <div data-ng-repeat="device in network.devices" class="device">
                    <div data-ng-class="{'true': 'portarea'}[device.ports.length > 0]">
                        <div class="inner">
                            <div class="buttons no-embed">
                                <ul>
                                    <li data-ng-click="viewNodeDetails(device)" class="topology-glyph node-details"></li>
                                </ul>
                            </div>
                            <i class="topology-glyph {{ device.icon }}" bp:network:coordinate ng-model="device"></i>
                            <div class="badge">
                                {{ device.state.completed }}/{{ device.state.total }}
                            </div>
                        </div>
                        <div class="ports" data-ng-repeat="port in device.ports">
                            <div class="buttons no-embed">
                                <ul>
                                    <li data-ng-click="viewNodeDetails(device)" class="topology-glyph node-details"></li>
                                </ul>
                            </div>
                            <i class="topology-glyph {{ port.icon }}" bp:network:coordinate ng-model="port"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>