<div id="blueprint-header" class="cosmo-layout">
    <span ng-show="!blueprintNotFound">
    <div class="header-left">

        <div class="content-header">
            <div class="breadcrumbs"><ul>
                <li><a href="#/blueprints"> {{'breadcrumb.blueprints' | translate }}</a></li>

                <li><span> {{ blueprintId }}</span></li>
            </ul></div>
        </div>



        <div class="navigation-and-actions">

        <div section-nav-menu="navMenu"></div>

        <!--<div settings-toggles id="settings-button" toggles="toggleBar" data-ng-show="selectview"></div>-->
        <span class="actions">
            <div class="bp-action-selector" on-create="redirectToDeployment(id)" on-delete="redirectToBlueprints()" blueprint="selectedBlueprint" ></div>
        </span>
        </div>
    </div>

    <div ng-transclude></div>
    </span>
    <div ng-show="!!blueprintNotFound" class="not-found-message">

        <div class="message">
            {{'blueprints.missingMessages.indication' | translate}}
        </div>
        <div>
            <a class="gs-btn" href="#/blueprints">{{'blueprints.missingMessages.goBack' | translate }}</a>
            <span upload-blueprint-button>{{'blueprints.missingMessages.uploadBlueprint' | translate}}</span>
        </div>

    </div>

</div>
