<div class="blueprint-layout" id="blueprint">

    <div class="source clearfix" id="blueprint-source">

        <div class="noPreview" ng-show="!isSourceText(filename)">
            <p>{{'blueprints.source.' + errorMessage | translate}}</p>
            <p ng-show="downloadLink"><a ng-href="{{downloadLink}}" target="_blank">{{'blueprints.source.downloadLink' | translate}}</a></p>
        </div>

        <div class="source-content">

            <div class="tree">
                <ul>
                    <li data-ng-class="isSelected(data.name)" ng-repeat="data in browseData" ng-include="'../views/treeBrowseLevel.html'"></li>
                </ul>
            </div>

            <div class="sourcecode">
                <h4 data-ng-show="filename">{{ filename }}</h4>
                <div class="pre" ng-show="isSourceText(filename)">
                    <p class="empty" data-ng-hide="dataCode.data">{{ 'blueprints.source.chooseFile' | translate }}</p>
                    <div code-highlight="yml" ng-model="dataCode"></div>
                </div>
            </div>
        </div>
    </div>

</div>
