<div id="deployBlueprintDialog" class="dialogBox">
    <div class="dialogTitle">
        <label>{{ 'dialogs.deploy.title' | translate }} {{selectedBlueprint.id}}</label>
    </div>
    <div>
        <div class="dialogDescription">{{ 'dialogs.deploy.description' | translate }}</div>
        <div ng-show="!selectedBlueprint && !deployErrorMessage" class="gs-spinner large"></div>

        <div ng-if="selectedBlueprint" ng-enter="deployBlueprint(selectedBlueprint.id)">

            <div class="dialogDeploymentName">
                <input type="text" spellcheck="false" ng-model="$parent.deployment_id" placeholder="{{ 'dialogs.deploy.name' | translate }}" focus-on>
            </div>

            <div form-raw-params
                 ng-show="$parent.isParamsVisible()"
                 on-error="$parent.setError"
                 params="$parent.selectedBlueprint.plan.inputs"
                 raw-string="$parent.rawString"
                 valid="$parent.inputsValid"></div>

        </div>

        <div class="error-message monospace" ng-show="!!deployErrorMessage" ng-bind-html="deployErrorMessage"></div>
        <div class="buttonsContainer deployButtons">
            <button id="deployBtn" class="gs-btn" ng-disabled="!isDeployEnabled()" gs-spinner="{{inProcess}}" ng-click="deployBlueprint(selectedBlueprint.id)">{{ 'dialogs.deploy.create' | translate }}</button>
        </div>
    </div>
</div>
