<div id="blueprint-header">
    <div class="header-left">

        <div class="content-header">
            <div class="breadcrumbs"><ul id="blueprints" breadcrumbs></ul></div>
        </div>

        <div class="buttons-group sections">
            <button data-ng-repeat="section in navMenu"
                    data-ng-click="goToSection(section)"
                    data-ng-class="isSectionActive(section)"
                    class="btn btn-default">{{ section.name }}</button>
        </div>

        <div settings-toggles id="settings-button" toggles="toggleBar" data-ng-show="selectview"></div>

        <button class="deploy-button" ng-click="toggleDeployDialog(blueprint)">{{ 'blueprints.table.deployBtn' | i18n }}</button>

        <div ng-show="isDeployDialogVisible" ng-controller="DeployDialogCtrl">
            <div class="dialogBoxBg"></div>
            <div id="deployDialogContainer" class="dialogBox">
                <div class="dialogTitle">
                    <label>{{ 'blueprints.deployDialog.title' | i18n }} {{blueprintId}}</label>
                </div>
                <div class="dialogDescription">{{ 'blueprints.deployDialog.description' | i18n }}</div>
                <div class="dialogClose dialogButton" ng-click="closeDialog()"></div>
                <div class="dialogDeploymentName">
                    <input type="text" ng-model="deployment_id" ng-enter="deployBlueprint(blueprintId)" placeholder="{{ 'blueprints.deployDialog.deployName' | i18n }}">
                </div>
                <div id="deploy-error-message" ng-show="isDeployError()">{{deployErrorMessage}}</div>
                <div class="buttonsContainer deployButtons">
                    <button id="deployBtn" class="dialogButton" ng-class="{disabled: !isDeployEnabled(), enabled: isDeployEnabled(), loader: inProcess}" ng-click="deployBlueprint(blueprintId)">{{ 'blueprints.deployDialog.deployBtn' | i18n }}</button>
                </div>
            </div>
        </div>
    </div>
</div>