#plans, #blueprint, .blueprint-layout {

    #main-content-panel {
        padding-right: 40px;
    }
    #right-side-menu {
        position: fixed;
        // reuse constants
        top: 35px;
        bottom: 30px;
        right: 0;
        width: 600px;
        height: auto;
        border-left: 4px solid $COSMOUI_BLUEPRINT_DETAILS_LEFT_BORDER_COLOR;
        background-color: $COSMOUI_BLUEPRINT_DETAILS_BACKGROUND;
        padding-left: 19px;
        padding-right: 13px;
        padding-top: 20px;
        z-index: 9999;

        .close-properties-button {
            cursor: pointer;
        }
        .title {
            padding-bottom: $COSMOUI_BLUEPRINT_DETAILS_TITLE_PADDING_BOTTOM;
            line-height: $COSMOUI_BLUEPRINT_DETAILS_TITLE_LINE_HEIGHT;
            color: $COSMOUI_BLUEPRINT_DETAILS_TITLE_COLOR;
            font-size: $COSMOUI_BLUEPRINT_DETAILS_TITLE_FONT_SIZE;
            border-bottom: 1px solid $COSMOUI_BLUEPRINT_DETAILS_TITLE_BOTTOM_BORDER_COLOR;

            i {
                float: right;
                cursor: pointer;
            }
        }
        .content {
            margin-top: $COSMOUI_BLUEPRINT_DETAILS_CONTENT_MARGIN_TOP;

            .content-section {

                .no-relationships {
                    display: block;
                }
                table {
                    padding: 9.5px;
                    font-size: 13px;
                    color: #333333;
                    width: 100%;

                    tr {
                        height: 30px;
                        border-bottom: 1px solid #cadbec;

                        &:first-child {
                            background-color: $clr-base-12;
                        }

                        td {
                            min-width: 120px;
                            vertical-align: middle;
                            padding-left: 5px;

                            table {

                                tr:first-child td {
                                    background: #e5eff7;
                                    color: $COSMOUI_LIST_COLUMN_HEADER_TEXT_COLOR;
                                    border-bottom: 2px solid #fff;
                                }
                                tr {
                                    &:hover:not(:first-child) td {
                                        background-color: $COSMOUI_LIST_HOVER_BACKGROUND;

                                        &, i {
                                            color: $COSMOUI_LIST_HOVER_ACTION_TEXT_COLOR;
                                        }
                                        i {
                                            font-weight: $COSMOUI_LIST_HOVER_ACTION_FONT_WEIGHT;
                                        }
                                    }
                                    &:not(:first-child) td.actions {
                                        width: $COSMOUI_LIST_HOVER_ACTION_WIDTH;
                                        font-size: $COSMOUI_LIST_HOVER_ACTION_FONT_SIZE;

                                        select {
                                            background: $COSMOUI_INPUT_BACKGROUND;
                                            height: 35px;
                                            width: 160px;
                                            float: left;
                                            font-size: 14px;
                                            box-shadow: none;
                                            border: none;
                                            border-radius: 0;
                                            appearance: none;
                                            padding: 7px;
                                            cursor: pointer;

                                            &.disable {
                                                background: transparent;
                                                color: #000;
                                            }
                                        }
                                    }

                                    td {
                                        vertical-align: middle;
                                        height: 60px;
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #settings-button {
        display: inline-block;
        position: relative;
        left: 10px;
        vertical-align: middle;
    }
    .deploy-button {
        color: #fff;
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        background-color: #29aaee;
        border-radius: 3px;
        border-bottom: 1px solid #198ed9;
        border-right: 1px solid #198ed9;
        border-top: none;
        border-left: none;
        display: inline-block;
        margin-right: 0;
        float: right;

        &.disabled {
            background: $COSMOUI_BUTTON_DISABLED_BACKGROUND;
        }
        &.enabled {
            background: $COSMOUI_BUTTON_BACKGROUND;
        }
    }
    .toggles-bar {
        display: inline-block;
    }
    .content-header {
        border-bottom: 3px solid #d3dfe2;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .gs-table {

        tr {
            cursor: default;

            td i {
                margin-top: 9px;
            }
        }
        .node-details {
            cursor: pointer;
        }
        .topology-glyph {
            display: inline-block;
            line-height: .7;
            color: #53bbf1;

            &.fa {
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size: 30px;

                &:before {
                    font-size: 30px;
                }
            }
        }
    }

    .nodesTable {
        margin: 15px 0 0;
    }
}
