.blueprint-layout {
    height: 100%;

    .not-found-message {
        text-align: center;
        vertical-align: middle;

        .message {
            margin-top: 100px;
            padding: 20px;
        }
    }
    #right-side-menu {
        .content {
            .content-section {
                position: relative;
                padding-left: 0;
                top: 30px;
            }
        }
    }
}
