#blueprints-index{

    #ngProgress-container{
        position:relative;
        top:auto;
    }

    #main-content-panel {
      padding-right: 40px;
    }

    .gs-table {

        .blueprintDeployed {
            color: $COSMOUI_BLUEPRINTS_DEPLOY_COLOR;
        }
        tr {
            color: $text-color;

            td, th {
                border: none;

                &.icon {
                    width: 40px;
                    padding-top: 20px;
                }
                &.name, &.created, &.updated {
                    width: 33%;
                }
                &.deployments {
                    min-width: 160px;
                }
                &.actions {
                    min-width: 230px;
                    overflow: visible;
                }
                &.description {
                    padding-right: 30px;
                }
                .deploy-button {
                    color: $clr-base-20;
                    background-color: $clr-base-01;
                    font-weight: bold;
                    padding: 5px 10px 5px 10px;
                    border-radius: 5px;
                    border: 2px solid $clr-base-04;
                    float: left;

                    &.disabled {
                        background: $COSMOUI_BUTTON_DISABLED_BACKGROUND;
                    }
                    &.enabled {
                        background: $COSMOUI_BUTTON_BACKGROUND;
                    }
                }
                .delete-button {
                    color: #5a82a2;
                    font-size: 30px;
                    padding-left: 7px;
                    padding-top: 2px;
                }
                .deployments-number {
                    display: inline-block;
                    border: 2px solid #cadbec;
                    background-color: $clr-base-01;
                    border-radius: 5px;
                    width: 48px;
                    height: 33px;
                    line-height: 32px;
                    text-align: center;
                    color: $clr-base-20;
                    text-decoration: none;

                    &:hover {
                        background-color: $clr-base-05;
                    }
                }
            }
            th {
                height: $COSMOUI_LIST_HEADER_HEIGHT;

                .sorting {
                    cursor: pointer;
                }
            }
            td {
                height: $COSMOUI_LIST_LINE_HEIGHT;

                &.deployments {
                    text-align: center;
                }
            }
        }
    }

    .search {
        display:inline-block;
        label {
            font-weight: inherit;
        }
        input {
            width: auto;
        }
    }

    .uploadBtn {
        margin-top: 27px;
        float: right;
    }

  .connect-error-message {
    color: #f00;
    margin-left: 20px;
    margin-top: 20px;
  }

  .no-blueprints-message {
    color: #000;
    margin-left: 20px;
    margin-top: 20px;
  }

}
