<div id="deleteDialog" class="dialogBox">
    <div class="dialogTitle">Delete {{ 'dialogs.delete.' + deleteState.type | translate }}</div>
    <div class="dialogDescription">Are you sure you want to delete '{{ deleteState.itemToDelete.id }}'?</div>
    <div class="error-message" data-ng-show="deleteState.errorMessage != ''">{{ deleteState.errorMessage }}</div>
    <div class="buttonsContainer confirmationButtons">
        <div class="dialogCheckbox" ng-show="deleteState.type == 'deployment'"><label><input type="checkbox" ng-disabled="deleteState.inProcess" data-ng-model="ignoreLiveNodes" > Force Delete</label></div>
        <button id="cancelBtnDelDep" class="gs-btn" ng-click="closeThisDialog()">{{ 'dialogs.delete.cancel' | translate }}</button>
        <button class="gs-btn" gs-spinner="{{deleteState.inProcess}}" ng-click="confirmDelete()">{{ 'dialogs.delete.delete' | translate }}</button>
    </div>
</div>
