<div id="confirmationDialogContainer" class="dialogBox">
    <div class="dialogTitle">{{ 'dialogs.confirm.title' | translate }}</div>



    <div class="dialogDescription" ng-show="confirmationType == 'execute'">{{ 'dialogs.confirm.descriptionExecute' | translate }} {{getSelectedWorkflow()}}?</div>
    <div class="dialogDescription" ng-show="confirmationType == 'cancel'">{{ 'dialogs.confirm.descriptionCancel' | translate }} {{getSelectedWorkflow()}}?</div>


    <div class="selected-workflow">
    <div form-raw-params
         ng-show="isParamsVisible()"
         on-error="setErrorMessage(msg)"
         params="workflow.parameters"
         raw-string="rawString"
         valid="inputsValid"></div>

    </div>

    <div class="error-message" data-ng-show="!!executeErrorMessage">{{ executeErrorMessage }}</div>

    <div class="buttonsContainer confirmationButtons" ng-show="confirmationType == 'execute'">
        <button class="gs-btn" ng-click="closeThisDialog()" >{{ 'dialogs.confirm.cancel' | translate }}</button>
        <button class="gs-btn" ng-enabled="isExecuteEnabled()" gs-spinner="{{inProcess}}" ng-click="executeWorkflow(selectedDeployment)">{{ 'dialogs.confirm.confirm' | translate }}</button>
    </div>

    <div class="buttonsContainer confirmationButtons" ng-show="confirmationType == 'cancel'">
        <button class="gs-btn" ng-click="closeThisDialog()">{{ 'dialogs.confirm.cancel' | translate }}</button>
        <button class="gs-btn" ng-click="cancelWorkflow(selectedDeployment.id)">{{ 'dialogs.confirm.confirm' | translate }}</button>
    </div>
</div>
