
<div class="cosmo-layout" id="blueprints-index">

    <div class="content-header no-border">
        <div class="breadcrumbs">
            <ul>
                <li><span>{{ 'breadcrumb.blueprints' | translate }}</span></li>
            </ul>
        </div>
        <div class="right">
        <button class="gs-btn" ng-click="openAddDialog()">{{ 'blueprints.uploadBtn' | translate }}</button>
        </div>
    </div>
    <table class="gs-table" ng-show="!managerError">
        <thead>
            <tr>
                <th class="name">{{ 'blueprints.table.heading.name' | translate }}</th>
                <th class="created">{{ 'blueprints.table.heading.created' | translate }}</th>
                <th class="updated">{{ 'blueprints.table.heading.updated' | translate }}</th>
                <th class="deployments">{{ 'blueprints.table.heading.deployments' | translate }}</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody ng-repeat="blueprint in blueprints">
            <tr>
                <td class="name"><a href="#/blueprint/{{ blueprint.id }}/topology">{{ blueprint.id }}</a></td>
                <td class="created">{{ blueprint.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td class="updated">{{ blueprint.updated_at | dateFormat: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td class="deployments"><div class="deployments-number"><a href="#/deployments">{{ countDeployments(blueprint) }}</a></div></td>
                <td class="actions">
                    <div class="bp-action-selector" open-deploy-dialog="openDeployDialog(blueprint)" delete-blueprint="deleteBlueprint(blueprint)"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="connect-error-message" ng-show="managerError">{{ 'connectError' | translate }} - {{ managerError.message }} </div>

    <div  class="gs-spinner large" ng-show="blueprints == null && !managerError"></div>

    <div class="no-blueprints-message" ng-show="blueprints.length == 0">{{ 'blueprints.emptyMessage' | translate }}</div>
</div>
