<div class="cosmo-layout" id="blueprints-index">
    <div class="content-header">
        <div class="breadcrumbs"><ul id="blueprints" breadcrumbs></ul></div>
        <div class="right">
        <button class="gs-btn" ng-click="toggleAddDialog()">{{ 'blueprints.uploadBtn' | i18n }}</button>
        </div>
    </div>
    <table class="table" ng-show="!cosmoConnectionError()">
        <thead>
            <tr>
                <th class="name">{{ 'blueprints.table.heading.name' | i18n }}</th>
                <th class="created">{{ 'blueprints.table.heading.created' | i18n }}</th>
                <th class="updated">{{ 'blueprints.table.heading.updated' | i18n }}</th>
                <th class="deployments">{{ 'blueprints.table.heading.deployments' | i18n }}</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody ng-repeat="blueprint in blueprints">
            <tr>
                <td class="name"  ng-click="redirectTo(blueprint)">{{ blueprint.id }}</td>
                <td class="created"  ng-click="redirectTo(blueprint)">{{ blueprint.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td class="updated"  ng-click="redirectTo(blueprint)">{{ blueprint.updated_at | dateFormat: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td class="deployments"><div class="deployments-number" ng-click="redirectToDeployments(blueprint)">{{ blueprint.deployments.length }}</div></td>
                <td class="actions">
                    <button class="deploy-button" ng-click="toggleDeployDialog(blueprint)">{{ 'blueprints.table.deployBtn' | i18n }}</button>
                    <i class="delete-button fa fa-times-circle right close-properties-button" ng-click="deleteBlueprint(blueprint)"></i>
                    <!--i id="blueprint-down" class="fa  fa-chevron-circle-down"></i><i class="fa  fa-play-circle-o" ng-click="deployBlueprint(blueprint)"></i-->
                </td>
            </tr>
        </tbody>
    </table>

    <div class="connect-error-message" ng-show="cosmoConnectionError()">{{ 'connectError' | i18n }}</div>

    <div class="loading" ng-show="blueprints == null && !cosmoConnectionError()"></div>

    <div class="no-blueprints-message" ng-show="blueprints.length == 0">{{ 'blueprints.emptyMessage' | i18n }}</div>

    <div ng-show="isAddDialogVisible" ng-controller="FileSelectionDialogCtrl">
        <div class="dialogBoxBg"></div>
        <div id="uploadDialogContainer" class="dialogBox">
            <div class="dialogTitle">{{ 'blueprints.uploadPopup.title' | i18n }}</div>
            <div class="dialogDescription">{{ 'blueprints.uploadPopup.description' | i18n }}</div>
            <div class="dialogClose dialogButton" ng-click="closeDialog()"></div>
            <form id="uploadForm" name="uploadForm">
                <div id="browse">
                    <div id="browseBtn" class="dialogButton"><i class="browse-button topology-glyph"></i></div>
                    <input type="text" spellcheck="false" id="browseTxt" ng-model="selectedFile.name" placeholder="{{ 'blueprints.uploadPopup.browseText' | i18n }}">
                    <input type="file" name="fileInput" id="fileInput" accept=".tar,.gz,.archive" ng-file-select="onFileSelect($files)">
                </div>
                <div class="name">
                    <input type="text" spellcheck="false" ng-model="blueprintUploadOpts.blueprint_id" placeholder="{{ 'blueprints.uploadPopup.blueprintName' | i18n }}">
                </div>
                <div class="name">
                    <input type="text" spellcheck="false" ng-model="blueprintUploadOpts.params.application_file_name" placeholder="{{ 'blueprints.uploadPopup.blueprintFilename' | i18n }}">
                </div>
                <div id="mainFile" style="display:none">Application file: <input type="text" ng-model="mainFileName"></div>
                <div id="upload-error-message" ng-show="isUploadError()">{{errorMessage}}</div>
                <div class="upload-process-anim" ng-show="uploadInProcess == true"></div>
                <button id="uploadBtn" class="dialogButton" ng-class="{disabled: !isUploadEnabled(), enabled: isUploadEnabled()}" ng-click="uploadFile()">{{ 'blueprints.uploadPopup.uploadBtn' | i18n }}</button>
            </form>
        </div>
    </div>

    <div ng-show="isDeployDialogVisible" ng-controller="DeployDialogCtrl">
        <div class="dialogBoxBg"></div>
        <div id="deployDialogContainer" class="dialogBox">
            <div class="dialogTitle">
                <label>{{ 'blueprints.deployDialog.title' | i18n }} {{selectedBlueprint.id}}</label>
            </div>
            <div class="dialogDescription">{{ 'blueprints.deployDialog.description' | i18n }}</div>
            <div class="dialogClose dialogButton" ng-click="closeDialog()"></div>
            <div class="dialogDeploymentName">
                <input type="text" spellcheck="false" ng-model="deployment_id" ng-enter="deployBlueprint(selectedBlueprint.id)" placeholder="{{ 'blueprints.deployDialog.deployName' | i18n }}">
            </div>
            <div class="dialogInputs deployInputs" ng-show="isParamsVisible()">
                <div class="buttons-group deployBtns">
                    <button data-ng-class="{'active': inputsState == 'params'}" class="btn btn-default" data-ng-click="toggleInputsState('params')">Parameters</button>
                    <button data-ng-class="{'active': inputsState == 'raw'}" class="btn btn-default" data-ng-click="toggleInputsState('raw')">Raw</button>
                </div>
                <div class="inputsParameters" ng-show="inputsState == 'params'">
                    <ul>
                        <li ng-repeat="(name, value) in selectedBlueprint.plan.inputs">{{name}}: <input type="text" spellcheck="false" ng-trim="false" ng-model="inputs[name]" placeholder="{{ 'blueprints.deployDialog.enterValue' | i18n }}"></li>
                    </ul>
                </div>
                <div class="inputsRaw" ng-show="inputsState == 'raw'">
                    <textarea ng-model="rawString" spellcheck="false"></textarea>
                </div>
            </div>
            <div id="deploy-error-message" ng-show="showError">{{deployErrorMessage}}</div>
            <div class="buttonsContainer deployButtons">
                <button id="deployBtn" class="dialogButton" ng-class="{disabled: !isDeployEnabled(), enabled: isDeployEnabled(), loader: inProcess}" ng-click="deployBlueprint(selectedBlueprint.id)">{{ 'blueprints.deployDialog.deployBtn' | i18n }}</button>
            </div>
        </div>
    </div>

    <div data-ng-show="isDeleteBlueprintVisible">
        <div class="dialogBoxBg"></div>
        <div id="deleteBlueprintDialog" class="dialogBox">
            <div class="dialogTitle">Delete Blueprint</div>
            <div class="dialogClose dialogButton" ng-click="toggleDeleteDialog()"></div>
            <div class="dialogDescription">Are you sure you want to delete '{{ delBlueprintName }}'?</div>
            <div class="errorMessage" data-ng-show="delBlueprintError">{{ delErrorMessage }}</div>
            <div class="buttonsContainer confirmationButtons">
                <button id="cancelBtnDelDep" class="dialogButton" ng-click="toggleDeleteDialog()">{{ 'blueprints.deleteDialog.cancelBtn' | i18n }}</button>
                <button class="dialogButton" ng-class="{loader: deleteInProcess}" ng-click="confirmDeleteBlueprint()">{{ 'blueprints.deleteDialog.confirmBtn' | i18n }}</button>
            </div>
        </div>
    </div>
</div>
