<div data-ng-repeat="node in map" data-type="getDataType(node)" class="box" blueprint:coordinate="node.id">
    <div class="hoverup">
        <div class="buttons no-embed">
            <ul>
                <li data-ng-click="viewNode(node.id)" class="topology-glyph node-details"></li>
            </ul>
        </div>
    </div>
    <div pie:progress="piProgress2" class="piProgress" size="47">
        <div class="circle">
            <i class="icon topology-glyph" ng-class="node.class"></i>
            <div class="badge">{{ node.instances.deploy }}</div>
        </div>
    </div>

    <div class="head" ng-show="node.children != undefined">{{ node.name }}</div>
    <div class="holder" ng-show="node.children != undefined">
        <div bp-topology-nodes map="node.children"></div>
    </div>

    <p ng-show="node.children == undefined">{{ node.name }}</p>

</div>