<div data-ng-repeat="node in map" data-type="{{node.dataType}}" ng-class="{box: !node.isApp, app: node.isApp}" blueprint:coordinate="node.id">
    <div class="hoverup">
        <div class="buttons no-embed">
            <ul>
                <li data-ng-click="selected({node_id:node.id})" class="topology-glyph node-details"></li>
            </ul>
        </div>
    </div>
    <div pie:progress="piProgress2" class="piProgress" size="47">
        <div class="circle">
            <i class="icon topology-glyph" ng-class="node.class"></i>
            <div class="badge">{{ node.instances.deploy }}</div>
        </div>
    </div>

    <div class="head" ng-show="node.isApp == false">{{ node.name }}</div>
    <div class="holder" ng-show="node.isApp == false">
        <div bp-topology-nodes map="node.children"></div>
    </div>

    <p ng-show="node.isApp == true">{{ node.name }}</p>
</div>