<div style="height:100%;" class="ui-variation-{{uiVariation}}" ng-class="{embeded: embeded}">
    <div class="layout">
        <div header id="header"></div>
            <div class="main-content">
                <div class="main-content-display">
                    <div ui-view></div>
                </div>
            <div class="layout-fix-push"></div>
        </div>
        <!--  a fix for footer position. -->

        <!--  layout end -->
        <div id="footer">
            <div id="smallFooter">
                <ul class="links">
                    <li>Press <i class="fa fa-question-circle" aria-hidden="true"></i> for help</li>
                    <li>Manager version: {{ versions.manager }}</li>
                    <li>UI version: {{ versions.ui }}</li>
                    <li><a href="http://docs.getcloudify.org/api" target="_blank">API Spec</a></li>
                    <li><a href="https://cloudifysource.atlassian.net/browse/CFY" target="_blank">Report an Issue</a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/cloudify-users" target="_blank">Support Forum</a></li>
                </ul>
                Copyright &copy; GigaSpaces 2016, All rights reserved.
            </div>
        </div>
        <image-bakery-wizard></image-bakery-wizard>
    </div>

    <div class="ui-variation-brand" ng-if="uiVariation == 'telecom'">Telecom Edition</div>
</div>
