<div style="height:100%;">
    <div class="layout">
        <div header id="header"></div>
        <div id="main-content">

            <div id="configView">
                <h3>{{ 'config.title' | i18n }}</h3>

                <div id="configForm">
                    <div id="text">{{ 'config.mainMessage' | i18n }}</div>
                    <form>
                        <label for="cosmoServer">{{ 'config.addressLabel' | i18n }}</label>
                        <input type="text" spellcheck="false" id="cosmoServer" ng-model="cosmoServer">

                        <label for="cosmoPort">{{ 'config.portLabel' | i18n }}</label>
                        <input type="text" spellcheck="false" id="cosmoPort" ng-model="cosmoPort" maxlength="5" required>

                        <label><input type="checkbox" ng-model="cosmoLogs"> Enable Logs</label>

                        <ul id="errMsgList">
                            <li class="errMsg" ng-repeat="err in errList">
                                {{err}}
                            </li>
                        </ul>

                        <button type="button" class="btn btn-default" ng-click="saveConfiguration()">{{ 'config.saveBtn' | i18n }}</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="fix"></div>
        <!--&lt;!&ndash;  a fix for footer position. &ndash;&gt;-->
    </div>
    <!--  layout end -->
    <div id="footer"></div>
</div>
