<div class="cosmo-layout" id="deployment">

    <!-- Side Panel - START -->
    <div class="properties-panel right-panel" ng-hide="!showProperties">
        <div class="title">
            {{showProperties.general.name}} Details
            <i ng-click="hideProperties()" class="fa fa-times-circle right close-properties-button"></i>
        </div>

        <div class="content">

            <select ng-model="selectedNode" ng-change="nodeSelected(selectedNode)" ng-options="node.id for node in selectNodesArr">
                <option value="">{{ 'plans.all' | i18n }}</option>
            </select>
            <div class="selectbox-arrow"></div>

            <div class="buttons-group no-embed" checkbox-toggle value="propSection" ng-show="selectedNode != null">
                <button ng-repeat="(key, value) in showProperties" type="button" class="btn btn-default" ng-class="{active: key == propSection}" value="{{key}}">{{ 'plans.' + key | i18n }}</button>
            </div>

            <div ng-switch="section" class="content-section">

                <div ng-switch="propSection" class="content-section">
                    <div ng-switch-default="general">
                        <table>
                            <tr>
                                <td>{{ 'plans.details.key' | i18n }}</td>
                                <td>{{ 'plans.details.value' | i18n }}</td>
                            </tr>
                            <tr ng-repeat="(key, value) in showProperties.general">
                                <td>{{key}}</td><td>{{value}}</td>
                            </tr>
                        </table>
                    </div>
                    <div ng-switch-when="properties">
                        <table>
                            <tr>
                                <td>{{ 'plans.details.key' | i18n }}</td>
                                <td>{{ 'plans.details.value' | i18n }}</td>
                            </tr>
                            <tr ng-repeat="(key, value) in showProperties.properties">
                                <td>{{key}}</td><td>{{value}}</td>
                            </tr>
                        </table>
                    </div>
                    <div ng-switch-when="relationships">
                        <div ng-show="showProperties.relationships.length == undefined">{{ 'plans.details.noRelationships' | i18n }}</div>

                        <table class="relationships-table" ng-show="showProperties.relationships.length != undefined">
                            <tr>
                                <td>{{ 'plans.details.target' | i18n }}</td>
                                <td>{{ 'plans.details.type' | i18n }}</td>
                                <td>{{ 'plans.details.source' | i18n }}</td>
                            </tr>
                            <tr ng-repeat="relationship in showProperties.relationships">
                                <td colspan="3">
                                    <table class="interfaces-table">
                                        <tr ng-click="showRelationship(relationship)">
                                            <td><div class="relationship-arrow right" ng-class="{'down': selectedRelationship == relationship, 'right': selectedRelationship != relationship}"></div>{{relationship.target_id}}</td>
                                            <td>{{relationship.type}}</td>
                                            <td>{{showProperties.general.name}}</td>
                                        </tr>
                                        <tr ng-show="selectedRelationship.target_id == relationship.target_id && selectedRelationship.type == relationship.type">
                                            <td colspan="3">

                                                <table>
                                                    <tr>
                                                        <td>{{ 'plans.details.interface' | i18n }}</td>
                                                        <td>{{ 'plans.details.methods' | i18n }}</td>
                                                    </tr>
                                                    <tr ng-repeat="(key, value) in relationship.target_interfaces">
                                                        <td>{{key}}</td>
                                                        <td>
                                                            <ul ng-repeat="val in value">
                                                                <li>{{val}}</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>

                    </div>

                    <pre ng-switch-when="interfaces">{{showProperties.interfaces | yaml:'No interfaces to display' }} </pre>

                    <div ng-switch-when="overview">
                        <div ng-repeat="node in selectNodesArr">
                            <div class="overview-node-name">{{node.id}}</div>
                            <table class="overview-data">
                                <tr>
                                    <td>{{ 'plans.details.key' | i18n }}</td>
                                    <td>{{ 'plans.details.value' | i18n }}</td>
                                </tr>
                                <tr ng-repeat="(key, value) in getNodeStateData(node.id)">
                                    <td>{{key}}</td><td>{{value}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Side Panel - END -->


    <div events-widget id="plans-index-events-widget" data-ng-model="eventHits" ng-show="section != 'events'"></div>

    <div id="deployment-header">
        <div class="header-right">
            <div app-status-widget id="appStatus" ng-model="deployments['*'].process"></div>
        </div>
        <div class="header-left">
            <div class="content-header">
                <div class="breadcrumbs"><ul id="deployments" breadcrumbs></ul></div>
            </div>

            <!-- Settings - START -->
            <div class="buttons-group no-embed" checkbox-toggle value="section">
                <button type="button" class="btn btn-default" value="topology">Topology</button>
                <button type="button" class="btn btn-default" value="network">Network</button>
                <button type="button" class="btn btn-default" value="events">Events</button>
            </div>
            <div settings-toggles id="settings-button" class="no-embed" toggles="toggleBar"></div>

            <div class="actions">
                <select ng-model="selectedWorkflow"
                        ng-options="option.label as option.label for option in workflowsList"
                        ng-change="workflowSelected(selectedWorkflow)"
                        ng-disabled="isExecuting()"
                        ng-class="{disable: isExecuting()}"
                        ng-show="!isExecuting()">
                    <option value="">-- Select workflow --</option>
                </select>
                <div class="executingWorkflow" ng-show="isExecuting()">{{executingWorkflow}}</div>
                <i class="fa fa-play-circle-o" ng-click="toggleConfirmationDialog(deployment, 'execute')" ng-show="!isExecuting()"></i>
                <i ng-class="{deploymentExecute: isExecuting()}" ng-show="isExecuting()"></i>
                <i class="cancel-execution fa fa-times-circle left" ng-show="isExecuting()" ng-click="toggleConfirmationDialog(deployment, 'cancel')"></i>
            </div>

            <!-- Settings - END -->

            <div ng-switch="section" class="content-section">
                <!-- Topology Tab - START -->
                <div class="bpContainer" ng-switch-default="topology" blueprint:resize data-ng-class="{
                disableCompute: !toggleBar.compute,
                disableMiddleware: !toggleBar.middleware,
                disableModules: !toggleBar.modules,
                disableConnections: !toggleBar.connections
                }">
                    <div data-type="compute" data-ng-repeat="rootNode in map" class="box" blueprint:coordinate="rootNode.id">
                        <div class="hoverup">
                            <div class="buttons no-embed">
                                <ul>
                                    <li data-ng-click="viewNode(rootNode)" class="topology-glyph node-details"></li>
                                </ul>
                            </div>
                        </div>
                        <div pie:progress="deployments[indexNodes[rootNode.id].nodeId].process" class="piProgress" size="51" status="{{ deployments[indexNodes[rootNode.id].nodeId].status }}">
                            <div class="circle" state="{{ deployments[indexNodes[rootNode.id].nodeId].state }}">
                                <i class="icon topology-glyph host"></i>
                                <div class="badge" data-ng-class="getBadgeStatus(deployments[indexNodes[rootNode.id].nodeId].status)">
                                    {{ deployments[indexNodes[rootNode.id].nodeId].completed }}/{{ deployments[indexNodes[rootNode.id].nodeId].total }}
                                </div>
                                <div class="percents">{{ piePercents(deployments[indexNodes[rootNode.id].nodeId].process) }}</div>
                                <div class="shadow"></div>
                            </div>
                        </div>
                        <div class="head">{{ indexNodes[rootNode.id].name }}</div>
                        <div class="holder">
                            <!-- Middleware::start -->
                            <div data-type="middleware" data-ng-repeat="subNode in rootNode.children" class="box" blueprint:coordinate="subNode.id">
                                <div class="hoverup">
                                    <div class="buttons no-embed">
                                        <ul>
                                            <li data-ng-click="viewNode(subNode)" class="topology-glyph node-details"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div pie:progress="deployments[indexNodes[subNode.id].nodeId].process" class="piProgress" size="51" status="{{ deployments[indexNodes[subNode.id].nodeId].status }}">
                                    <div class="circle" state="{{ deployments[indexNodes[subNode.id].nodeId].state }}">
                                        <i class="icon topology-glyph app-server"></i>
                                        <div class="badge" data-ng-class="getBadgeStatus(deployments[indexNodes[subNode.id].nodeId].status)">
                                            {{ deployments[indexNodes[subNode.id].nodeId].completed }}/{{ deployments[indexNodes[subNode.id].nodeId].total }}
                                        </div>
                                        <div class="percents">{{ piePercents(deployments[indexNodes[subNode.id].nodeId].process) }}</div>
                                        <div class="shadow"></div>
                                    </div>
                                </div>
                                <div class="head">{{ indexNodes[subNode.id].name }}</div>
                                <div class="holder">
                                    <!-- Module::start -->
                                    <div data-type="modules" data-ng-repeat="appNode in subNode.children" class="app">
                                        <div class="hoverup">
                                            <div class="buttons no-embed">
                                                <ul>
                                                    <li data-ng-click="viewNode(appNode)" class="topology-glyph node-details"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div pie:progress="deployments[indexNodes[appNode.id].nodeId].process" class="piProgress" size="51" status="{{ deployments[indexNodes[appNode.id].nodeId].status }}">
                                            <div class="circle" blueprint:coordinate="appNode.id" state="{{ deployments[indexNodes[appNode.id].nodeId].state }}">
                                                <i class="icon topology-glyph app-module"></i>
                                                <div class="badge" data-ng-class="getBadgeStatus(deployments[indexNodes[appNode.id].nodeId].status)">
                                                    {{ deployments[indexNodes[appNode.id].nodeId].completed }}/{{ deployments[indexNodes[appNode.id].nodeId].total }}
                                                </div>
                                                <div class="percents">{{ piePercents(deployments[indexNodes[appNode.id].nodeId].process) }}</div>
                                                <div class="shadow"></div>
                                            </div>
                                        </div>
                                        <p>{{ indexNodes[appNode.id].name }}</p>
                                    </div>
                                    <!-- Module::end -->
                                </div>
                            </div>
                            <!-- Middleware::end -->
                        </div>
                    </div>
                    <div class="coordinates" blueprint:arrows="coordinates"></div>
                </div>
                <!-- Topology Tab - END -->
                <!-- Network Tab - START -->
                <!-- Network Topology - START -->
                <div class="networksContainer" ng-switch-when="network">
                    <div bp:networks class="relations" ng-model="networkcoords"></div>
                    <div data-ng-repeat="network in networks.external" class="network">
                        <div class="line">
                            <div class="name-space"></div>
                            <div data-ng-repeat="subnet in network.subnets" class="subnet" bp:network:coordinate ng-model="subnet">
                                <p>{{ subnet.name }}</p>
                                <p class="cidr">External Network</p>
                            </div>
                        </div>
                        <div class="devices">
                            <div data-ng-repeat="device in network.devices" class="device" bp:network:coordinate ng-model="device">
                                <i class="topology-glyph {{ device.icon }}"></i>
                            </div>
                        </div>
                    </div>
                    <div data-ng-repeat="network in networks.networks" class="network">
                        <div class="line">
                            <div class="name">{{ network.name }}</div>
                            <div data-ng-repeat="subnet in network.subnets" class="subnet" bp:network:coordinate ng-model="subnet">
                                <p>{{ subnet.name }}</p>
                                <p class="cidr">{{ subnet.cidr }}</p>
                            </div>
                        </div>
                        <div class="devices">
                            <div data-ng-repeat="device in network.devices" class="device" bp:network:coordinate ng-model="device">
                                <div class="buttons no-embed">
                                    <ul>
                                        <li data-ng-click="viewNode(device)" class="topology-glyph node-details"></li><li class="topology-glyph edit-node"></li>
                                    </ul>
                                </div>
                                <i class="topology-glyph {{ device.icon }}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Network Topology - END -->
                <!-- Network Tab - END -->
                <!-- Events Tab - START -->
                <div ng-switch-when="events">
                    <div class="filters">
                        Workflow: <div multi:select:menu
                             data-options="workflowsList"
                             data-ng-model="eventsFilter.workflow"
                             data-init="[null]"
                             data-text="Choose Workflow"
                             data-onchange="filterEventsByWorkflow(filter)"></div>
                        Event Type: <div multi:select:menu
                             data-options="eventTypeList"
                             data-ng-model="eventsFilter.type"
                             data-init="[null]"
                             data-text="Choose Type"
                             data-onchange="filterEventsByType(filter)"></div>
                        <div class="search">
                            <input type="text" data-ng-model="eventsFilter.nodes" placeholder="Search Node"><button data-ng-click="eventFindNodes()">Find</button>
                        </div>
                        <div class="loading" data-ng-show="filterLoading"></div>
                    </div>

                    <div class="newEvents" data-ng-show="newEvents>0">
                        <p data-ng-click="scrollToTop()">{{ newEvents }} new events</p>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="icon"><!-- icon --></th>
                                <th class="date sorting" data-ng-click="sortEvents('timestamp')" data-ng-class="isSorted('timestamp')">Timestamp</th>
                                <th class="type sorting" data-ng-click="sortEvents('eventType')" data-ng-class="isSorted('eventType')">{{ 'deployment.table.heading.eventType' | i18n }}</th>
                                <th class="node sorting" data-ng-click="sortEvents('node')" data-ng-class="isSorted('node')">{{ 'deployment.table.heading.node' | i18n }}</th>
                                <th class="task sorting" data-ng-click="sortEvents('task')" data-ng-class="isSorted('task')">{{ 'deployment.table.heading.task' | i18n }}</th>
                            </tr>
                        </thead>
                        <tbody class="animate-repeat" ng-repeat="event in eventHits" ng-init="isOpen=false">
                            <tr data-ng-click="isOpen=!isOpen">
                                <td class="icon" ng-class="getEventIcon(event._source.event_type)"></td>
                                <td class="date">{{event._source.timestamp == undefined && 'N/A' || event._source.timestamp | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td class="type">{{getEventText(event._source.event_type) == undefined && 'N/A' || getEventText(event._source.event_type)}}</td>
                                <td class="node">{{event._source.context.node_name == undefined && 'N/A' || event._source.context.node_name}}</td>
                                <td class="task">{{event._source.message.text == undefined && 'N/A' || event._source.message.text}}</td>
                            </tr>
                            <tr class="details" data-ng-show="isOpen">
                                <td colspan="5">
                                    <div class="group">
                                        <span><b>Execution ID:</b> {{ event._source.context.execution_id == undefined && 'N/A' || event._source.context.execution_id }}</span>
                                        <span><b>Node ID:</b> {{ event._source.context.node_id == undefined && 'N/A' || event._source.context.node_id }}</span>
                                    </div>
                                    <div class="group">
                                        <span><b>Task Name:</b> {{ event._source.context.task_name == undefined && 'N/A' || event._source.context.task_name }}</span>
                                        <span><b>Plugin:</b> {{ event._source.context.plugin == undefined && 'N/A' || event._source.context.plugin }}</span>
                                        <span><b>Operation:</b> {{ event._source.context.operation == undefined && 'N/A' || event._source.context.operation }}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="emptyTable" data-ng-hide="eventHits.length">There are no events at this moment...</div>
                </div>
                <!-- Events Tab - END -->
            </div>
        </div>
    </div>

    <div ng-show="isConfirmationDialogVisible">
        <div class="dialogBoxBg"></div>
        <div id="confirmationDialogContainer" class="dialogBox">
            <div class="dialogTitle">{{ 'deployments.confirmationPopup.title' | i18n }}</div>
            <div class="dialogDescription" ng-show="confirmationType == 'execute'">{{ 'deployments.confirmationPopup.descriptionExecute' | i18n }} {{selectedWorkflow}}?</div>
            <div class="dialogDescription" ng-show="confirmationType == 'cancel'">{{ 'deployments.confirmationPopup.descriptionCancel' | i18n }} {{executedData.workflowId}}?</div>
            <div class="buttonsContainer confirmationButtons">
                <button id="cancelBtn" class="dialogButton" ng-click="toggleConfirmationDialog()">{{ 'deployments.confirmationPopup.cancelBtn' | i18n }}</button>
                <button id="confirmBtn" class="dialogButton" ng-click="confirmConfirmationDialog(selectedWorkflow)">{{ 'deployments.confirmationPopup.confirmBtn' | i18n }}</button>
            </div>
        </div>
    </div>
</div>