<div class="cosmo-layout" id="deployments">

    <div class="content-header">
        <div class="breadcrumbs"><ul id="deployments" breadcrumbs></ul></div>
    </div>

    <table ng-show="!cosmoConnectionError()" id="deploymentTable" class="table">
        <thead>
            <tr>
                <th class="id">{{ 'deployments.table.heading.id' | i18n }}</th>
                <th class="blueprint">{{ 'deployments.table.heading.blueprint' | i18n }}</th>
                <th class="create">{{ 'deployments.table.heading.createDate' | i18n }}</th>
                <th class="update">{{ 'deployments.table.heading.updated' | i18n }}</th>
                <th class="actions">{{ 'deployments.table.heading.action' | i18n }}</th>
                <th class="delete">{{ 'deployments.table.heading.delete' | i18n }}</th>
            </tr>
        </thead>
        <tbody ng-repeat="deployment in deployments">
            <tr>
                <td class="id" ng-click="redirectTo(deployment)">{{deployment.id}}</td>
                <td class="blueprint" ng-click="redirectTo(deployment)">{{deployment.blueprint_id}}</td>
                <td class="create" ng-click="redirectTo(deployment)">{{deployment.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="description" ng-click="redirectTo(deployment)">{{deployment.updated_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="actions">
                    <div class="gs-selection-button" ng-show="!isExecuting(deployment.blueprint_id, deployment.id)">
                        <div multi:select:menu
                             class="gs-select"
                             data-options="getWorkflows(deployment)"
                             data-ng-model="selectedWorkflow.data"
                             data-text="Select workflow"></div>
                    </div>
                    <div class="executingWorkflow" ng-show="isExecuting(deployment.blueprint_id, deployment.id)">
                        {{getExecutionAttr(deployment, 'workflow_id')}}
                        <div class="deploymentExecute" dots-loader speed="50" ng-show="isExecuting(deployment.blueprint_id, deployment.id)"></div>
                    </div>
                    <i class="deployment-play" ng-class="{play: isExecuteEnabled(deployment.id), playDisabled: !isExecuteEnabled(deployment.id)}" ng-click="toggleConfirmationDialog(deployment, 'execute')" ng-show="!isExecuting(deployment.blueprint_id, deployment.id)"></i>
                    <i class="deployment-pause pause" ng-show="isExecuting(deployment.blueprint_id, deployment.id)" ng-click="toggleConfirmationDialog(deployment, 'cancel')"></i>
                </td>
                <td class="delete">
                    <button class="gs-btn btn-sm" data-ng-click="deleteDeployment(deployment)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="no-blueprints-message" ng-show="deployments.length == 0">{{ 'deployments.emptyMessage' | i18n }}</div>

    <div class="loading" ng-show="blueprints == null && !cosmoConnectionError()"></div>

    <div class="connect-error-message" ng-show="cosmoConnectionError()">{{ 'connectError' | i18n }}</div>

    <div ng-show="isConfirmationDialogVisible">
        <div class="dialogBoxBg"></div>
        <div id="confirmationDialogContainer" class="dialogBox">
            <div class="dialogDescription" ng-show="confirmationType == 'execute'">{{ 'deployments.confirmationPopup.descriptionExecute' | i18n }} {{getSelectedWorkflow()}}?</div>
            <div class="dialogDescription" ng-show="confirmationType == 'cancel'">{{ 'deployments.confirmationPopup.descriptionCancel' | i18n }} {{getSelectedWorkflow()}}?</div>
            <div class="error-message" data-ng-show="executedErr">{{ executedErr }}</div>
            <div class="buttonsContainer confirmationButtons">
                <button id="cancelBtn" class="dialogButton" ng-click="toggleConfirmationDialog()">{{ 'deployments.confirmationPopup.cancelBtn' | i18n }}</button>
                <button id="confirmBtn" class="dialogButton" ng-click="confirmConfirmationDialog(selectedDeployment)">{{ 'deployments.confirmationPopup.confirmBtn' | i18n }}</button>
            </div>
        </div>
    </div>

    <div data-ng-show="isDeleteDeploymentVisible">
        <div class="dialogBoxBg"></div>
        <div id="deleteDeploymentDialog" class="dialogBox">
            <div class="dialogTitle">Delete Deployment</div>
            <div class="dialogClose dialogButton" ng-click="closeDeleteDialog()"></div>
            <div class="dialogDescription">Are you sure you want to delete '{{ delDeployName }}'?</div>
            <div class="error-message" data-ng-show="delDeployError">{{ delDeployError }}</div>
            <div class="buttonsContainer confirmationButtons">
                <div class="dialogCheckbox"><label><input type="checkbox" data-ng-model="ignoreLiveNodes" ng-click="toggleIgnoreLiveNodes()"> Force Delete</label></div>
                <button id="cancelBtnDelDep" class="dialogButton" ng-click="closeDeleteDialog()">{{ 'deployments.confirmationPopup.cancelBtn' | i18n }}</button>
                <button class="dialogButton" ng-click="confirmDeleteDeployment()">{{ 'deployments.confirmationPopup.confirmBtn' | i18n }}</button>
            </div>
        </div>
    </div>
</div>
