<div class="cosmo-layout" id="deployments">

    <div class="content-header">
        <div class="breadcrumbs"><ul id="deployments" breadcrumbs></ul></div>
    </div>

    <table ng-show="!managerError" id="deploymentTable" class="gs-table">
        <thead>
            <tr>
                <th class="id">{{ 'deployments.table.heading.id' | translate }}</th>
                <th class="blueprint">{{ 'deployments.table.heading.blueprint' | translate }}</th>
                <th class="create">{{ 'deployments.table.heading.createDate' | translate }}</th>
                <th class="update">{{ 'deployments.table.heading.updated' | translate }}</th>
                <th class="actions">{{ 'deployments.table.heading.action' | translate }}</th>
                <th class="delete">{{ 'deployments.table.heading.delete' | translate }}</th>
            </tr>
        </thead>
        <tbody ng-repeat="deployment in deployments">
            <tr>
                <td class="id" ng-click="redirectTo(deployment)">{{deployment.id}}</td>
                <td class="blueprint" ng-click="redirectTo(deployment)">{{deployment.blueprint_id}}</td>
                <td class="create" ng-click="redirectTo(deployment)">{{deployment.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="description" ng-click="redirectTo(deployment)">{{deployment.updated_at | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="actions" ng-click="layerRedirectTo(deployment, $event, 'td.actions')">
                    <div class="gs-selection-button" ng-show="!isExecuting(deployment.blueprint_id, deployment.id)">
                        <div multi:select:menu
                             class="gs-select"
                             data-options="getWorkflows(deployment)"
                             data-ng-model="selectedWorkflow.data"
                             data-text="Select workflow"></div>
                    </div>
                    <div class="executingWorkflow" ng-dblclick="showInputs(deployment)" ng-show="isExecuting(deployment.blueprint_id, deployment.id)">
                        <div class="deploymentExecute" ng-show="isExecuting(deployment.blueprint_id, deployment.id)"></div>
                        {{ 'deployments.process.' + getExecutionAttr(deployment, 'workflow_id') | translate }}
                    </div>
                    <i class="deployment-play" ng-class="{play: isExecuteEnabled(deployment.id), playDisabled: !isExecuteEnabled(deployment.id)}" ng-dblclick="showInputs(deployment)" ng-click="openConfirmationDialog(deployment, 'execute')" ng-show="!isExecuting(deployment.blueprint_id, deployment.id)"></i>
                    <i class="deployment-pause fa fa-times-circle" ng-show="isExecuting(deployment.blueprint_id, deployment.id, getExecutionAttr(deployment, 'workflow_id'))" ng-click="openConfirmationDialog(deployment, 'cancel')"></i>
                </td>
                <td class="delete" ng-click="layerRedirectTo(deployment, $event, 'td.delete')">
                    <button class="gs-btn btn-sm" data-ng-click="deleteDeployment(deployment)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="no-blueprints-message" ng-show="deployments.length == 0">{{ 'deployments.emptyMessage' | translate }}</div>

    <div class="loading" ng-show="blueprints == null && !managerError"></div>

    <div class="connect-error-message" ng-show="managerError">{{ 'connectError' | translate }}</div>
</div>
