<div class="cosmo-layout" id="deployments">

    <div class="content-header">
        <div class="breadcrumbs">Deployments</div>
    </div>

    <table>
        <tr ng-repeat="blueprint in blueprints">
            <td>

                <table>
                    <tr>
                        <td ng-click="showDeployments(blueprint.id)">{{blueprint.name}} ({{blueprint.id}})</td>
                    </tr>
                    <tr ng-show="selectedBlueprint == blueprint.id">
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <td class="id">ID</td>
                                    <td class="create">Create date</td>
                                    <td class="update">Updated</td>
                                    <td class="actions">Action</td>
                                </tr>
                                <tr ng-repeat="deployment in blueprint.deployments">
                                    <td class="id" ng-click="redirectTo(deployment)">{{deployment.id}}</td>
                                    <td class="create">{{deployment.createdAt}}</td>
                                    <td class="description">{{deployment.updatedAt}}</td>
                                    <td class="actions">
                                        <select ng-model="selectedWorkflow" ng-options="workflow for workflow in blueprint.workflows"><option value="">-- Select workflow --</option></select>
                                        <i class="fa  fa-play-circle-o" ng-click="executeDeployment(deployment, selectedWorkflow)" ng-class="{deploymentExecute: isExecuting(deployment.id)}"></i>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>