<div id="deployment-progress-panel" ng-controller="DeploymentProgressPanelCtrl" ng-class="{'opened': panelOpen == true, 'closed': panelOpen == false}">
    <div ng-show="!panelOpen">
        <div class="data name">Workflow name:</div>
        <div class="data initialized">No. of instances initialized:</div>
        <div class="data starting">Starting:</div>
        <div class="data started">Started:</div>
        <div class="data ready">Ready:</div>
        <div class="data start-time">Started time:</div>

        <div class="panel-progress-bar">
            <div class="" dots-loader speed="50"></div>
        </div>

        <div class="expand-button" ng-click="togglePanel()"></div>
    </div>

    <div ng-show="panelOpen">
        <div class="collapse-button" ng-click="togglePanel()"></div>
        <table>
            <thead>
                <tr>
                    <th class="data name">Node name</th>
                    <th class="data initialized">No. of instances initialized</th>
                    <th class="data starting">Starting</th>
                    <th class="data started">Started</th>
                    <th class="data ready">Ready</th>
                    <th class="data start-time">Started time</th>
                    <th class="data finish-time">Finish time</th>
                    <th class="data status">Status</th>
                </tr>
            </thead>
            <tbody ng-repeat="node in nodes">
                <tr>
                    <td class="data name">{{ node.name }}</td>
                    <td class="data initialized">{{ node.initialized }}</td>
                    <td class="data starting">{{ node.started }}</td>
                    <td class="data started">{{ node.started }}</td>
                    <td class="data ready">{{ node.ready }}</td>
                    <td class="data start-time">{{ node.startTime }}</td>
                    <td class="data finish-time">{{ node.finishTime }}</td>
                    <td class="data status">{{ node.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>