
<div class="logo"></div>
<div class="version-check">
    <div id="needUpdate" ng-show="!!updateVersion">{{ 'version.updateAvailable' | translate }} <a href="http://getcloudify.org/downloads/get_cloudify_3x.html">{{ 'version.download' | translate }}</a></div>
</div>

<div class="logout-panel" ng-show="!!isLoggedIn">
    <div  class="user-icon"></div>
    <div class="username">{{ username }}</div>
    <div class="logout_icon" ng-click="logout()" title="{{ 'header.logout' | translate }}"></div>
</div>



<!--
<div class="search-box">
    <input type="text" id="search-field" placeholder="{{ 'searchPlaceholder' | translate }}">
    <input type="button" id="search-submit" ng-click="searchCloudify()">
</div>
-->
