<div class="cosmo-layout" id="hosts">

    <div class="content-header no-border">
        <div class="breadcrumbs"><ul>
            <li><span>{{'breadcrumb.hosts' | translate}}</span></li>
        </ul></div>
    </div>

    <div class="content-section">
        <div class="filters">

            <div class="filter gs-selection-button">
                {{'hosts.blueprintsFilter' | translate}}<br>
                <div multi:select:menu
                     class="gs-select"
                     data-multiple="false"
                     data-options="blueprintsList"
                     data-ng-model="eventsFilter.blueprints"
                     data-init="{{ filterModel.blueprints }}"
                     data-listener="true"
                     name="blueprints"
                     data-text="{{'hosts.blueprintsFilterPlaceholder' | translate}}"></div>
            </div>

            <div class="filter gs-selection-button" ng-show="deploymentsList.length">
                {{'hosts.deploymentsFilter' | translate}}<br>
                <div multi:select:menu
                     class="gs-select"
                     data-multiple="true"
                     data-options="deploymentsList"
                     data-ng-model="eventsFilter.deployments"
                     data-filter="eventsFilter.blueprints"
                     data-init="{{ filterModel.deployments }}"
                     data-listener="true"
                     name="deployments"
                     data-text="{{'hosts.deploymentsFilterPlaceholder' | translate}}"></div>
            </div>

            <button class="gs-btn" gs-spinner="{{filterLoading}}" data-ng-click="execute()" ng-disabled="isSearchDisabled()">Show</button>

            <div class="search">
                <input type="text" spellcheck="false" placeholder="Search" data-ng-model="searchFilter" />
            </div>
        </div>

        <div class="newHosts" data-ng-show="newHosts>0">
            <p data-ng-click="scrollToTop()">{{ newHosts }} new hosts</p>
        </div>

        <table class="gs-table">
            <thead>
            <tr>
                <th class="id">ID</th>
                <th class="state">State</th>
                <th class="deploymentId">Blueprint ID</th>
                <th class="deploymentId">Deployment ID</th>
                <th class="">Host ID</th>
                <th class="">Private IPs</th>
                <th class="">Public IPs</th>
                <!--<th class="">Security Groups</th>-->
                <!--<th class="">Image ID</th>-->
                <!--<th class="">Flavor ID</th>-->
            </tr>
            </thead>
            <tbody ng-repeat="row in nodesList | filter: searchFilter" ng-init="isOpen=false">
            <tr>
                <td class="id">{{row.id == null && '-' || row.id }}</td>
                <td class="state">{{row.state == null && '-' || row.state }}</td>
                <td class="deploymentId">{{getBlueprintId() == null && '-' || getBlueprintId() }}</td>
                <td class="deploymentId">{{row.deployment_id == null && '-' || row.deployment_id }}</td>
                <td class="">{{row.host_id == null && '-' || row.host_id }}</td>
                <td class="">{{row.runtime_properties.ips == null && '-' || row.runtime_properties.ips }}</td>
                <td class="">{{row.runtime_properties.ip_addresses == null && '-' || row.runtime_properties.ip_addresses.join(', ') }}</td>
                <!--<td class="">{{row.runtime_properties.security_groups == null && '-' || row.runtime_properties.security_groups }}</td>-->
                <!--<td class="">{{row.runtime_properties.image_id == null && '-' || row.runtime_properties.image_id }}</td>-->
                <!--<td class="">{{row.runtime_properties.flavor_id == null && '-' || row.runtime_properties.flavor_id }}</td>-->
            </tr>
            </tbody>
        </table>
        <div class="emptyTable" data-ng-hide="nodesList.length || filterLoading" ng-show="">
            <div>{{ emptyReason }}</div>
        </div>

        <div class="emptyTable" data-ng-show="filterLoading"> {{ 'general.loading' | translate }} </div>
    </div>

</div>
