<div style="height:100%;">
    <div class="layout">

            <div id="loginView">
                <div class="logo"></div>

                <div id="loginForm" class="dialogBox">
                    <div class="dialogTitle">{{ 'login.loginTitle' | translate }}</div>
                    <form ng-submit="login()">
                        <input type="text" spellcheck="false" ng-model="loginPage.username" placeholder="{{ 'login.userLabel' | translate }}" required>

                        <input type="password" spellcheck="false" placeholder="{{ 'login.passLabel' | translate }}" ng-model="loginPage.password" required>
                        <input type="text" spellcheck="false" ng-model="loginPage.auth_url" placeholder="Auth url" required>
                        <input type="text" spellcheck="false" ng-model="loginPage.tenant_name" placeholder="Tenant" required>
                        <input type="text" spellcheck="false" ng-model="loginPage.region" placeholder="Region" required>

                        <div class="actions">
                            <div class="remember">
                                <input type="checkbox" ng-model="loginPage.remember">
                                <label>{{ 'login.rememberLabel' | translate }}</label>
                            </div>

                            <input type="submit" class="hidden-thing"/>
                            <span class="error-message">{{ errorMessage}}</span>
                            <button type="button" class="gs-btn" ng-class="{'disabled': !isLoginEnabled()}" ng-click="login()">{{ 'login.loginBtn' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
