<div class="cosmo-layout" id="logs">

    <div class="content-header">
        <div class="breadcrumbs"><ul id="logs" breadcrumbs></ul></div>
    </div>

    <div class="content-section">
        <div class="filters">
            Execution: <div multi:select:menu
                           data-options="executionList"
                           data-ng-model="eventsFilter.executions"
                           data-init="[null]"
                           data-text="Choose Execution"
                           data-onchange="filterEventsByExecution(filter)"></div>
            Timeframe: <div multi:select:menu
                            data-options="timeframeList"
                            data-ng-model="eventsFilter.timeframe"
                            data-init="[{{defaultTimeframe}}]"
                            data-text="Choose timeframe"
                            data-onchange="filterEventsByTimeframe(filter)"></div>
            <div class="loading" data-ng-show="filterLoading"></div>
        </div>

        <div class="newEvents" data-ng-show="newEvents>0">
            <p data-ng-click="scrollToTop()">{{ newEvents }} new events</p>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="icon"><!-- icon --></th>
                <th class="date sorting" data-ng-click="sortEvents('timestamp')" data-ng-class="isSorted('timestamp')">Timestamp</th>
                <th class="type sorting" data-ng-click="sortEvents('eventType')" data-ng-class="isSorted('eventType')">{{ 'deployment.table.heading.eventType' | i18n }}</th>
                <th class="node sorting" data-ng-click="sortEvents('node')" data-ng-class="isSorted('node')">{{ 'deployment.table.heading.node' | i18n }}</th>
                <th class="task sorting" data-ng-click="sortEvents('task')" data-ng-class="isSorted('task')">{{ 'deployment.table.heading.task' | i18n }}</th>
            </tr>
            </thead>
            <tbody class="animate-repeat" ng-repeat="event in eventHits" ng-init="isOpen=false">
            <tr data-ng-click="isOpen=!isOpen">
                <td class="icon" ng-class="getEventIcon(event._source.event_type)"></td>
                <td class="date">{{event._source.timestamp == undefined && 'N/A' || event._source.timestamp | dateFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="type">{{getEventText(event._source.event_type) == undefined && 'N/A' || getEventText(event._source.event_type)}}</td>
                <td class="node">{{event._source.context.node_name == undefined && 'N/A' || event._source.context.node_name}}</td>
                <td class="task">{{event._source.context.task_name == undefined && 'N/A' || event._source.context.task_name}}</td>
            </tr>
            <tr class="details" data-ng-show="isOpen">
                <td colspan="5">
                    <div class="group">
                        <span><b>Execution ID:</b> {{ event._source.context.execution_id == undefined && 'N/A' || event._source.context.execution_id }}</span>
                        <span><b>Node ID:</b> {{ event._source.context.node_id == undefined && 'N/A' || event._source.context.node_id }}</span>
                    </div>
                    <div class="group">
                        <span><b>Task Name:</b> {{ event._source.context.task_name == undefined && 'N/A' || event._source.context.task_name }}</span>
                        <span><b>Plugin:</b> {{ event._source.context.plugin == undefined && 'N/A' || event._source.context.plugin }}</span>
                        <span><b>Operation:</b> {{ event._source.context.operation == undefined && 'N/A' || event._source.context.operation }}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="emptyTable" data-ng-hide="eventHits.length">There are no events at this moment...</div>
    </div>

</div>
