<div class="cosmo-layout" id="logs">

    <div class="content-header">
        <div class="breadcrumbs"><ul id="logs" breadcrumbs></ul></div>
    </div>

    <div class="content-section">
        <div class="filters">

            <div class="filter gs-selection-button" ng-show="blueprintsList.length">
                Blueprints:<br>
                <div multi:select:menu
                     class="gs-select"
                     data-multiple="true"
                     data-options="blueprintsList"
                     data-ng-model="eventsFilter.blueprints"
                     data-filter="eventsFilter.blueprints"
                     data-init="{{ filterModel.blueprints }}"
                     data-listener="true"
                     name="blueprints"
                     data-text="Choose Blueprints"></div>
            </div>

            <div class="filter gs-selection-button" ng-show="deploymentsList.length">
                Deployments:<br>
                <div multi:select:menu
                     class="gs-select"
                     data-multiple="true"
                     data-options="deploymentsList"
                     data-ng-model="eventsFilter.deployments"
                     data-filter="eventsFilter.blueprints"
                     data-init="{{ filterModel.deployments }}"
                     data-listener="true"
                     name="deployments"
                     data-text="Choose Deployments"></div>
            </div>

            <div class="filter gs-selection-button">
                Timeframe (from {{ timeframeFrom }}):<br>
                <div multi:select:menu
                     class="gs-select"
                     data-multiple="true"
                     data-options="timeframeList"
                     data-ng-model="eventsFilter.timeframe"
                     data-init="{{ filterModel.timeframe }}"
                     data-listener="true"
                     name="timeframe"
                     data-text="Choose Timeframe"></div>
            </div>

            <button class="gs-btn" data-ng-click="execute()" ng-class="{gsBtnDisabled: !!isSearchDisabled}">Show</button>

            <div class="loading" data-ng-show="filterLoading"></div>
        </div>

        <div class="newLogs" data-ng-show="newLogs>0">
            <p data-ng-click="scrollToTop()">{{ newLogs }} new logs</p>
        </div>

        <table class="gs-table gs-table-align-top eventsTable">
            <thead>
            <tr>
                <th class="icon"><!-- icon --></th>
                <th class="date sorting" data-ng-click="sortEvents('timestamp')" data-ng-class="isSorted('timestamp')">Timestamp</th>
                <th class="type sorting" data-ng-click="sortEvents('eventType')" data-ng-class="isSorted('eventType')">{{ 'deployment.table.heading.eventType' | i18n }}</th>
                <th class="node sorting" data-ng-click="sortEvents('logLevel')" data-ng-class="isSorted('logLevel')">{{ 'deployment.table.heading.logLevel' | i18n }}</th>
                <th class="node sorting" data-ng-click="sortEvents('operation')" data-ng-class="isSorted('operation')">{{ 'deployment.table.heading.operation' | i18n }}</th>
                <th class="node sorting" data-ng-click="sortEvents('node')" data-ng-class="isSorted('node')">{{ 'deployment.table.heading.node' | i18n }}</th>
                <th class="node sorting" data-ng-click="sortEvents('nodeId')" data-ng-class="isSorted('nodeId')">{{ 'deployment.table.heading.nodeId' | i18n }}</th>
                <th class="task sorting" data-ng-click="sortEvents('message.text')" data-ng-class="isSorted('message.text')">{{ 'deployment.table.heading.message' | i18n }}</th>
            </tr>
            </thead>
            <tbody class="animate-repeat" ng-repeat="log in logsHits" ng-init="isOpen=false">
            <tr data-ng-click="isOpen=!isOpen">
                <td class="icon-events" ng-class="getEventIcon(log._source.event_type)"></td>
                <td class="date">{{log._source.timestamp == undefined && '-' || log._source.timestamp}}</td>
                <td class="type">{{getEventText(log._source.event_type) == undefined && '-' || getEventText(log._source.event_type)}}</td>
                <td class="node">{{log._source.level == undefined && '-' || log._source.level | uppercase}}</td>
                <td class="node">{{log._source.context.operation == undefined && '-' || log._source.context.operation}}</td>
                <td class="node">{{log._source.context.node_name == undefined && '-' || log._source.context.node_name}}</td>
                <td class="node">{{log._source.context.node_id == undefined && '-' || log._source.context.node_id}}</td>
                <td class="task">{{log._source.message.text == undefined && '-' || log._source.message.text}}</td>
            </tr>
            <tr class="details" data-ng-show="isOpen">
                <td colspan="8">
                    <div class="group">
                        <span><b>Execution ID:</b> {{ log._source.context.execution_id == undefined && 'N/A' || log._source.context.execution_id }}</span>
                        <span><b>Node ID:</b> {{ log._source.context.node_id == undefined && 'N/A' || log._source.context.node_id }}</span>
                    </div>
                    <div class="group">
                        <span><b>Task Name:</b> {{ log._source.context.task_name == undefined && 'N/A' || log._source.context.task_name }}</span>
                        <span><b>Plugin:</b> {{ log._source.context.plugin == undefined && 'N/A' || log._source.context.plugin }}</span>
                        <span><b>Operation:</b> {{ log._source.context.operation == undefined && 'N/A' || log._source.context.operation }}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="emptyTable" data-ng-hide="logsHits.length">There are no events at this moment...</div>
    </div>

    <div ng-show="isDialogVisible">
        <div class="dialogBoxBg"></div>
        <div id="confirmationDialogContainer" class="dialogBox">
            <div class="dialogTitle">
                <label>{{ 'logs.errorPopup.title' | i18n }} {{blueprint.id}}</label>
            </div>
            <div class="dialogDescription">{{ 'logs.errorPopup.description' | i18n }}</div>
           <div class="error-message" data-ng-show="errorMsg">{{ errorMsg }}</div>
            <div class="buttonsContainer confirmationButtons">
                <button id="confirmBtn" class="dialogButton" ng-click="closeErrorDialog()">{{ 'logs.errorPopup.close' | i18n }}</button>
            </div>
        </div>
    </div>

</div>
