<div class="cosmo-layout" id="logs">

    <div class="content-header no-border">
        <div class="breadcrumbs"><ul>
            <li><span>{{'breadcrumb.logs' | translate }}</span></li>
        </ul></div>
    </div>

    <div ng-show="!!permissionDenied" class="error">{{'permissionError' | translate}}</div>
    <div class="content-section"  st-table="logsHits" st-pipe="updateData" id="Logs" ng-show="!permissionDenied">
        <div class="filters">

            <div class="filter gs-selection-button" ng-show="blueprintsList.length">
                {{'logs.filters.blueprints.title' | translate }}<br>
                <div multi-select-menu
                     class="gs-select"
                     data-multiple="true"
                     data-options="blueprintsList"
                     data-ng-model="eventsFilter.blueprints"
                     name="blueprints"
                     cfy-st-search
                     predicate="blueprint_id"
                     match="{{pluckArrayOfObjects(eventsFilter.blueprints,'value')}}"
                     data-text="{{'logs.filters.blueprints.text' | translate }}"></div>
            </div>

            <div class="filter gs-selection-button" ng-show="deploymentsList.length">
                {{'logs.filters.deployments.title' | translate }}<br>
                <div multi-select-menu
                     class="gs-select"
                     data-multiple="true"
                     data-options="deploymentsList"
                     data-ng-model="eventsFilter.deployments"
                     name="deployments"
                     cfy-st-search
                     predicate="deployment_id"
                     match="{{pluckArrayOfObjects(eventsFilter.deployments,'value')}}"
                     data-text="{{'logs.filters.deployments.text' | translate }}"></div>
            </div>

            <div class="filter gs-selection-button" ng-show="logLevelsList.length">
                {{'logs.filters.logLevels.title' | translate }}<br>
                <div multi-select-menu
                     class="gs-select"
                     data-multiple="true"
                     data-options="logLevelsList"
                     data-ng-model="eventsFilter.logLevels"
                     name="logLevels"
                     cfy-st-search
                     predicate="level"
                     match="{{pluckArrayOfObjects(eventsFilter.logLevels,'value')}}"
                     data-text="{{'logs.filters.logLevels.text' | translate }}"></div>
            </div>

            <div class="filter" cfy-st-search predicate="timestamp" gte="{{eventsFilter.timeRange.gte}}"  lte="{{eventsFilter.timeRange.lte}}">
                {{'logs.filters.timeRange.title' | translate }}<br/>
                <span class="filter input-container">
                    <input class="form-control filter-input" date-time ng-model="eventsFilter.timeRange.gte" format="YYYY-MM-DD HH:mm" view="date" placeholder="{{'logs.filters.timeRange.from' | translate}}"/>
                </span>
                <span class="filter input-container">
                    <input class="form-control filter-input" date-time data-ng-model="eventsFilter.timeRange.lte" format="YYYY-MM-DD HH:mm" view="date" placeholder="{{'logs.filters.timeRange.to' | translate}}"/>
                </span>
            </div>

            <div class="filter" >
                {{'logs.filters.messageText.title' | translate }}<br>
                <input class="form-control filter-input input-container" ng-model="eventsFilter.messageText" cfy-st-search predicate="message" equal="{{eventsFilter.messageText}}" placeholder="{{'logs.filters.messageText.text' | translate}}"/>
            </div>

            <!--</div>-->
            <!--timestamp Range filters-->
            <!-- TODO : add support of i18n here-->
            <!--<div class="gs-date-range-selection"-->
                 <!--cfy-st-search-->
                 <!--predicate="timestamp"-->
                 <!--gte="{{eventsFilter.timeRange.gte}}"-->
                 <!--lte="{{eventsFilter.timeRange.lte}}">-->

                <!--<div class="filter gs-selection-button">-->
                <!--Time range:<br>-->
                <!--<input class="gs-select"-->
                       <!--type="datetime"-->
                       <!--placeholder="From"-->
                       <!--date-time-->
                       <!--auto-close="true"-->
                       <!--data-ng-model="eventsFilter.timeRange.gte"/>-->
            <!--</div>-->
                <!--<div class="filter gs-selection-button">-->
                    <!--<br>-->
                    <!--<input class="gs-select"-->
                           <!--type="datetime"-->
                           <!--placeholder="To"-->
                           <!--date-time-->
                           <!--auto-close="true"-->
                           <!--data-ng-model="eventsFilter.timeRange.lte"/>-->
                <!--</div>-->
            <!--</div>-->

            <div class="actions">
                <button class="gs-btn" data-ng-click="clearFilters()" >{{'logs.filters.clearFilterButton' | translate}}</button>
                <columns-organizer columns="columns" ></columns-organizer>
            </div>
        </div>

        <div class="logs-error-message error" ng-if="getLogsError" ng-init="showErrorDetails = true">
            <a ng-click="showErrorDetails = !showErrorDetails">{{'logs.gettingLogsFailed' | translate}}
                <i ng-hide='showErrorDetails' class="fa fa-caret-up"></i>
                <i ng-show='showErrorDetails' class="fa fa-caret-down"></i>
            </a>
            <div ng-hide="showErrorDetails">{{getLogsError}}</div>
        </div>
        <table class="gs-table eventsTable" cfy-st-persist items-by-page="itemsPerPage" content-loaded="blueprintsList && deploymentsList" st-table-id="Logs">
            <thead>
                <tr>
                    <th ng-repeat="column in columns | filter:true">
                        <span ng-if='column.name === "Event Type Icon"' class="icon header"><!-- icon --></span>
                        <span ng-if='column.name === "Timestamp"' class="date sorting header"><span st-sort="timestamp" class="header-text" >{{'logs.fields.timestamp' | translate}}</span></span>
                        <span ng-if='column.name === "Event Type"' class="type sorting header"><span st-sort="event_type" class="header-text">{{ 'logs.fields.eventType' | translate }}</span></span>
                        <span ng-if='column.name === "Log Level"' class="level sorting header"><span st-sort="level" class="header-text">{{ 'logs.fields.level' | translate }}</span></span>
                        <span ng-if='column.name === "Operation"' class="operation sorting header"><span st-sort="context.operation" class="header-text">{{ 'logs.fields.operation' | translate }}</span></span>
                        <span ng-if='column.name === "Node Name"' class="node-name sorting header"><span st-sort="context.node_name" class="header-text">{{ 'logs.fields.nodeName' | translate }}</span></span>
                        <span ng-if='column.name === "Node Id"' class="node-id sorting header"><span st-sort="context.node_id" class="header-text">{{ 'logs.fields.nodeId' | translate }}</span></span>
                        <span ng-if='column.name === "Message"' class="task sorting header"><span st-sort="message.text" class="header-text">{{ 'logs.fields.messageText' | translate }}</span></span>
                    </th>
                </tr>
            </thead>
            <tbody  ng-repeat="log in logsHits" ng-init="isOpen=false">
            <tr data-ng-click="isOpen=!isOpen">
                <!-- All of the next filtering of properties is documented in logs_and_events_properties.md file-->
                <td ng-repeat="column in columns | filter:true">
                    <i ng-if='column.name === "Event Type Icon"' class="icon-events" ng-class="getEventIcon(log)"></i>
                    <p ng-if='column.name === "Timestamp"' class="date">{{log.timestamp == undefined && '-' || log.formattedTimestamp}}</p>
                    <p ng-if='column.name === "Event Type"' class="type">{{getEventText(log.event_type) == undefined && '-' || getEventText(log.event_type)}}</p>
                    <p ng-if='column.name === "Log Level"' class="level">{{log.level == undefined && '-' || log.level | uppercase}}</p>
                    <p ng-if='column.name === "Operation"' class="operation">{{log.context.operation == undefined && '-' || log.context.operation}}</p>
                    <p ng-if='column.name === "Node Name"' class="node_name">{{log.context.node_name == undefined && '-' || log.context.node_name}}</p>
                    <p ng-if='column.name === "Node Id"'  class="node_id">{{log.context.node_id == undefined && '-' || log.context.node_id}}</p>
                    <p ng-if='column.name === "Message"'  class="task large-text-overflow">{{log.message.text == undefined && '-' || log.message.text}}</p>
                </td>
            </tr>
            <tr class="details" data-ng-show="isOpen && isAnyColumnSelected()">
                <td colspan="8">
                    <div class="message-text">
                        <pre>{{log.message.text == undefined && 'N/A' || log.message.text}}</pre>
                    </div>
                    <div class="group">
                        <span><b>{{'logs.fields.auditTimestamp' | translate}}:</b> {{ log['@timestamp'] == undefined && 'N/A' || (log['@timestamp'] | dateFormat:'yyyy-MM-dd HH:mm:ss.ms')}}</span>
                        <span><b>{{'logs.fields.timestamp' | translate}}:</b> {{ log.timestamp == undefined && 'N/A' || (log.timestamp | dateFormat:'yyyy-MM-dd HH:mm:ss.ms')}}</span>
                        <span><b>{{'logs.fields.type' | translate}}:</b> {{ log.type == undefined && 'N/A' || log.type }}</span>
                        <span ng-if="log.type === 'cloudify_log'">
                            <span><b>{{'logs.fields.logger' | translate}}:</b> {{ log.logger == undefined && 'N/A' || log.logger }}</span>
                            <span><b>{{'logs.fields.level' | translate}}:</b> {{ log.level == undefined && 'N/A' || log.level }}</span>
                        </span>
                        <span ng-if="log.type === 'cloudify_event'">
                            <span><b>{{'logs.fields.eventType' | translate}}:</b> {{ log.event_type == undefined && 'N/A' || log.event_type }}</span>
                        </span>
                    </div>
                    <div class="group">
                        <span><b>{{'logs.fields.blueprintId' | translate}}:</b> {{ log.context.blueprint_id == undefined && 'N/A' || log.context.blueprint_id }}</span>
                        <span><b>{{'logs.fields.deploymentId' | translate}}:</b> {{ log.context.deployment_id == undefined && 'N/A' || log.context.deployment_id }}</span>
                        <span><b>{{'logs.fields.executionId' | translate}}:</b> {{ log.context.execution_id == undefined && 'N/A' || log.context.execution_id }}</span>
                        <span><b>{{'logs.fields.workflowId' | translate}}:</b> {{ log.context.workflow_id == undefined && 'N/A' || log.context.workflow_id }}</span>
                    </div>
                    <span ng-if="log.context.task_name || log.context.task_id || log.context.task_queue || log.context.task_target || log.context.operation || log.context.plugin || log.context.task_current_retries || log.context.task_total_retries">
                        <div class="group">
                            <span><b>{{'logs.fields.taskName' | translate}}:</b> {{ log.context.task_name == undefined && 'N/A' || log.context.task_name }}</span>
                            <span><b>{{'logs.fields.taskId' | translate}}:</b> {{ log.context.task_id == undefined && 'N/A' || log.context.task_id }}</span>
                            <span><b>{{'logs.fields.taskQueue' | translate}}:</b> {{ log.context.task_queue == undefined && 'N/A' || log.context.task_queue }}</span>
                            <span><b>{{'logs.fields.taskTarget' | translate}}:</b> {{ log.context.task_target == undefined && 'N/A' || log.context.task_target }}</span>
                        </div>
                        <div class="group">
                            <span><b>{{'logs.fields.operation' | translate}}:</b> {{ log.context.operation == undefined && 'N/A' || log.context.operation }}</span>
                            <span><b>{{'logs.fields.plugin' | translate}}:</b> {{ log.context.plugin == undefined && 'N/A' || log.context.plugin }}</span>
                            <span><b>{{'logs.fields.taskCurrentRetries' | translate}}:</b> {{ log.context.task_current_retries == undefined && 'N/A' || log.context.task_current_retries }}</span>
                            <span><b>{{'logs.fields.taskTotalRetries' | translate}}:</b> {{ log.context.task_total_retries == undefined && 'N/A' || log.context.task_total_retries }}</span>
                        </div>
                    </span>
                    <div class="group" ng-if="log.context.source_name || log.context.source_id || log.context.target_name || log.context.target_id">
                        <span><b>{{'logs.fields.sourceName' | translate}}:</b> {{ log.context.source_name == undefined && 'N/A' || log.context.source_name }}</span>
                        <span><b>{{'logs.fields.sourceId' | translate}}:</b> {{ log.context.source_id == undefined && 'N/A' || log.context.source_id }}</span>
                        <span><b>{{'logs.fields.targetName' | translate}}:</b> {{ log.context.target_name == undefined && 'N/A' || log.context.target_name }}</span>
                        <span><b>{{'logs.fields.targetId' | translate}}:</b> {{ log.context.target_id == undefined && 'N/A' || log.context.target_id }}</span>
                    </div>
                    <div class="group" ng-if="log.context.node_id || log.context.node_name">
                        <span><b>{{'logs.fields.nodeName' | translate}}:</b> {{ log.context.node_name == undefined && 'N/A' || log.context.node_name }}</span>
                        <span><b>{{'logs.fields.nodeId' | translate}}:</b> {{ log.context.node_id == undefined && 'N/A' || log.context.node_id }}</span>
                    </div>
                    <div class="group" ng-if="log.context.group || log.context.policy || log.context.trigger || log.context.trigger_parameters">
                        <span><b>{{'logs.fields.group' | translate}}:</b> {{ log.context.group == undefined && 'N/A' || log.context.group }}</span>
                        <span><b>{{'logs.fields.policy' | translate}}:</b> {{ log.context.policy == undefined && 'N/A' || log.context.policy }}</span>
                        <span><b>{{'logs.fields.trigger' | translate}}:</b> {{ log.context.trigger == undefined && 'N/A' || log.context.trigger }}</span>
                        <span><b>{{'logs.fields.triggerParameters' | translate}}:</b> {{ log.context.trigger-parameters == undefined && 'N/A' || log.context.trigger-parameters }}</span>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination" st-pagination="" st-items-by-page="itemsPerPage" st-displayed-pages="9"></div>
        <div class="emptyTable" data-ng-hide="logsHits.length">{{'logs.noLogs' | translate}}</div>
    </div>
    </div>
</div>
