<h1>{{ 'main.title.json' | translate }}</h1>
<pre>{{asString()}}</pre>
<h1>{{ 'main.title.yaml' | translate }}</h1>
<pre>{{yaml}}</pre>
<h1>{{ 'main.title.types' | translate }}</h1>
<div>
    {{dataContainer.getTypes()}}
</div>
<h1>{{ 'main.title.info' | translate }}</h1>

<dl ng-repeat="node in dataContainer.getNodes()" class="dl-horizontal">
    <dt>{{node.name}}</dt>
    <dd>
        <dl class="dl-horizontal" ng-repeat="item in ['getProperties','getPolicies']">
            <dt>{{item}}</dt>
            <dd>
                <pre>{{dataContainer[item](node)}}</pre>
            </dd>
        </dl>
    </dd>
</dl>

