<!--<div id="appContent">-->
   <div class="cosmo-layout">
<!---->
       Content goes here.
<!---->
   </div>
<!--<div class="layout">-->
<!--<div id="header"></div>-->
<!--<div id="left-side-menu" class="side">-->
    <!--<p>-->
           <!--Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum-->
    <!--</p>-->
    <!--</div>-->
<!--<div id="right-side-menu" class="other side"></div>-->
<!--<div id="main-content">-->
    <!--<div id="main-content-panel" ng-transclude>This is cosmoLayout</div>-->
    <!--</div>-->
<!--<div id="fix"></div>-->
<!--</div>-->
        <!--<div id="footer"></div>-->
    <!--<div side-menu class="side-menu"></div>-->
    <!--<div id="divider"></div>-->
    <!--<div id="mainContent">-->
        <!--<tool-bar id="contentToolbar"></tool-bar>-->
<!---->
        <!--<div id="dataContent">-->
            <!--<ul class="directory_listing">-->
                <!--<li>-->
                    <!--<a ng-click="showParent()" href="javascript:void(0)">..</a>-->
                <!--</li>-->
                <!--<li ng-repeat="file in files" ng-include="'file_list.html'"></li>-->
            <!--</ul>-->
<!---->
            <!--<script type="text/ng-template" id="file_list.html">-->
                <!--<a ng-show="file.type == 'd'" href="javascript:void(0)" ng-click="showDirectory(file)">{{'/' + file.name}}</a>-->
                <!--<a href="javascript:void(0)" ng-show="file.type =='f' && file.name.lastIndexOf('.') != -1 && file.name.substr(file.name.lastIndexOf('.') + 1) == 'yaml'" ng-click="showFile(file)">{{file.name}}</a>-->
                <!--<ul ng-show="file.children" class="directory_listing">-->
                    <!--<li ng-repeat="file in file.children" ng-include="'file_list.html'"></li>-->
                <!--</ul>-->
<!--//            </script>-->
<!--//        </div>-->
<!---->
<!--//    </div>-->
<!--</div>-->