<div class="cosmo-layout" id="plans">
    <div class="properties-panel right-panel" ng-hide="!showProperties">
        <div class="title">
            {{showProperties.general.name}} Details
            <i ng-click="hideProperties()" class="fa fa-times-circle right"></i>
        </div>
        <div class="content">
            <div class="buttons-group" checkbox-toggle value="propSection">
                <button ng-repeat="(key, value) in showProperties" type="button" class="btn btn-default" value="{{key}}">{{ 'plans.' + key | i18n }}</button>
            </div>
            <div ng-switch="propSection" class="content-section">
                <div ng-switch-default="general">
                    <table>
                        <tr ng-repeat="(key, value) in showProperties.general">
                            <td>{{key}}:</td><td>{{value}}</td>
                        </tr>
                    </table>
                </div>
                <div ng-switch-when="properties">
                    <table>
                        <tr ng-repeat="(key, value) in showProperties.properties">
                            <td>{{key}}:</td><td>{{value}}</td>
                        </tr>
                    </table>
                </div>
                <pre ng-switch-when="relationships">{{showProperties.relationships | yaml:'No relationships to display' }} </pre>
                <pre ng-switch-when="interfaces">{{showProperties.interfaces | yaml:'No interfaces to display' }} </pre>
                <div ng-switch-when="policies">
                    <table>
                        <tr ng-repeat="(key, value) in showProperties.policies">
                            <td>{{key}}:</td><td>{{value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="content-header no-embed">
        <div class="breadcrumbs"><ul id="blueprints" breadcrumbs></ul></div>
        <!--<div class="breadcrumbs"><ul><li>Blueprints</li><li>{{planName}}</li></ul></div>-->
     </div>

    <div class="buttons-group no-embed" checkbox-toggle value="section">
        <button type="button" class="btn btn-default" value="topology">Topology</button>
        <button type="button" class="btn btn-default" value="network">Network</button>
        <button type="button" class="btn btn-default" value="nodes">Nodes</button>
        <button type="button" class="btn btn-default" value="code">Code</button>
    </div>
    <div settings-toggles id="settings-button" class="no-embed" toggles="toggleBar"></div>

    <div ng-switch="section" class="content-section">

        <!-- Blueprint Contianter - START -->
        <div class="bpContainer" ng-switch-default="topology" blueprint:resize data-ng-class="{
        disableCompute: !toggleBar.compute,
        disableMiddleware: !toggleBar.middleware,
        disableModules: !toggleBar.modules,
        disableConnections: !toggleBar.connections
        }">
            <div data-type="compute" data-ng-repeat="rootNode in map" class="box" blueprint:coordinate="rootNode.id">
                <div class="hoverup">
                    <div class="buttons no-embed">
                        <ul>
                            <li data-ng-click="viewNode(rootNode)" class="topology-glyph node-details"></li><li class="topology-glyph edit-node"></li>
                        </ul>
                    </div>
                </div>
                <div pie:progress="piProgress2" class="piProgress" size="51">
                    <div class="circle">
                        <i class="icon topology-glyph host">
                            <div class="badge">{{ indexNodes[rootNode.id].general.numOfInstances }}</div>
                        </i>
                    </div>
                </div>
                <div class="head">{{ indexNodes[rootNode.id].name }}</div>
                <div class="holder">
                    <!-- Middleware::start -->
                    <div data-type="middleware" data-ng-repeat="subNode in rootNode.children" class="box" blueprint:coordinate="subNode.id">
                        <div class="hoverup">
                            <div class="buttons no-embed">
                                <ul>
                                    <li data-ng-click="viewNode(subNode)" class="topology-glyph node-details"></li><li class="topology-glyph edit-node"></li>
                                </ul>
                            </div>
                        </div>
                        <div pie:progress="piProgress2" class="piProgress" size="51">
                            <div class="circle">
                                <i class="icon topology-glyph app-server">
                                    <div class="badge">{{ indexNodes[subNode.id].general.numOfInstances }}</div>
                                </i>
                            </div>
                        </div>
                        <div class="head">{{ indexNodes[subNode.id].name }}</div>
                        <div class="holder">
                            <!-- Module::start -->
                            <div data-type="modules" data-ng-repeat="appNode in subNode.children" class="app">
                                <div class="hoverup">
                                    <div class="buttons no-embed">
                                        <ul>
                                            <li data-ng-click="viewNode(appNode)" class="topology-glyph node-details"></li><li class="topology-glyph edit-node"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div pie:progress="piProgress2" class="piProgress" size="51">
                                    <div class="circle" blueprint:coordinate="appNode.id">
                                        <i class="icon topology-glyph app-module">
                                            <div class="badge">{{ indexNodes[appNode.id].general.numOfInstances }}</div>
                                        </i>
                                    </div>
                                </div>
                                <p>{{ indexNodes[appNode.id].name }}</p>
                            </div>
                            <!-- Module::end -->
                        </div>
                    </div>
                    <!-- Middleware::end -->
                </div>
            </div>
            <div class="coordinates" blueprint:arrows="coordinates"></div>
        </div>
        <!-- Blueprint Contianter - END -->

        <!-- Network Topology - START -->
        <div class="networksContainer" ng-switch-when="network">
            <div bp:networks class="relations" ng-model="networkcoords"></div>
            <div data-ng-repeat="network in networks.external" class="network">
                <div class="line">
                    <div class="name-space"></div>
                    <div data-ng-repeat="subnet in network.subnets" class="subnet" bp:network:coordinate ng-model="subnet">
                        <p>{{ subnet.name }}</p>
                        <p class="cidr">External Network</p>
                    </div>
                </div>
                <div class="devices">
                    <div data-ng-repeat="device in network.devices" class="device" bp:network:coordinate ng-model="device">
                        <i class="topology-glyph {{ device.icon }}"></i>
                    </div>
                </div>
            </div>
            <div data-ng-repeat="network in networks.networks" class="network">
                <div class="line">
                    <div class="name">{{ network.name }}</div>
                    <div data-ng-repeat="subnet in network.subnets" class="subnet" bp:network:coordinate ng-model="subnet">
                        <p>{{ subnet.name }}</p>
                        <p class="cidr">{{ subnet.cidr }}</p>
                    </div>
                </div>
                <div class="devices">
                    <div data-ng-repeat="device in network.devices" class="device" bp:network:coordinate ng-model="device">
                        <i class="topology-glyph {{ device.icon }}"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Network Topology - END -->

        <!-- Nodes - START -->
        <div ng-switch-when="nodes">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Number of instances</th>
                        <th>Contained in</th>
                        <th>Connected to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in dataTable">
                        <td><i class="topology-glyph {{ getIcon(row.type) }}"></i></td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.type }}</td>
                        <td>{{ row.instances }}</td>
                        <td>
                            <span data-ng-if="row.contained_in != false">{{ indexNodes[row.contained_in].name }}</span>
                            <span data-ng-if="row.contained_in == false">--</span>
                        </td>
                        <td>
                            <span data-ng-if="row.connected_to.length > 0" data-ng-repeat="connection in row.connected_to">{{ indexNodes[connection].name }}</span>
                            <span data-ng-if="row.connected_to == 0">--</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Nodes - END -->

        <!-- Code - START -->
        <div ng-switch-when="code">
            <pre>{{ dataCode | yaml:'Code not found' }}</pre>
        </div>
        <!-- Code - END -->

    </div>





</div>

