<div ng-switch="setBrowseType(data)">
    <span class="cliclable" ng-switch-when="folder" ng-click="openTreeFolder(data)">
        <i class="fa " data-ng-class="isFolderOpen(data)"></i>
        {{data.name}}
    </span>
    <span class="cliclable" data-ng-class="isSelected(data.name)" ng-switch-when="file-ASCII" ng-click="openSourceFile(data)">
        <i class="fa fa-file-code-o"></i>
        {{data.name}}
    </span>
    <span class="cliclable" ng-switch-when="file-BINARY" ng-click="openSourceFile(data)">
        <i class="fa fa-file-image-o"></i>
        {{data.name}}
    </span>
</div>

<ul data-ng-show="data.show">
    <li ng-repeat="data in data.children" class="parent_li" ng-include="'../views/treeBrowseLevel.html'"></li>
</ul>